<div class="clearfix"></div>	
<div class="container">
<!-- Start ForgotPassword Screen !-->
	<div class="ForgotPassword">
		<h1>Forgot Password</h1>
		<form class="forgot-password-form" id="forgotPassword" method="post" action="">
			<div class="input-group mbot ">
			  <input id="email" type="email" name="email" class="form-control" data-required="Please enter email address" data-invalid="Please enter valid email address" placeholder="{{emailPlaceHolder}}">
			  <span class="input-group-btn ">
				<button id="send-btn" type="submit" value="Submit" class="btn btn-primary btn-ht">Send</button>
			  </span>
			</div>
		</form>
		<div class="cent-align mtop">
			<a href="#" class="btn btn-primary">Back to Login</a>
		</div>
	</div>
<!-- end ForgotPassword Screen !-->
</div>
 