@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Foundation.RenderingVariants.Models.VariantsRenderingModel

<div @Html.Sxa().Component("field-editor", Model.Attributes)>
    <div class="component-content">
        @if (!Model.VariantFields.Any())
        {
            @Model.MessageIsEmpty
        }
        @if (Model.VariantFields.Any())
        {
            <table class="field-table">
                @foreach (VariantFieldBase variantField in Model.VariantFields)
                {
                    <tr>
                        <td>
                            @variantField.DiscoverFieldName():
                        </td>
                        <td>
                            @Html.RenderingVariants().RenderVariant(variantField, Model.Rendering.Item, Model.IsControlEditable)
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
