﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Foundation.RenderingVariants.Models.VariantsRenderingModel

<div @Html.Sxa().Component("content", Model.Attributes)>
    <div class="component-content">
        @if (Model.Item != null)
        {
            foreach (VariantFieldBase variantField in Model.VariantFields)
            {
                @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams)
            }
        }
    </div>
</div>
