<form id="registerForm1" method="get" action="">
	<div class="Regform">
		<p>Personal Information:</p>
		<div class="input-group inpaddsp usrinput">
		  <input type="text" class="form-control " placeholder="First Name * " >
		</div>
		<div class="input-group inpaddsp usrinput">
		  <input type="text" class="form-control " placeholder="Last Name *" >
		</div>
		<div class="input-group inpaddsp usrinput">
		  <input type="text" class="form-control " placeholder="Email Address *" >
		</div>
		<div class="input-group inpaddsp usrinput">
		  <input type="text" class="form-control " placeholder="Phone Number" >
		</div>
		<div class="">
			<button type="submit" value="Submit" class="btn btn-primary btn-lg btn-ht col-lg-6">Submit</button>
		</div>
	</div>
</form>