

<!-- Start Breadcrumb Menu !-->

  <ol class="breadcrumb hidden-xs hidden-sm hidden-md">
  <li><div class=""><a href="#"><img class="breadcrumb-icon-home" src="{{ imgDir }}/assets/icon-home.png"></a></div> </li>
  <li><div class=""><a href="#">Directory</a></div></li>
  <li class="active"><div class=""><a href="#">Article name</a></div></li>
</ol>


<!-- Start Breadcrumb Menu !-->
