﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Search.Models.ChecklistFilterRenderingModel

@if (Model.IsEdit || Model.FacetItemName != null)
{
<div @Html.Sxa().Component("facet-single-selection-list", Model.Attributes).Decorate("class", "facet-component") data-properties='@Model.JsonDataProperties'>
    <div class="component-content">

        @if (Model.DataSourceItem == null)
        {
            @Model.MessageIsEmpty
        }
        else if (Model.FacetItemName == null)
        {
            @Model.MessageFacetIsEmpty
        }
        else
        {
            { Html.RenderPartial("FacetHeader", Model); }
            <div class="contentContainer">
            </div>
            { Html.RenderPartial("FacetRemoveFilterButton", Model); }
            if (!String.IsNullOrWhiteSpace(Model.FilterButtonLabel))
            {
            <div class="bottom-filter-button">
                <input type="button" class="filterButton" value="@Model.FilterButtonLabel" />
            </div>
            }
        }
    </div>
</div>
}



