﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Context.Models.LanguageSelectorRenderingModel

<div @Html.Sxa().Component("language-selector", Model.Attributes)>
    <div class="component-content">
        <div class="language-selector-select-item"  data-language-code="@Model.ActiveItem.DataLanguageCode" data-country-code="@Model.ActiveItem.DataCountryCode">
            <a class="language-selector-select-link">
                @Model.ActiveItem.InnerItem.Language.CultureInfo.NativeName
            </a>
        </div>
        @if (Model.LanguageSelectorItems.Count > 1)
        {
            <ul class="language-selector-item-container">
                @foreach (var item in Model.LanguageSelectorItems)
                {
                    <li class="language-selector-item @item.CssClasses" data-language-code="@item.DataLanguageCode" data-country-code="@item.DataCountryCode">
                        <a href="@item.Href">
                            @item.InnerItem.Language.CultureInfo.NativeName
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
