<div class="clearfix"></div>
<div class="container">
<!-- Start Thanks Registration Screen !-->
{{> @welcome-banner }}
<div class="row thank-you-register">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="reg-title">Thank You for Registering!</h1>
		<p>Typicus demoveo iusto consequat eros ludus vulputate iaceo sagaciter nisl hendrerit. Reprobo interdico velit pala vel fatua cui voco hendrerit te nulla duis. Qui tum jumentum lucidus jus consequat typicus lobortis hendrerit. Uxor zelus meus sit consequat feugait esse jugis distineo qui nulla vel.</p>
		<div class="backtologin">
			<input type="button" class="cent-align talign btn btn-primary btn-lg btn-back btn-rt" value="Complete Profile">
			<input type="button" class="cent-align talign btn btn-primary btn-lg btn-back" value="Back to Login">
		</div>
	</div>
</div>
<!-- end Thanks Registration Screen !-->
<div class="container">
