@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.SkinAlliance.Web.Models.ScientificBoardViewModel

@if (Model != null)
{
    var smallBanner = Model.BannerImage.Count == 6 ? "board-member-profile-pic-small" : "";
        <!-- Start alliance-member !-->
    <div class="AllianceMember">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="@Model.ReadMoreLink">

                    <div class="board-member-profile-pic @smallBanner" data-navigation="community">
                        @foreach (var member in Model.BannerImage)
                        {
                            @Html.Raw(member)
                        }

                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="memtext">
                    <h1 class="">@Html.Raw(Model.Title) </h1>
                    <p class="txtdot">@Html.Raw(Model.ShortDescription)</p>
                    <a href="@Model.ReadMoreLink" class="btn btn-primary readmore" data-navigation="community">
                        @Model.ReadMore
                    </a>
                </div>
            </div>
        </div>
    </div>
}
