@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.SkinAlliance.Web.Models.ScientificBoardViewModel

@if (Model != null)
{
    <div class="container scientific-board-members">
        <p class="scientific-board-desc">
            @Html.Raw(Model.LongDescription)
        </p>
        <section class="scientific-board-members-list">
            <!-- SCIENTIFIC BOARD MEMBER LIST -->
            @foreach (var member in Model.List)
            {
                if (!string.IsNullOrEmpty(member.Name))
                {
                    <div class="container board-member">
                        <a href="@string.Concat(Request.Url.GetLeftPart(UriPartial.Authority), "/community/directory/userprofile?id=", member.Link)" title="@Html.Raw(member.Name)">
                            <div class="col-sm-2 board-member-profile-pic">
                                @Html.Raw(member.LargeImage)
                            </div>
                            <div class="col-sm-10 board-member-detail">
                                <p class="board-member-name">@Html.Raw(member.Name)</p>
                                <p class="board-member-position">@Html.Raw(member.Position)</p>
                                <p class="board-member-desc">@Html.Raw(member.Description)</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </section>
    </div>
}