@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

<div @Html.Sxa().Component("rich-text", Model.Attributes)>
    <div class="component-content">
        @Model.MessageIsEmpty   
        @Html.Sxa().Field("Text", Model.Item, Model.GetRenderingWebEditingParams())
    </div>
</div>
