﻿@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.Feature.Account.Models.SignupViewModel

<!-- Start Change password Modal -->
<div class="change-password-modal" data-api-url="/saapi/profile/changepassword">
    <div class="modal fade" id="change-pwd" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="ChangePwdModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ChangePwdModal">@Translate.Text(AccountTemplate.Account.MyProfile.ChangePasswordText)</h4>
                </div>
                <div class="modal-body">
                    <div id="invalidOldPwd" class="error-message"></div>
                    <form action="" id="changePasswordForm" method="post">
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            <input id="old_password" name="password" type="password" required="required" class="form-control " placeholder="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePassword.OldPasswordCaption)" aria-label="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePassword.OldPasswordCaption)" data_oldPwd="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePassword.OldPasswordRequired)" data_invpwd="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePassword.InvalidOldPasswordText)">
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            <input id="new_password" name="newpassword" type="password" required="required" class="form-control" data_pwdStr="@Translate.Text(AccountTemplate.Account.MyProfile.PasswordStrength)" data_oldasnew="@Translate.Text(AccountTemplate.Account.MyProfile.PasswordMatch)" placeholder="@Model.PasswordCaption" aria-label="@Model.PasswordCaption" data_newPwd="@Model.PasswordRequired">
                            <span class="valid-password-info">@Model.PasswordHint</span>
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            <input id="confirm_password" name="confirmPassword" type="password" required="required" class="form-control " placeholder="@Model.ConfirmPasswordCaption" aria-label="@Model.ConfirmPasswordCaption" data_confirmPwd="@Model.ConfirmPasswordRequired" data_equalTo="@Model.PasswordMismatch">
                        </div>
                        <div class="cent-align mbot">
                            <button type="submit" id="changePassword" aria-label="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePassword.ChangePasswordButtonText)" value="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePassword.ChangePasswordButtonText)" class="btn btn-primary  btn-login reg-form-submit">@Translate.Text(AccountTemplate.Account.MyProfile.ChangePassword.ChangePasswordButtonText)</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Change password Modal -->
