﻿@using Loreal.Feature.Account
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Globalization
@using Sitecore.Data.Items
@using Sitecore.Data.Fields

@model Loreal.Feature.Account.Models.DirectoryViewModel
@{

    var renderingItem = RenderingContext.Current.Rendering.Item;
    var pageUrl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
}

@if (Model != null)
{
    var defaultimageshow = 0;
    <!-- Start Directory Content !-->
    <div class="container">
        <div class="row">

            <div class="DirectoryList">

                <div class="col-lg-4 col-md-4 col-sm-4 col-sm-push-8">
                    <div class="Filterby-Country">
                        <h1 class="collapsed" data-toggle="collapse" data-target="#countryFilter">
                            @Html.Sitecore().Field(AccountTemplate.Account.Directory.Fields.FilterByCountry.ToString(), renderingItem)
                            <div class="collbtn visible-xs visible-sm-block "><a href="#"><i class="fa fa-angle-down"></i></a></div>
                        </h1>
                        <div class="countrybox collapse in" id="countryFilter">
                            <div id="FilterbyCountry">
                                <ul class="list-inline">
                                    @foreach (var country in Model.Countries)
                                    {
                                        <li>
                                            <div class="custom-check">
                                                <input id="@country.Code" type="checkbox" class="dir-user-country country-checkbox" name="country" value="@country.Name" data-country-code="@country.Code" />
                                                <label for="@country.Code"><span>@country.Name</span></label>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Filterby-speciality">
                        <h1 class="collapsed" data-toggle="collapse" data-target="#countrySpeciality">
                            @Html.Sitecore().Field(AccountTemplate.Account.Directory.Fields.FilterBySpecialty.ToString(), renderingItem)
                            <div class="collbtn visible-xs visible-sm-block "><a href="#"><i class="fa fa-angle-down"></i></a></div>
                        </h1>
                        <div class="specialitybox collapse in" id="countrySpeciality">
                            <div id="FilterbySpeciality">
                                <ul class="list-inline">
                                    @foreach (var speciality in Model.MedicalSpecialties)
                                    {
                                        <li>
                                            <div class="custom-check">
                                                <input id="@speciality.Key" type="checkbox" name="speciality" class="dir-user-speciality speciality-checkbox" value="@speciality.Phrase" data-speciality-code="@speciality.Key" />
                                                <label for="@speciality.Key"><span>@speciality.Phrase</span></label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ccol-lg-8 col-md-8 col-sm-8 col-sm-pull-4">
                    @if (!Model.List.FirstOrDefault().Profiles.Any())
                    {
                        <div class="no-result-found">
                            @Html.Sitecore().Field(AccountTemplate.Account.Directory.Fields.NotFoundMessage.ToString(), renderingItem)
                        </div>
                    }
                    else
                    {
                        <div class="no-result-found datahide">
                            @Html.Sitecore().Field(AccountTemplate.Account.Directory.Fields.NotFoundMessage.ToString(), renderingItem)
                        </div>
                        <div class="directory-expand-collapse">
                            <div class="dir-expand">
                                <a href="#">@Html.Sitecore().Field(AccountTemplate.Account.Directory.Fields.ExpandLabel.ToString(), renderingItem)</a>
                                <i class="fa fa-angle-down expandicon"></i>
                            </div>
                            <div class="dir-collapse">
                                <a href="#">@Html.Sitecore().Field(AccountTemplate.Account.Directory.Fields.CollapseLabel.ToString(), renderingItem)</a>
                                <i class="fa fa-angle-up collapseicon"></i>
                            </div>
                        </div>
                    <!-- start directory List !-->
                        foreach (var profileDirList in Model.List)
                        {
                            if (profileDirList.Profiles.Any())
                            {
                                <div class="Dir-List-@profileDirList.Key Dir-List">
                                    <div class="title-header">
                                        <h1>@profileDirList.Key</h1>
                                        <i class="fa fa-angle-down expcollap pull-right"></i>
                                    </div>
                                    <div id="@string.Concat("DirCateList", profileDirList.Key)" class="dir-item-list">
                                        <ul class="list-inline user-directory-list img-responsive lazyload">
                                            @*@foreach (var profile in profileDirList.Profiles)*@
                                                @for (int i=0; i< profileDirList.Profiles.Count; i++)
                                                {
                                                <li class="user-dir-list country-code-@profileDirList.Profiles[i].CountryCode speciality-code-@profileDirList.Profiles[i].SpecialtyCode">
                                                    <a href="@string.Concat(pageUrl, "/userprofile?id=", profileDirList.Profiles[i].Link)">
                                                        <div class="Dir-List-pic">
                                                            @if (defaultimageshow > 10)
                                                            {
                                                                <img data-src="@profileDirList.Profiles[i].Image" src="@Request.Url.GetLeftPart(UriPartial.Authority)/themes/skinalliance/images/assets/default.png" alt="@profileDirList.Profiles[i].Name" class="img-responsive Dir-List-image">
                                                            }
                                                            else
                                                            {
                                                                <img src="@profileDirList.Profiles[i].Image" alt="@profileDirList.Profiles[i].Name" class="img-responsive Dir-List-image">
                                                            }
                                                        </div>
                                                        <span class="txtdot">@string.Concat(profileDirList.Profiles[i].Title, " ", profileDirList.Profiles[i].Name)</span>
                                                    </a>
                                                </li>
                                                defaultimageshow++;
                                            }                                           
                                        </ul>
                                    </div>
                                </div>
                            }
                            
                        }
                    }
                    <!-- end directory List !-->
                </div>

            </div>
        </div>
    </div>
    <!--  End Directory Content !-->
}
