﻿@using System.Web.Mvc.Html
@using Sitecore.Globalization
@using Loreal.Feature.Account
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc

@model Loreal.Feature.Account.Models.DiscoverDermocosmeticsScienceModel

@if (Model != null)
{
    <div class="container-fluid discover-dermo-wrapper">
        <div class="container discover-dermo">
            <h2>@Model.Title</h2>
            @if (Model.QuickLinks != null)
            {
                <div class="row">
                    @foreach (var item in Model.QuickLinks)
                    {
                        <div class="col-sm-4 discover-dermo-item">
                            <h4>@Html.Raw(item.Title)</h4>
                            <img src="@item.Image" alt="@item.Title" />
                            @Html.Raw(item.Description)
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="container sa-commitment">
        @Model.Description
    </div>
}
