﻿@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using System.Linq

@model Loreal.Feature.Account.Models.SignupViewModel


<!-- Start my profile Modal -->
<div class="Myprofile-modal">
    <div class="modal fade" id="edit-profile" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="MyprofileModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="MyprofileModal">@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileText)</h4>
                </div>
                <div class="modal-body">

                    @Model.MessageIsEmpty
                    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { enctype = "multipart/form-data", id = "editProfileForm" }))
                    {
                        @Html.Sitecore().FormHandler("Profile", "UpdateUser")
                        @Html.AntiForgeryToken()
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            <input type="file" name="preview" aria-label="preview"  id="input-file-now-custom-1" class="dropify" data-show-remove="false" accept="image/png, image/jpeg, image/gif" data-pimgupload="@Translate.Text(AccountTemplate.Account.MyProfile.InvalidImage)" data-default-file="@Request.Url.GetLeftPart(UriPartial.Authority)@Model.Image" />
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.DropDownListFor(x => x.Title, new SelectList(Model.Titles, "key", "phrase"), Model.TitleCaption, new { @class = "form-control-sbox", id = "profile_title", @placeholder = Model.TitleCaption,@aria_label= Model.TitleCaption })
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", required = "required", id = "profile_firstname", @placeholder = Model.FirstNameCaption, @aria_label = Model.FirstNameCaption, data_pfname = Model.FirstNameRequired })
                            @Html.ValidationMessageFor(m => m.FirstName, Model.FirstNameRequired, new { @class = "error-message", id = "profile_firstname" })
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", required = "required", id = "profile_lastname", @placeholder = Model.LastNameCaption, @aria_label = Model.LastNameCaption, data_plname = Model.LastNameRequired })
                            @Html.ValidationMessageFor(m => m.Email, Model.EmailRequired, new { @class = "error-message" })
                        </div>

                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.Activity, new { @class = "form-control", id = "profile_activity", @placeholder = Model.ActivityCaption, @aria_label = Model.ActivityCaption })
                        </div>

                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextAreaFor(x => x.Address, new { @class = "form-control", id = "profile_address", @placeholder = Model.AddressCaption, @aria_label = Model.AddressCaption })
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.PhysicianLicenseNumber, new { @class = "form-control", id = "profile_physiciallicensenumber", required = "required", @placeholder = Model.PhysicianLicenseNumberCaption, data_plnumber = Model.PhysicianLicenseNumberRequired, @aria_label = Model.PhysicianLicenseNumberCaption })
                            @Html.ValidationMessageFor(m => m.PhysicianLicenseNumber, Model.PhysicianLicenseNumberRequired, new { @class = "error-message" })
                        </div>

                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.DropDownListFor(x => x.MedicalSpecialty, new SelectList(Model.MedicalSpecialties, "key", "phrase"), Model.MedicalSpecialtyCaption, new { @class = "form-control-sbox", required = "required", id = "profile_medicalspecialty", @placeholder = Model.MedicalSpecialtyCaption, data_pmedical = Model.MedicalSpecialtyRequired, @aria_label = Model.MedicalSpecialtyCaption })
                            @Html.ValidationMessageFor(m => m.MedicalSpecialty, Model.MedicalSpecialtyRequired, new { @class = "error-message" })
                        </div>

                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.DropDownListFor(x => x.PreferredLanguage, new SelectList(Model.PreferredLanguages, "Name", "DisplayName"), Model.PreferredLanguageCaption, new { @class = "form-control-sbox", id = "profile_preferredlanguage", @placeholder = Model.PreferredLanguageCaption, @aria_label = Model.PreferredLanguageCaption })
                        </div>

                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.DropDownListFor(x => x.Country, new SelectList(Model.Countries, "Code", "Name"), Model.CountryCaption, new { @class = "form-control-sbox", required = "required", id = "profile_country", @placeholder = Model.CountryCaption, data_country = Model.CountryRequired, @aria_label = Model.CountryCaption })
                            @Html.ValidationMessageFor(m => m.Country, Model.CountryRequired, new { @class = "error-message" })
                        </div>

                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control", id = "profile_city", @placeholder = Model.CityCaption, @aria_label = Model.CityCaption })
                        </div>

                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", id = "profile_zipcode", @placeholder = Model.ZipCodeCaption, @aria_label = Model.ZipCodeCaption })
                        </div>


                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @type = "text", @class = "form-control", id = "profile_phonenumber", data_invalidphonenumber = Model.PhoneNumberValidationMessage, @placeholder = Model.PhoneNumberCaption, @aria_label = Model.PhoneNumberCaption })
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "profile_email", @placeholder = Model.EmailCaption, data_pemail = Model.InvalidEmail, @readonly = true, @aria_label = Model.EmailCaption })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-message" })
                        </div>
                        <div class="input-group inpaddsp usrinput input-group-sm text-editor">
                            <div class="col-lg-12 nopadding text-editor">
                                <label for="summary" class="">@Model.SummaryCaption</label>
                                @Html.TextAreaFor(x => x.Summary, new
                           {
                               @class = "form-control",
                               id = "txtEditor",
                               @draggable = "false",
                               @value = Model.Summary                               

                           })
                            </div>
                        </div>
                        <div class="input-group inpaddsp upload-resume">
                            <div class="custom-file-upload-btn">
                                <input type="file" name="resume" id="resume" class="inputfile">
                                <label for="upload-resume" class="button btn-primary btn-ghost"><span>@Translate.Text(AccountTemplate.Account.MyProfile.UploadResumeText)</span></label>
                            </div>
                            <span class="form-hint">@Translate.Text(AccountTemplate.Account.MyProfile.UploadResumeHint)</span>
                        </div>
                        <div class="inpaddsp login-bottom">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm @(Model.PreferredService1?"active":"")">
                                    @Html.CheckBoxFor(x => x.PreferredService1, new { @autocomplete = "off" })
                                    <span class="fa fa-check"> </span>
                                </label> @Html.Raw(Model.PreferredService1Caption)
                            </div>
                        </div>
                        <div class="inpaddsp login-bottom">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm @(Model.PreferredService2?"active":"")">
                                    @Html.CheckBoxFor(x => x.PreferredService2, new { @autocomplete = "off" })
                                    <span class="fa fa-check"> </span>
                                </label> @Html.Raw(Model.PreferredService2Caption)
                            </div>
                        </div>
                        <div class="inpaddsp login-bottom">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm @(Model.NewsLetterSubscribe?"active":"")">
                                    @Html.CheckBoxFor(x => x.NewsLetterSubscribe, new { @autocomplete = "off" })
                                    <span class="fa fa-check"> </span>
                                </label> @Html.Raw(Model.NewsletterSubscribeCaption)
                            </div>
                        </div>
                        if (Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey] == "false")
                        {
                            @Model.FailureText

                        }
                        <div class="cent-align mbot">
                            <button type="submit" id="editProfileSubmit" aria-label ="@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileButtonText)" value="@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileButtonText)" class="btn btn-primary  btn-login reg-form-submit">@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileButtonText)</button>
                        </div>
                    }
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
