﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Globalization
@using Loreal.Feature.Account.Extensions
@using Loreal.Feature.Account
@using Sitecore.Mvc.Configuration
@using Sitecore.Data.Items
@using Sitecore.Data.Fields

@model Loreal.Feature.Account.Models.ForgotPasswordViewModel

<div class="clearfix"></div>
<welcome-banner title="@Translate.Text(AccountTemplate.WelcomeText)"></welcome-banner>
<div class="container">
    <!-- Start ForgotPassword Screen !-->
    <div class="ForgotPassword">
        <h1>@Model.Title</h1>
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "forgotPassword", @class = "forgot-password-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Sitecore().FormHandler("ForgotPassword", "SendPassword")
            @Html.HiddenFor(x => x.DataSource)

            <div class="input-group mbot ">
                <input id="email" name="email" type="text" aria-label="@Model.Placeholder" class="form-control" data-required="@Model.EmailIdRequired" data-invalid="@Model.ErrorMessage" placeholder="@Model.Placeholder">
                <span class="input-group-btn ">
                    <button id="send-btn" class="btn btn-primary btn-ht" type="submit" aria-label="@Model.ButtonLabel">@Model.ButtonLabel</button>
                </span>
                @if (Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey] != null &&
                        Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey].ToLower() == "false")
                {
                    <span class="error-message">@Model.ErrorMessage</span>
                }
                else if (Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey] != null &&
                    Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey].ToLower() == "true")
                {
                    <span class="success-message">@Model.SuccessMessage</span>
                }
            </div>
        }


        <div class="cent-align mtop">
            <a href="@Model.DestinationUrl" aria-label="@Model.BackButtonLabel" class="btn btn-primary">@Model.BackButtonLabel</a>
        </div>
    </div>
    <!-- end ForgotPassword Screen !-->
</div>
