﻿@using System.Web.Mvc.Html
@using Sitecore.Globalization
@using Loreal.Feature.Account
@using Sitecore.Mvc
@model Loreal.Feature.Account.Models.MiniProfileModel

@if (Model.Visible)
{

    <div class="searchBox" style="">
        <form action="@Request.Url.GetLeftPart(UriPartial.Authority)/search" class="search-form">
            <div class="form-group has-feedback">
                <label for="q" class="sr-only">@Translate.Text(AccountTemplate.SearchText)</label>
                <input type="text" class="form-control sfrmheight" aria-label="search" name="q" id="q" placeholder="@Translate.Text(AccountTemplate.SearchText)" style="height:30px;">
                <input type="submit" value="search" name="search" style="visibility:hidden"/>
                <span title="Search" aria-label="Search" class="fa fa-search form-control-feedback"></span>
            </div>
        </form>
    </div>

    <div class="UsrPicDropdown visible-lg">
        <nav class="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-label="user dropdown">
                        <img class="userpic" src="@Model.Image" alt="userpic" /><span class="user-welcome-text">@(Model.WelcomeTitle) </span>
                        <span class="header-username">@Model.UserName</span><span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-cart" role="menu">
                        @foreach (KeyValuePair<string, string> item in Model.NavigationItems)
                        {
                            <li><a href="@item.Value">@item.Key</a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.LogoutText))
                        {
                            <li class="logout-link" data-logout-url="/logout"><a href="#" title="@Model.LogoutText">@Model.LogoutText</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="Language visible-lg">
        @Html.Sitecore().Placeholder("ProfileCountryList")
    </div>

    <div class="create-post-mobile visible-md visible-sm visible-xs">
        <a href="@Model.CreatePostLink" title="create post"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
    </div>

    if (!Model.IsAccepted)
    {
        <div class="HomeModal welcome-popup">
            <div class="modal fade in" id="termsandcondition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <h3 class="popup-title" id="myModalLabel">@(Model.TermsandConditionsTittle)</h3>
                            @Html.Raw(Model.TermsandConditions)
                            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "termsandconditionform" }))
                            {
                            @Html.Sitecore().FormHandler("MiniProfile", "Accepted")
                            @Html.AntiForgeryToken()
                                if (Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey] == "false")
                                {
                                }
                            <div class="dont-show-check clearfix">
                                <div class="btn-group pull-left" data-toggle="buttons">
                                    <label id="termsAccept" for="Accepted" class="btn btn-info btn-sm" onclick="">
                                        <input type="checkbox" id="Accepted" aria-label="iAgree" name="Accepted" autocomplete="off">
                                        <span class="fa fa-check"> </span>
                                    </label> @Model.IAgreeText
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@*<div class="clearfix"></div>*@
