﻿@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Configuration
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Account.Models.SignupViewModel

<!-- start my profile content !-->
<div class="container">
    <div class="row">
        <div class="my-profile">
            <div class="col-lg-8 col-md-8 col-sm-8">

                <div class="user-pic">
                    <img class="usr-pic" src="@Model.Image" alt="@Model.FullName" />
                </div>
                <div class='userinfo'>
                    <ul class="list-inline">
                        <h1>@String.Concat(Model.Title, " ", Model.FullName)</h1>
                        <li>
                            <p>@Model.MedicalSpecialtyDisplayName</p>
                        </li>
                        <li><img class="usr-region" src="@Model.CountryFlag" alt="@Model.FullName" />@Model.CountryDisplayName </li>
                        <li class="user-phone-mail">
                            @if (!String.IsNullOrEmpty(Model.PhoneNumber))
                            {
                                <span class="user-phone"> <i class="fa fa-phone"></i> @Model.PhoneNumber</span>
                            }
                            @if (!string.IsNullOrEmpty(Model.Email))
                            {
                                <span class="user-email">
                                    <i class="fa fa-envelope"></i>@Model.Email
                                </span>
                            }
                        </li>
                        <li>
                            @if (!string.IsNullOrEmpty(Model.Address) || !string.IsNullOrEmpty(Model.City) || !string.IsNullOrEmpty(Model.ZipCode))
                            {
                                <i class="fa fa-map-marker"></i>
                            }
                            @if (!string.IsNullOrEmpty(Model.Address))
                            {
                                @Model.Address
                                <br />
                            }
                            @if (!string.IsNullOrEmpty(Model.City))
                            {
                                @Model.City
                                <br />
                            }
                            @if (!string.IsNullOrEmpty(Model.ZipCode))
                            {
                                @Model.ZipCode
                            }
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="myprobtn visible-xs visible-sm-block">
                        <a href="#" class="btn btn-primary btn-chnpwd btn-lg" data-toggle="modal" data-target="#change-pwd" aria-label="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePasswordText)">@Translate.Text(AccountTemplate.Account.MyProfile.ChangePasswordText)</a>
                        <a href="#" class="btn btn-primary btn-edtpro btn-lg pull-right" data-toggle="modal" data-target="#edit-profile" aria-label="@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileText)">@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileText)</a>
                    </div>
                </div>
                <div class="clearfix"></div>

                @if (!string.IsNullOrEmpty(Model.Summary) && !Model.Summary.Equals("<br>"))
                {
                    <div class="summary">
                        <h1 class="title-underlined">@Model.SummaryCaption</h1>
                        @Html.Raw(Model.Summary)
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Resume))
                {
                    <div class="user-attachment">
                        <h3 class="title-underlined">@Model.AttachmentCaption</h3>
                        <ul class="list-unstyled">
                            <li><a href="@Model.Resume" target="_blank" aria-label="@Model.AttachmentCaption">@Model.AttachmentDisplayName</a></li>
                        </ul>
                    </div>
                }
                @Html.Sitecore().Placeholder("FollowCategories")
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mypro-btn  visible-sm visible-lg visible-md-block">
                    <a href="#" class="btn btn-primary btn-chnpwd btn-lg" data-toggle="modal" data-target="#change-pwd" aria-label="@Translate.Text(AccountTemplate.Account.MyProfile.ChangePasswordText)">@Translate.Text(AccountTemplate.Account.MyProfile.ChangePasswordText)</a>
                    <a href="#" class="btn btn-primary btn-edtpro btn-lg pull-right" data-toggle="modal" data-target="#edit-profile" aria-label="@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileText)">@Translate.Text(AccountTemplate.Account.MyProfile.EditProfileText)</a>
                </div>
                @Html.Sitecore().Placeholder("FollowUser")
            </div>
        </div>
    </div>
</div>

<!-- start my profile content !-->
<div class="edit-profile">
    @Html.Partial("/Views/SkinAlliance/Feature/Account/EditProfile.cshtml", Model)
</div>
<div class="change-password">
    @Html.Partial("/Views/SkinAlliance/Feature/Account/ChangePassword.cshtml", Model)
</div>