﻿@using System.Web.Mvc.Html
@using Loreal.Feature.Account
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc

@model Loreal.Feature.Account.Models.ResetPasswordViewModel

<div class="container forget-password">
    <h1>@Model.Title</h1>
    <div class="row row-centered">
        <div class="col-sm-8 col-xs-12 col-centered">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "reset-form", @class = "reset-password-form" }))
            {
                <div class="form-group">
                    <input id="new_password" name="newpassword" type="password" class="form-control" placeholder="@Model.NewPasswordCaption"
                           data_newpwd="@Model.NewPasswordRequired"
                           data_pwdstr="@Model.NewPasswordStrength"
                           required>
                    <p id="password-strength-text"></p>
                    <div class="valid-password-info">@Model.NewPasswordStrength</div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="@Model.ConfirmPasswordCaption" id="confirm_password"
                           name="password" data_confirmpwd="@Model.ConfirmPasswordRequired"
                           data-equalTo="@Model.ConfirmPasswordIncorrect" required>
                </div>
                <input type="hidden" name="userName" value="@Model.UserName" />
                <div class="text-center">
                    <input type="submit" id="sign-in-btn" class="btn btn-primary" value="@Model.SaveButtonText">
                </div>

            }
        </div>
    </div>
</div>
