﻿@using System.Runtime.CompilerServices
@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Account.Models.SignupViewModel


<welcome-banner title="@Translate.Text(AccountTemplate.WelcomeText)"></welcome-banner>

<div class="container">
    <!-- Start Register Screen !-->
    <div class="Register">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-sm-4 col-sm-push-6 social-login">
            <div class="visible-xs">
                <h1>@Model.Introduction</h1>
                <div class="clearfix"></div>
                <p class="text-center">@Model.SubHeading</p>
            </div>
            <div class="cent-align">
                @Html.Sitecore().Placeholder("SocialConnector")
            </div>

        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-sm-push-1"><div class="or"><p class="">@Model.OrText</p></div></div>

        <div class="col-sm-5 col-sm-pull-5">
            <div class="hidden-xs">
                <h1>@Model.Introduction</h1>
                <div class="clearfix"></div>
                <div><p>@Model.SubHeading</p></div>
            </div>
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "registerForm" }))
            {
                @Html.AntiForgeryToken()
                <form id="registerForm" method="get" action="">
                    <div class="Regform">
                        <p>@Model.PerosnalInfo</p>
                        <div class="input-group inpaddsp usrinput">
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", required = "required", id = "signup_firstname", @placeholder = Model.FirstNameCaption, data_fname = Model.FirstNameRequired, @aria_label = @Model.FirstNameCaption })
                            @Html.ValidationMessageFor(m => m.FirstName, Model.FirstNameRequired, new { @class = "error-message" })
                        </div>
                        <div class="input-group inpaddsp usrinput">
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", required = "required", id = "signup_lastname", @placeholder = Model.LastNameCaption, data_lname = Model.LastNameRequired, @aria_label = @Model.LastNameCaption })
                            @Html.ValidationMessageFor(m => m.LastName, Model.LastNameRequired, new { @class = "error-message" })
                        </div>
                        <div class="input-group inpaddsp usrinput">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", id = "signup_email", @placeholder = Model.EmailCaption, data_invalidemail = Model.InvalidEmail, data_email = Model.EmailRequired, @aria_label = @Model.EmailCaption })
                            @Html.ValidationMessageFor(m => m.Email, Model.EmailRequired, new { @class = "error-message" })
                        </div>
                        <div class="input-group inpaddsp usrinput">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.Country, new SelectList(Model.Countries, "Code", "Name"), Model.CountryCaption, new { @class = "form-control-sbox", required = "required", id = "signup_country", @placeholder = Model.CountryCaption, data_country = Model.CountryRequired, @aria_label = @Model.CountryCaption })
                                @Html.ValidationMessageFor(m => m.Country, Model.CountryRequired, new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="input-group inpaddsp usrinput">
                            @if (Model.PhysicianNumberIsRequired)
                            {
                                @Html.TextBoxFor(x => x.PhysicianLicenseNumber, new { @class = "form-control", required = "required", id = "signup_physiciallicensenumber", @placeholder = Model.PhysicianLicenseNumberCaption, data_lnumber = Model.PhysicianLicenseNumberRequired, @aria_label = @Model.PhysicianLicenseNumberCaption })
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.PhysicianLicenseNumber, new { @class = "form-control", id = "signup_physiciallicensenumber", @placeholder = Model.PhysicianLicenseNumberCaption, data_lnumber = Model.PhysicianLicenseNumberRequired, @aria_label = @Model.PhysicianLicenseNumberCaption })
                            }
                            @Html.ValidationMessageFor(m => m.PhysicianLicenseNumber, Model.PhysicianLicenseNumberRequired, new { @class = "error-message" })
                        </div>

                        <div class="input-group inpaddsp usrinput">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.MedicalSpecialty, new SelectList(Model.MedicalSpecialties, "key", "phrase"), Model.MedicalSpecialtyCaption, new { @class = "form-control-sbox", required = "required", id = "signup_medicalspecialty", @placeholder = Model.MedicalSpecialtyCaption, data_medical = Model.MedicalSpecialtyRequired, @aria_label = @Model.MedicalSpecialtyCaption })
                                @Html.ValidationMessageFor(m => m.MedicalSpecialty, Model.MedicalSpecialtyRequired, new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="input-group inpaddsp usrinput">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.PreferredLanguage, new SelectList(Model.PreferredLanguages, "Name", "DisplayName"), Model.PreferredLanguageCaption, new { @class = "form-control-sbox", id = "signup_preferredlanguage", @placeholder = Model.PreferredLanguageCaption, @aria_label = @Model.PreferredLanguageCaption })
                            </div>
                        </div>
                        <div class="inpaddsp login-bottom">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm @(Model.NewsLetterSubscribe?"active":"")">
                                    @Html.CheckBoxFor(x => x.NewsLetterSubscribe, new { @autocomplete = "off" })
                                    <span class="fa fa-check"> </span>
                                </label> @Html.Raw(Model.NewsletterSubscribeCaption)
                            </div>
                        </div>

                        <p>@Model.LoginInfo</p>
                        <div class="input-group inpaddsp usrinput">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", required = "required", id = "signup_password", data_pwdStr = Translate.Text(AccountTemplate.Account.MyProfile.PasswordStrength), @placeholder = Model.PasswordCaption, data_password = Model.PasswordRequired, @aria_label = @Model.PasswordCaption })
                            @Html.ValidationMessageFor(m => m.Password, Model.PasswordRequired, new { @class = "error-message" })
                            <span class="valid-password-info">@Model.PasswordHint</span>
                        </div>
                        <div class="input-group inpaddsp usrinput">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", required = "required", id = "signup_confirmpassword", @placeholder = Model.ConfirmPasswordCaption, data_cpassword = Model.ConfirmPasswordRequired, data_equalto = Model.PasswordMismatch, @aria_label = @Model.ConfirmPasswordCaption })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, Model.ConfirmPasswordRequired, new { @class = "error-message" })
                        </div>
                        @if (Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey] == "false")
                        {
                            @Model.FailureText
                        }
                        <div class="inpaddsp login-bottom">
                            <div class="btn-group" data-toggle="buttons">
                                @Html.Raw(Model.TermsandConditionText)
                            </div>
                        </div>
                        <div class="col-lg-12 mbot">
                            <button type="submit" value="@Model.SignupButtonCaption" aria-label="@Model.SignupButtonCaption" class="btn btn-primary btn-lg btn-login reg-form-submit">@Model.SignupButtonCaption</button>
                        </div>
                    </div>
                </form>
            }
        </div>


        <div class="col-md-1"></div>
    </div>
</div>
<!-- end Register Screen !-->
<div class="clearfix"></div>
