﻿@using System.Web.Mvc.Html
@using Sitecore.Globalization
@using Loreal.Feature.Account
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc

@model Loreal.Feature.Account.Models.SignInViewModel

<div class="clearfix"></div>

@if (Model.Visible)
{
    <welcome-banner title="@Translate.Text(AccountTemplate.WelcomeText)"></welcome-banner>
    <div class="container">
        <div class="UserLogin">
            <!-- Start Login Screen!-->
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-sm-6  visible-xs">
                <h1>@Model.Introduction</h1>
                <div class="clearfix"></div>
                <div>
                    <p>@Model.SubHeading</p>
                </div>
            </div>

            <div class="col-sm-5 col-sm-5">

                <div class="hidden-xs">
                    <h1>@Model.Introduction</h1>
                    <div class="clearfix"></div>
                    <div class=""><p>@Model.SubHeading</p></div>
                </div>
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "signInForm", @class = "login-form" }))
                {
                    <input type="hidden" name="redirect_uri" value="@ViewBag.RedirectUrl"/>
                    <div class="error-message">
                        @if (Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey] == "false")
                    {
                            @Model.FailureText
                        }
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="input-group inpaddsp usrinput">
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", required = "required", id = "login_email", @placeholder = @Model.UsernameLabel, @aria_label= @Model.UsernameLabel, data_uname = @Model.UsernameRequired })
                        @Html.ValidationMessageFor(m => m.Username, Model.UsernameRequired, new { @class = "error-message" })
                    </div>

                    <div class="input-group inpaddsp usrinput usr-input-password">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @value = @Model.Password, required = "required", id = "login_password", @placeholder = @Model.PasswordLabel, @aria_label = @Model.PasswordLabel, data_upassword = @Model.PasswordRequired })
                        @Html.ValidationMessageFor(m => m.Password, Model.PasswordRequired, new { @class = "error-message" })
                    </div>

                    <div class="inpaddsp login-bottom">
                        @if (Model.DisplayRememberMe)
                    {
                            <div class="btn-group " data-toggle="buttons">
                                <label class="btn btn-default btn-sm">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @autocomplete = "off", @aria_label = @Model.RememberMeLabel })
                                    <span class="fa fa-check"> </span>
                                </label> @Model.RememberMeLabel
                            </div>
                        }
                        <div class="pull-right hidden-xs">
                            <div class="forgotpwd" id="forgot_password">@Model.ForgotPasswordUrl</div>
                        </div>
                    </div>
                    <div class="">
                        <button id="login_submit" type="submit" class="btn btn-primary btn-lg btn-login" aria-label="@Model.LoginButtonLabel">@Model.LoginButtonLabel</button>
                    </div>
                    <div id="Reg_link" class="regaccount hidden-xs">@Model.RegisterUrlPrefixText @Model.RegistrationUrl</div>
                }
            </div>
            <div class="col-sm-1 col-sm-1"><div class="or"><p class="">@Model.OrText</p></div></div>
            <div class="col-sm-4 social-login">
                @Html.Sitecore().Placeholder("SocialConnector")
            </div>
            <div class="forgotpwd visible-xs text-center" id="forgot_password">@Model.ForgotPasswordUrl</div>
            <div id="Reg_link" class="regaccount visible-xs text-center">@Model.RegisterUrlPrefixText @Model.RegistrationUrl</div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("discover-dermocosmetics-science")
}
<!-- end Login Screen !-->
<div class="clearfix"></div>
