﻿@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc.Configuration
@model Loreal.Feature.Account.Models.SignupViewModel

<welcome-banner title="@Translate.Text(AccountTemplate.WelcomeText)"></welcome-banner>
<!-- Start Register Screen !-->
<div class="Register ">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        @Model.MessageIsEmpty
        <h3>@Html.Sitecore().Field("Introduction")</h3>
        <div class="clearfix"></div>
        <div class="">
            <p>@Model.SubHeading</p>
        </div>
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "registerForm" }))
        {
            @Html.Sitecore().FormHandler("SocialConnector", "Register")

            @Html.AntiForgeryToken()
            <div class="Regform">
                <p>@Model.PerosnalInfo</p>
                <div class="input-group inpaddsp usrinput">
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "signup_firstname", @readonly = "readonly", @placeholder = Model.FirstNameCaption, @aria_label = @Model.FirstNameCaption })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error-message" })
                </div>
                <div class="input-group inpaddsp usrinput">
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "signup_lastname", @readonly = "readonly", @placeholder = Model.LastNameCaption, @aria_label = @Model.LastNameCaption })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error-message" })
                </div>
                <div class="input-group inpaddsp usrinput">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "signup_email", @readonly = "readonly", @placeholder = Model.EmailCaption, @aria_label = @Model.EmailCaption })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-message" })
                </div>
                <div class="input-group inpaddsp usrinput">
                    <div class="form-group">
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.Country, new SelectList(Model.Countries, "Code", "Name"), Model.CountryCaption, new { @class = "form-control-sbox", required = "required", id = "signup_country", @placeholder = Model.CountryCaption, data_country = Model.CountryRequired, @aria_label = @Model.CountryCaption })
                            @Html.ValidationMessageFor(m => m.Country, Model.CountryRequired, new { @class = "error-message" })
                        </div>
                    </div>
                </div>
                <div class="input-group inpaddsp usrinput">

                    @if (Model.PhysicianNumberIsRequired)
                    {
                        @Html.TextBoxFor(x => x.PhysicianLicenseNumber, new
                   {
                       @class = "form-control",
                       id = "signup_physiciallicensenumber",
                       @placeholder = Model.PhysicianLicenseNumberCaption,
                       @dataRequired = Model.PhysicianLicenseNumberRequired,
                       @required = "required",
                       @aria_label = @Model.PhysicianLicenseNumberCaption
                   })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.PhysicianLicenseNumber, new
                   {
                       @class = "form-control",
                       id = "signup_physiciallicensenumber",
                       @placeholder = Model.PhysicianLicenseNumberCaption,
                       @dataRequired = Model.PhysicianLicenseNumberRequired,
                       @aria_label = @Model.PhysicianLicenseNumberCaption
                   })

                    }
                    @Html.ValidationMessageFor(m => m.PhysicianLicenseNumber, Model.PhysicianLicenseNumberRequired, new { @class = "error-message" })
                </div>

                <div class="input-group inpaddsp usrinput">
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.MedicalSpecialty, new SelectList(Model.MedicalSpecialties, "key", "phrase"), Model.MedicalSpecialtyCaption, new
                   {
                       @class = "form-control-sbox",
                       @id = "signup_medicalspecialty",
                       @placeholder = Model.MedicalSpecialtyCaption,
                       @data_medical = Model.MedicalSpecialtyRequired,
                       @required = "required",
                       @aria_label = @Model.MedicalSpecialtyCaption
                   })

                        @Html.ValidationMessageFor(m => m.MedicalSpecialty, Model.MedicalSpecialtyRequired, new { @class = "error-message" })
                    </div>
                </div>
                <div class="inpaddsp login-bottom">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default btn-sm @(Model.NewsLetterSubscribe?"active":"")">
                            @Html.CheckBoxFor(x => x.NewsLetterSubscribe, new { @autocomplete = "off" })
                            <span class="fa fa-check"> </span>
                        </label> @Html.Raw(Model.NewsletterSubscribeCaption)
                    </div>
                </div>
                <div class="inpaddsp login-bottom">
                    <div class="btn-group" data-toggle="buttons">
                        @Html.Raw(Model.TermsandConditionText)
                    </div>
                </div>
                @if (Request[Sitecore.XA.Feature.Security.Constants.SuccessQueryKey] == "false")
                {
                    @Model.FailureText
                }
                <div class="col-lg-12 mbot">
                    <button type="submit" id="socail-register" value="@Model.SignupButtonCaption" class="btn btn-primary btn-lg btn-login reg-form-submit">@Model.SignupButtonCaption</button>
                </div>
            </div>        }
    </div>
    <div class="col-lg-2"></div>
</div>
<!-- end Register Screen !-->
<div class="clearfix"></div>