﻿@using System.Web.Mvc.Html
@using Sitecore.Globalization
@using Loreal.Feature.Account
@using Sitecore.Mvc
@model Loreal.Feature.Account.Models.SocialConnectorViewModel

<div class="cent-align">
    <a href="@Model.FacebookLink" class="chair">
        <button id="facebook_signin" type="button" class="btn btn-default btn-facebook btn-align">
            <i class="fa fa-facebook fa-2x btn-fbicon"></i>
            <span class="social-btn-text">@Model.FacebookText</span>
        </button>
    </a>
    <br />
    <a href="@Model.TwitterLink" class="chair">
        <button id="twiiter_signin" type="button" class="btn btn-default btn-twitter">
            <i class="fa fa-twitter fa-2x btn-twiticon"></i>
            <span class="social-btn-text">@Model.TwitterText</span>
        </button>
    </a>
    <a href="@Model.LinkedInLink" class="chair">
        <button id="linkedIn_signin" type="button" class="btn btn-default btn-linkedin">
            <i class="fa fa-linkedin fa-2x btn-linkdicon"></i>
            <span class="social-btn-text">@Model.LinkedInText</span>
        </button>
    </a>
</div>
