﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Globalization
@using Loreal.Feature.Account.Extensions
@using Loreal.Feature.Account
@using Sitecore.Data.Items
@using Sitecore.Web.UI.WebControls
@using Sitecore.Mvc.Configuration

@model Sitecore.Data.Items.Item

<div class="clearfix"></div>
<div class="container">
    <welcome-banner title="@Translate.Text(AccountTemplate.WelcomeText)"></welcome-banner>
    <!-- Start Thanks Registration Screen !-->
    <div class="row thank-you-register">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="reg-title">@Html.Sitecore().Field(AccountTemplate.Account.ThankYourForRegistration.Fields.Title.ToString(), Model)</h1>
            <p>@Html.Sitecore().Field(AccountTemplate.Account.ThankYourForRegistration.Fields.Description.ToString(), Model)</p>
            <div class="backtologin">
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "completeProfile", @class = "complete-profile" }))
                {
                    @Html.Sitecore().FormHandler("ThankyouRegister", "CompleteProfile")
                    <button id="completeProfile" type="submit" class="cent-align talign btn btn-primary btn-lg btn-back">@Model.Fields[AccountTemplate.Account.ThankYourForRegistration.Fields.CompleteProfileUrl].Value</button>
                }
                <a href="@Model.LinkFieldUrl(AccountTemplate.Account.ThankYourForRegistration.Fields.DestinationUrl)" class="cent-align talign btn btn-primary btn-lg btn-back">
                    @Html.Sitecore().Field(AccountTemplate.Account.ThankYourForRegistration.Fields.BackToLoginLabel.ToString(), Model)
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end Thanks Registration Screen !-->
<div class="container"></div>
