﻿@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Account.Models.SignupViewModel


@if (Model != null)
{
    @Html.Sitecore().Placeholder("userprofilebreadcurmb")
    <div class="container">
        <div class="row">
        <!-- start Directory Details content !-->

        <div class="directory">

            <div class="col-lg-8 col-md-8">
                <div class="dir-user-pic">
                    <img class="dir-usr-pic" src="@Model.Image" alt="@Model.FullName" />
                </div>
                <div class='dir-userinfo'>
                    <ul class="list-inline">
                        <h1>@String.Concat(Model.Title, " ", Model.FullName)</h1>
                        <div class="pull-right">
                            @Html.Sitecore().Placeholder("Follow")
                        </div>
                        <li>
                            <p>@Model.MedicalSpecialtyDisplayName</p><hr>
                        </li>
                        <li><img class="usr-region" src="@Model.CountryFlag" alt="@Model.FullName" />@Model.CountryDisplayName </li>
                        <li class="user-phone-mail">
                            @if (!String.IsNullOrEmpty(Model.PhoneNumber))
                            {
                                <span class="user-phone"> <i class="fa fa-phone"></i> @Model.PhoneNumber</span>
                            }
                            @if (!string.IsNullOrEmpty(Model.Email) && Model.PreferredService1)
                            {
                                <span class="user-email">
                                    <i class="fa fa-envelope"></i>@Model.Email
                                </span>
                            }
                        </li>
                        <li>
                            @if (!string.IsNullOrEmpty(Model.Address) || !string.IsNullOrEmpty(Model.City) || !string.IsNullOrEmpty(Model.ZipCode))
                            {
                                <i class="fa fa-map-marker"></i>
                            }
                            @if (!string.IsNullOrEmpty(Model.Address))
                            {
                                @Model.Address
                                <br />
                            }
                            @if (!string.IsNullOrEmpty(Model.City))
                            {
                                @Model.City
                                <br />
                            }
                            @if (!string.IsNullOrEmpty(Model.ZipCode))
                            {
                                @Model.ZipCode

                            }
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                @if (!string.IsNullOrEmpty(Model.Summary))
                {
                    <div class="summary">
                        <h1 class="title-underlined">@Translate.Text(AccountTemplate.Account.Directory.SummaryLabel)</h1>
                        @Html.Raw(Model.Summary)
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Resume) && Model.PreferredService1)
                {
                    <div class="user-attachment">
                        <h3 class="title-underlined">@Translate.Text(AccountTemplate.Account.Directory.AttachmentLabel)</h3>
                        <ul class="list-unstyled">
                            <li><a href="@Model.Resume" target="_blank">@Model.AttachmentDisplayName</a></li>
                        </ul>
                    </div>
                }
                <div class="clearfix"></div>
                @Html.Sitecore().Placeholder("FollowCategories")

            </div>
            <div class="col-lg-4 col-md-4">
                @Html.Sitecore().Placeholder("FollowUser")
            </div>

        </div>
            </div>

    </div>
}
