﻿@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using System.Linq
@model Loreal.Feature.Account.Utilities.UserEntity

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Export</title>
    <link href="~/Styles/ContentExport.css" rel="stylesheet" />
    <style>
        .overlay {
            background: rgba(0, 0, 0, 0.3);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10000;
            display: none;
        }
    </style>
</head>
<body>
    <div class="loader"></div>
    <section class="contentexport-admin content-list">
        <h3 class="content-title">Import Users</h3>
        <div class="form-fields">

            @if (Model != null)
            {
                <div id="ExportTool" class="container">
                    <div class="row">
                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "user-import-form" }))
                        {
                            @Html.Sitecore().FormHandler("Profile", "ImportUser")

                            if (Model.Status)
                            {
                                <div><span>Status: User Import Process Completed.</span></div>
                                <h4>Logs</h4>
                                <textarea rows="10" cols="100">
                                    @Html.Raw(Model.ErrorLogs)
                                </textarea>
                            }
                            else
                            {
                                <div>
                                    <div class="form-field">
                                        <label class="control-label col-sm-2" for="pwd">Upload Excel File:</label>

                                        <input type="file" id="csvfile" name="file" class="inputfile" />
                                    </div>
                                </div>

                                <div class="btn-container">
                                    <input type="submit" value="Submit" id="user_import">
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
        <div id="loaderOverlay" class="overlay"><div class="loader-box"><img src="/themes/SkinAlliance/images/loader.gif" alt="loader"></div></div>
    </section>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {
            $('#user_import').click(function () {
                $('#loaderOverlay').show();
            });
        });
    </script>

    <script src="~/Scripts/blockui.js"></script>
</body>