﻿@model Sitecore.XA.Foundation.RenderingVariants.Models.VariantListsRenderingModel
@using Sitecore.Data.Items
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

<div @Html.Sxa().Component("file-list", Model.Attributes)>
    <div class="component-content">
        @Html.Sxa().RenderHeading(Model.HeadingTag, Model.DataSourceItem,"Title", Model.GetRenderingWebEditingParams())
        @if (Model.Rendering.DataSourceItem == null)
        {
            @Model.MessageIsEmpty
        }
        
        @if (!Model.Items.Any() && Model.Rendering.DataSourceItem!=null)
        {
            using (Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "File Empty", Model.IsControlEditable))
            {
                @Model.MessageIsEmpty
            }            
        }
        
        <ul>
            @foreach (Item item in @Model.Items)
            {
                @:<li id="listItem">
                using (Html.Sxa().BeginEditFrame(item.ID.ToString(), "File", Model.IsControlEditable))
                {
                    foreach (VariantFieldBase variantField in Model.VariantFields)
                    {
                        @Html.RenderingVariants().RenderVariant(variantField, item, Model.RenderingWebEditingParams)
                    }
                }
                @:</li>
            }
        </ul>
    </div>
</div>
