<!-- start upcoming congress !-->
<!-- <div class="upcoming-congress">
	<div class="container">
		<div class="upcoming">
			<h1 class="title">UPCOMING CONGRESS</h1>
		</div>
		{{#each congressList}}
			<div class="upcoming-event col-lg-3">
				<div class="calender">
					<p class="">{{this.month}}</p>
					<h1 class="">{{this.date}}</h1>
				</div>
				<div class="UPEpost">
					<p class="event-post">{{this.post}}</p>
				</div>
			</div>
		{{/each}}
	</div>
</div> !-->

<div class="container">
<div class="upcoming-congress">
<div class="">
<div class="upc-header">
<h1>UPCOMING CONGRESS</h1>
	<div class="pull-right"><a href="#" > > View All </a></div>
</div>
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="upc-wrap ">
	    <div class="upc-ddmm">
	    	<p class="upc-date">May</p>
	    	<p class="upc-month">10</p>
	    </div>
    <div class="upc-comment">
		<p class="upc-post txtdot ">Distineo at consequat nonummy os feugiat odio consequat paulatim premo</p>
	</div>
</div>
</div>


<div class="col-lg-3 col-md-6 col-sm-6">
<div class="upc-wrap ">
	    <div class="upc-ddmm">
	    	<p class="upc-date">May</p>
	    	<p class="upc-month">10</p>
	    </div>

    <div class="upc-comment">
		<p class="upc-post txtdot "><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo</a></p>
	</div>
</div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
<div class="upc-wrap ">
	    <div class="upc-ddmm">
	    	<p class="upc-date">May</p>
	    	<p class="upc-month">10</p>
	    </div>

    <div class="upc-comment">
		<p class="upc-post txtdot "><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo</a></p>
	</div>
</div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
<div class="upc-wrap ">
	    <div class="upc-ddmm">
	    	<p class="upc-date">May</p>
	    	<p class="upc-month">10</p>
	    </div>

    <div class="upc-comment">
		<p class="upc-post txtdot "><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo</a></p>
	</div>
</div>
</div>
</div>

</div>
</div>
</div>


<!-- end upcoming congress !-->
