button{text-transform:uppercase;}
.btn{font-family:$locator_regular;}
.button {
    background-color: #5AB4D4;
    border-radius: 0;
    padding: 8px 12px;
    color: $white;
    border: none;

    font-size: 14px;
    font-family: $locator_regular;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: #66D5E3;
        transition: all ease .2s;
        text-decoration: none;
    }

    &.button-default {
        background-color: rgba(90,180,212, 0.3);
        border-color: #4A98B4;
        color: $white;

        &:hover {
            background-color: #66D5E3;
            border-color: #4A98B4;
            color: $black;
        }
    }
    &.btn-ghost{
      background: transparent;
      border:1px solid $background;
      color:$background;
    }
}
.modal-default-button {
    float: right;
    background: #5AB4D4;
    border: none;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    font-weight: normal;
    top: -20px;
    right: -20px;
    position: relative;
}
.btn-primary, .btn-default {text-transform:uppercase!important;font-weight:bold;}
.datashow{display: block;}
.datahide{display: none;}
.mbot{margin-bottom:40px;padding:0;}
.mtop{margin-top:40px;padding:0;}
.talign{margin:10px auto;}
.follow{font-family: $locator_regular;font-size:14px;font-style: normal;font-weight: normal;color:#fff;background:#5AB4D4;}
.cent-align{margin:0 auto; text-align:center;}
.btn-primary{background-color: #5AB4D4;border:0;border-radius:0;padding:15px 30px;}
.btn-small{padding:8px 30px;}
.btn-login, .btn-back, .complete-profile{height:45px;font-size:14px;}
.btn-ht{height:45px;}
.m-tb{margin:10px auto;text-align:center}
.btn-social{color:#00ACC2}
.btn-rt{margin-right:10px}
.btn span.fa { opacity: 1;}
button {text-transform: uppercase;}
button.close{color:#fff;}
.close{opacity:1;}
.contwrap{
    min-height:450px;height:550px;
    @include media('<sm'){  }

}
