.icon-arrow:after {
    content: "\e900";
}

.icon-Book:after {
    content: "\e901";
}

.icon-fb:after {
    content: "\e902";
}

.icon-loupe:after {
    content: "\e903";
}

.icon-user:after {
    content: "\e904";
}

.icon-youtube:after {
    content: "\e905";
}

.icon-cross:after {
    content: "\ea0f";
}

.icon-instagram:after {
    content: "\ea92";
}