	.btn-group > .btn.active{outline:0}
.btn-group > .btn.focus{outline:0}
select {
  -webkit-border-radius: 0;
  background: $white;
  border: none;
  margin-left: 0;
  padding-bottom: 2px;
  color: #999;
  border: 1px solid $borderGray;
  height: 40px;
  padding: 10px;
  border-radius: 0 !important;
  font-size: 14px;
  width: 100%;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     background: transparent url("/themes/skinalliance/images/assets/select-arrow.png") no-repeat 98% 18px/21px 11px;

}


select::-ms-expand {
  /* for IE 11 */
  display: none;
}

option {
  padding: 5px;
  background: #fff;
  color:#000;
}

option:first-child
{
    color: #999;
}

.input--text {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
  color: $blue;
  border-radius: 0;
  transition: border ease 0.5s;
  transition: color ease 0.5s;
}

%select {
  width: 100%;
  height: 50px;
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  color: $blue;
  border: 2px solid $blue;
  border-radius: 0;
  -moz-appearance: menulist;
  appearance: menulist;
  -webkit-border-radius: 0;
  transition: border ease 0.5s;
  transition: color ease 0.5s;
}

.input--change {
  border-radius: 0;
  height: 38px;
}

textarea {
  resize: none;
}

.modal__checkbox[type=checkbox] + span + .email-error {
  position: relative;
  left: -20px;
}

.modal__checkbox[type=checkbox]:checked + span + .email-error {
  display: none;
}

.modal{
  .modal-content{
    border-radius:16px;
  }
  .modal-body{
    padding:25px 35px;
  }
  .modal-header{
    border-radius:16px 16px 0 0;
    padding:10px 15px;
    .close{
      font-size:35px;
    }
    .modal-title{
      color: #fff;
      height: 35px;
      line-height: 35px;
    }
  }
  .modal-footer{
    border-radius: 0 0 16px 16px;
  }
  .modal-header {
    background: $background;
    color: #fff;
  }
  .modal-footer{
    display:none;
  }
  .popup-title{
    border-bottom:1px solid $light-grey-1;
    color:$black;
    font-size: 22px;
    font-family: $locator_regular;
    margin-bottom: 18px;
    padding-bottom:5px;
  }
}


.modal-title {
  font-family: $locatorlight;
}

.modal-footer {
  padding: 2px;
}

.panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  text-transform: uppercase;
  background: #00ACC2;
  color: #fff;
  border-top-color: #00ACC2;
  border-right-color: #00ACC2;
  border-left-color: #00ACC2;
  border-radius: 1px;
}

.panel-body {
  background: #F4F2F2;
  color: #000;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-checkbox{
  .btn{
    border-radius: 0;
    padding: 0 3px;
  }
}
.custom-check {
  input[type=checkbox] {
    display: none;
  }
  /* to hide the checkbox itself */
  input[type=checkbox] + label:before {
    font-family: 'FontAwesome';
    display: inline-block;
  }
  input[type=checkbox] + label:before {
    content: "";
    width:20px;
    height:20px;
    background:$white;
    border:1px solid lighten($grey,38%);
    margin-right:5px;
  }
  /* unchecked icon */
  input[type=checkbox] + label:before {
    letter-spacing: 10px;
  }
  /* space between checkbox and label */
  input[type=checkbox]:checked + label:before {
    content: "\f00c";
    color: $title-blue;
    text-indent:3px;
  }

  /* allow space for check mark */
  label{
    span{
      float:right;
    }
  }
}

.custom-file-upload-btn{
  .inputfile{
    opacity:0;
    position:absolute;
    width:100%;
    height:100%;
  }
  &:hover{
      background:$background;
      color:$white;
      .button{
        color:$white;
      }
  }
}
