/** MISC COMPONENTS INDEPENDENT OF PAGES **/
.visible-500{
  display: none;
  @include media('<500'){
    display: block;
  }
}
.visible-500-767{
  display: none;
  @include media('>=500','<sm'){
    display: block;
  }
}

/** CONGRESS DATE MONTH COMPONENT **/
.congress-schedule {
  background: $background;
  color: $white;
  padding: 10px 0;
  text-align: center;
  width: 62px;
  height: 68px;

  .congress-date {
    font-family: $locatorlight;
    font-size: 30px;

    &.congress-schedule-big {
      font-size: 38px;
    }
  }

  .congress-month {
    overflow: hidden;
    text-transform: capitalize;
    margin: 0 auto;
    width: 100%;
  }

  p {
    margin: 0;
    line-height: normal;
  }

  &.congress-schedule-big {
    width: 72px;
    height: 78px;
    padding: 15px 0;
  }
}
/** TITLE UNDERLINED **/
.title-underlined {
  border-bottom: 1px solid $light-grey-1;
  color: $black;
  font-size: 18px;
  font-family: $locator_regular;
  padding-bottom: 5px;
}

/*** EDITOR STYLES ***/
.component-content,.text-editor .Editor-container,.my-profile .summary{
  font-family: $locator_regular;

  ol,
  ul {
    list-style-position: inside;
    padding-left: 10px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: inherit;
    margin: inherit;
  }
}

.text-editor .Editor-container{
  font-family: inherit;
  ul,li,ol{
    font-family: inherit
  }
}

/*** EDITOR STYLES ***/


.sort-by {
  width: auto !important;
  display: inline-block;
  margin-right: 10px;

  .form-group {
    margin-bottom: 0;

    label {
      margin-right: 5px;
    }
  }

  select {
    width: 150px;
    background-position: 96%;

    &:focus {
      outline: 0;
    }
  }
}
/** error messages **/
.error-messages {
  border-radius: 5px;
  margin: 0 0 20px 0;

  @include media ('<sm') {
    margin-top: 20px;
  }

  ul {
    margin-bottom: 0;

    li {
      padding: 10px;
      &:last-child {
        padding-top: 0;
      }
	   &:first-child {
        padding-top: 10px;
      }
      &:only-child{
        padding-top:10px;
      }
    }
  }
}
/** questionarre **/
.QuestionnaireSection {
  .panel-heading {
    text-transform: capitalize;
    a {
      color: $white;
      text-transform: capitalize;
    }
  }
}

.survey-question {
  .question {
    border-bottom: 1px solid $dark-grey-2;
    font-size: 18px;
    padding-bottom: 8px;
    width: 100%;
  }

  .survey-answers {
    padding-top: 5px;
    padding-bottom: 5px;

    li {
      margin-bottom: 15px;

      .custom-checkbox {
        .fa {
          color: $background;
          font-size: 14px;
        }

        .btn.active {
          background: $white;
          box-shadow: none;
        }
      }

      .answer-option {
        color: $background;
        font-size: 18px;
        font-family: $locatorbold;
      }

      .answer-text {
        width: 90%;
        display: inline-flex;
        margin-left: 10px;
        @include media('<sm'){
          width:calc(100% - 70px);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .survey-submit {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }

  .feedback {
    width:100%;
    float:left;
    padding: 20px 0;
    display:none;
    border-top: 1px solid $dark-grey-2;
    h5{
      color:$black;
      font-size: 18px;
    }
  }

  .results-chart {
    border-top: 1px solid $dark-grey-2;
    padding-top:20px;
    width:100%;
    float:left;
    .options {
      display: inline-block;
      margin-right: 10px;
      width: 38px;

      .bar {
        background: $background;
        width: 100%;
        height: 40px;
      }

      .result-percent {
        width: 100%;
        text-align: center;
      }
    }
    .chart-history{
      display: inline-block;
      float: right;
      @include media('<sm'){
        width:100%;
        margin-top: 10px;
      }
      .chart-history-box{
        width:14px;
        height:14px;
        display: inline-block;
        margin-right:5px;
        &.red{
          background:#ec8180;
        }
        &.green{
          background:#75cd82;
        }
      }
    }
  }
}
.disabled{
  pointer-events: none;
}
/** PADDING UTILS **/
.p-left-0 {
  padding-left: 0;
}

/*** DROPIFY ***/

.dropify-wrapper.touch-fallback{
  .dropify-render{
    .dropify-font-file,.dropify-extension{
      display: none !important;
    }
  }
}

.Myprofile-modal{
  .dropify-wrapper.touch-fallback{
    .dropify-infos{
      display: none !important;
    }
    .dropify-render{
      img{
        width:auto;
        height:auto;
      }
    }
  }
}
.ModerteModal {
    text-align: center;
}
.usrinput label{width:100%;}

/** static pages ***/

.privacy table p{
  word-wrap: break-word;
}
