﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions;

@model Sitecore.XA.Feature.Engagement.Models.FacebookCommentsRenderingModel

<script>
    function ready() {
        XA.component.social.initFacebook();
    }
    document.addEventListener("DOMContentLoaded", ready);
</script>
<div @Html.Sxa().Component("facebook-comments", Model.Attributes)>
    <div class="component-content">
        @Model.MessageEditHere
        <div id="fb-root"></div>

        <div class="wb-facebook-comments wb-panel">
            <div class="fb-comments" data-href="@Model.DataHref" data-numposts="@Model.PostsCount" data-colorscheme="@Model.ColorScheme"></div>
        </div>
    </div>
</div>

