﻿@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions

@model Sitecore.XA.Feature.Navigation.Models.BreadcrumbRenderingModel

<div @Html.Sxa().Component("breadcrumb", Model.Attributes)>
    <div class="component-content">
        @if (!Model.Children.Any())
        {
            @Model.MessageIsEmpty
        }
        <ol>
            @foreach (var item in @Model.Children)
            {
                <li id="item" class="@item.CssClasses.Aggregate()">
                    @if (@Model.IsFake)
                    {
                        <a href="#">@item.Name</a>
                        <span class="separator">@Html.Raw(Html.Encode(Model.Separator))</span>
                    }
                    else
                    {
                        foreach (var variantField in Model.VariantFields)
                        {
                            @Html.RenderingVariants().RenderVariant(variantField, item.Item, Model.IsControlEditable);
                        }
                        <span class="separator">@Html.Raw(Html.Encode(Model.Separator))</span>
                        if (item.Children != null && item.Children.Any())
                        {
                            <ol>
                                @foreach (var sibling in item.Children)
                                {

                                    foreach (VariantFieldBase variantField in sibling.VariantFields)
                                    {
                                        <li>@Html.RenderingVariants().RenderVariant(variantField, sibling.Item, sibling.IsControlEditable)</li>
                                    }
                                }
                            </ol>
                        }
                    }
                </li>
            }
        </ol>
    </div>
</div>
