<div class="container">
<div class="navigation">
          <nav class="navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="slide-collapse" data-target="#SA-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="saopen">
                    <span class="fa fa-bars"></span>
                    </div>
                    <div class="saclose hidden" >
                    <span class="fa fa-close"></span>
                    </div>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="SA-navbar-collapse">
              <!-- mobile nav header -->
              <div class="mobile-nav-header hidden-lg">
                <a href="#" class="dropdown-toggle welcome-user" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img class="userpic" src="{{ ./imgDir }}/assets/userpic.png" alt="userpic"></img><p class="welcome-text">Welcome <span class="user-name">Rebecca smith</span></p>
                </a>
                <div class="Language">
              		<div class="btn-group">
              			  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              			    <!--<img src="{{ ./imgDir }}/assets/uk.png" alt="flag" />-->EN<span class="fa fa-angle-down"></span>
              			  </button>
              			  <ul class="dropdown-menu">
              			   <li><a href="#"><!--<img src="{{ ./imgDir }}/assets/spain.png" alt="flag" />-->English</a></li>
              			   <li><a href="#"> <!--<img src="{{ ./imgDir }}/assets/france.png" alt="flag" /> -->French</a></li>
              			  </ul>
              			</div>
              	</div>
                <span class="close-mobile-nav" >
                  <span class="fa fa-close"></span>
                </span>
              </div>
                <!-- mobile nav header -->

                <ul id="mainMenu" class="navbar-nav nav">
                    <li id="home"class="active"><a href="#">HOME</a></li>
                    <li id="dermocosmetic" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">DERMOCOSMETICS KNOWLEDGE </a>
                        <i class="fa fa-angle-down hidden-lg"></i>
                        <ul class="dropdown-menu">
                            <li><a href="#">Submenu 01</a></li>
                            <li><a href="#">Submenu 02</a></li>
                            <li><a href="#">Submenu 03</a></li>
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Submenu 04.0 </a>  <i class="fa fa-angle-down "></i>
          								  <ul class="dropdown-menu">
          									<li><a href="#">Submenu 01.1</a></li>
          									<li><a href="#">Submenu 01.2</a></li>
          									<li><a href="#">Submenu 01.3</a></li>
          									<li><a href="#">Submenu 01.4</a></li>
          								</ul>
							                   </li>
                        </ul>
                    </li>
                    <li><i class='create-post1'></i><a href="#">EXPERT COMMENTS</a></li>
                    <li><i class='create-post2'></i><a href="#">webcasts</a></li>
                    <li><i class='create-pos3'></i><a href="#">CONGRESSES</a></li>
                    <li><i class='create-post3'></i><a href="#">CLINICAL CASES</a></li>
                    <li id='community'><i class='create-post5'></i><a href="#">COMMUNITY</a></li>
                    <li><i class='fa fa-pencil create-post4'></i><a href="#">CREATE POST</a></li>
                </ul>
                <!-- user profile menu for mobile -->
                <ul class="dropdown-menu user-dropdown visible-xs visible-sm visible-md" role="menu">
                    <li><a href="#"> My Profile </a></li>
                    <li><a href="#"> My Notification </a></li>
                    <li><a href="#"> Setting </a></li>
                    <li><a href="#"> Logout </a></li>
                </ul>
                <!-- user profile menu for mobile -->
            </div><!-- /.navbar-collapse -->
        </nav>
        </div>
        </div>
<!-- end Navitaion !-->
<div class="clearfix"></div>
