.footer {
  width: 100%;
  color: #fff;
  padding: 10px;
  background: #00ACC2;
  margin-top:10px;
  /*position: absolute;
  bottom:0;
  clear: both;*/
  left:0;
  z-index: 2;


  .modal-body p {
		color: #555151;
		text-align: center;
	}

  .fLogo {
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #fff;
    .footerlogo{
      li{
        padding-left:15px;
        padding-right:15px;

        &:last-child{
          padding-right:0;
        }
        @include media('<sm'){
          margin-bottom:10px;
          padding-left:10px;
          padding-right:10px;
        }
      }
    }
    p {
      padding-top: 15px;
      margin-bottom:0;
      font-size: 11px;
      text-align: center;
      color: #fff;
      font-family:$locator_regular;
      @include media('<sm'){
        margin-bottom:15px;
      }
    }
  }

  .fmenu {
    padding: 8px 0 0 0;
    float: left;
    width: 100%;

    p {
      float: left;
      text-align: left;
      font-size: 11px;
      color: #fff;
      font-family: $locator_regular;
      @include media('<sm'){
        width:100%;
        text-align:center;
      }
    }

    ul {
      text-align: left;
      font-family: $locator_regular;
      @include media('<sm'){
        width:100%;
        text-align:center;
      }
      li {
        font-size: 11px;
        padding:0 15px;
        &:last-child{
          @include media('<sm'){
            padding-right:15px;
          }
          padding-right:0;
        }
        a {
          color: #fff;
        }

        :hover {
          @include media('>lg'){
            color: #595959;
          }
        }
      }
    }
  }
}
