
.header {
    background: #00ACC2;
    padding: 15px 0px;

	 @include media('<sm'){
	 .logo-hide{display:none;}
	 }

    @include media('<sm'){
      padding:0;
    }
    .container{
      @include media('<sm'){
        padding-left:10px;
        padding-right:10px;
      }
    }
    .Logo {
         @include media('<xmd-max'){
            text-align: center;
            margin:0 auto;
            width:85%;
        }
        float: left;
        text-align: center;
        width: 312px;
        height: 67px;
         @include media('<xmd-max'){  height: 60px; }
         img{
            @include media('<sm'){
                max-width:165px;
                margin:13px auto;
                text-align:center;
                padding-right:10px;
            }
            @include media(">xs","<xmd-max"){
              max-width:95%;
              margin:0 auto;
              text-align:center;
            }
         }
    }


    .toprtmenu {
        @include media('<xmd-max'){
            position: static;
        }
        float: right;
        /* Start Search Box */
        .searchBox {
                    @include media('<xmd-max'){
                        position: absolute;
                        right:14%;
                        top:0;
                        padding-top:14px;
                        margin-right:0;
                    }
                    @include media('>xs','<xmd-max'){
                      padding-top:30px;
                    }
            float: left;
            margin-right: 10px;
            padding-top: 21px;

            .search-form .form-group {
                @include media('<xmd-max'){
                    width: 33px;
                    background:none;
                    color:$white;
                    border:0;
                }
                float: right !important;
                transition: all 0.35s, border-radius 0s;
                width:220px;
                height: 33px;
                background-color: #fff;
               /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) nset;*/
                border-radius: 25px;
                /*border: 1px solid #ccc;*/
                input.form-control {
                    @include media('<xmd-max'){
                     padding-right: 38px;
                   }
                    padding-right: 30px;
                    padding-top: 2px;
                    border: 0 none;
                    height: 33px !important;
                    background: transparent;
                    box-shadow: none;
                    display: block;
                    /* Remove IE clear icon **/
                    &::-ms-clear {
                      display: none;
                  }
                }

                &:hover, &.hover {
                    width: 220px;
                    border-radius: 25px;
                    @include media('<xmd-max'){
                      background: $white;
                    }
                    span.form-control-feedback{
                      @include media('<xmd-max'){
                        color:$title-blue;
                      }
                    }
                }

                span.form-control-feedback {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    z-index: 2;
                    display: block;
                    width: 33px !important;
                    height: 33px !important;
                    line-height: 33px !important;
                    text-align: center;
                    color: $title-blue;
                    left: initial;
                    font-size: 20px;
					pointer-events:auto;
					cursor:pointer;
                    @include media('<xmd-max'){
                      color:$white;
                      font-size:25px;
                      right:5px;
                    }
                }
            }
        }
        /* end search Box */


        /* start language dropdown */
        .UsrPicDropdown {
            @include media('<sm'){
                // display:none;
            }
            float: left;
            margin-right: 10px;
            padding-top: 0px;

            .dropdown-menu > li > a:hover{background:#66D5E3;}
            .userpic {
                width: 60px;
                height: 60px;
               border: 2px solid #e5e5e5;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                /*box-shadow: 0 0 3px rgba(0, 0, 0, .8);*/
                margin: 0px 10px 0px 5px;
                padding: 0;
                position: relative;
                display: block;
                float: left;
            }
            .user-welcome-text,.header-username{
              font-size:13px !important;
              padding-left:0 !important;
            }
            .user-welcome-text{
              padding-top: 12px;
              display: inline-block;
            }
            .header-username{
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .fa{
              position:absolute;right:0;top:10px;
            }
            ul.dropdown-cart {
              padding:0;
              border:0;
                li {
                    &:hover{
                      background: $grey;
                      a{
                        color:$white;
                      }
                    }
                }
            }

            nav {
                padding-top: 6px !important;
                margin: 0;
            }

            .navbar-nav > li > .dropdown-menu li {
                width: 100%;
            }

            .navbar-nav > li{
                &:focus{
                  outline: 0;
                }
                > a{
                width:200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top: 0;
                &:focus{
                  background: none;
                }
              }
            }
            .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
                background: none;
            }

            .navbar-nav > li {
                font-size: 14px;
            }

            .navbar-right {
                margin-right: 0px;
            }

            .nav a:hover {
                background: none;
            }

            ul.dropdown-cart {
                background: $light-grey-2;
            }

            .dropdown-menu > li > a {
                padding: 10px 15px;
                color: $black;
                text-transform: uppercase !important;
            }

            .navbar-nav > li > .dropdown-menu {
                border-radius: 0px;
					box-shadow:none;
            }

            .nav > li > a {
                padding: 0;
            }

            .navbar-nav > li > a {text-transform: none;
                color: #fff !important;
            }
            .navbar-nav > li > a > span { font-size:20px;padding-left:5px;padding-right:5px;}

        }
        /* start language dropdown */
        .Language {
            @include media('<xmd-max'){   padding-top: 17px; }
            margin: 0px;
            padding-top: 18px;
            float: left;

            .btn-default {
                background-color: transparent;
                border: none;
                color:$white;
                font-size:13px;
                font-weight:normal;
                .fa{
                  font-size: 18px;
                  opacity: 1;
                  margin-left:5px;
                }
            }

            .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
                background: none;
            }

            .btn-group.open .dropdown-toggle {
                box-shadow: none;
            }

            // .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
            //     background: #fff !important;
            // }

            .btn-lg, .btn-group-lg > .btn {
                padding:0 6px 7px 6px !important;
            }

            .btn-lg {
                padding: 0 6px 7px 6px !important;
            }

            .dropdown-menu {
                min-width: 34px;
                top: 68%;
                box-shadow: none;
                border: none;
                left: 0px;
                padding: 9px 5px;
                margin: 2px 0px 0px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
            }

            .dropdown-menu > li > a {
                padding: 3px 0px !important;
            }
        }
        .create-post-mobile{
          position:absolute;
          top:18px;
          right:6%;
          .fa{
            font-size:25px;
            color:$white;
          }
        @include media('>xs','<xmd-max'){
          top:35px;
        }
        @include media('>xmd-max','<lg'){
          display:none !important;
        }
      }

       @media (max-width: 1024px) and (min-width: 768px)
      {
        .create-post-mobile{display:block !important;}
       }
    }
    /* end language dropdown */
}

@media (min-width: 320px){
  /*  .header .toprtmenu .searchBox .search-form .form-group:hover{ width:220px;}*/
    .navigation .navbar-header{left:0;}
    .header .Logo img {min-width: 181px;  margin: 12px auto;    }
    }

@media (min-width: 375px){
     /*.header .toprtmenu .searchBox .search-form .form-group:hover{ width:250px;}*/
     .navigation .navbar-header {left: 8px;}
    }
@media (min-width: 414px){
    /* .header .toprtmenu .searchBox .search-form .form-group:hover{ width:272px;}*/
     /*.header .Logo {width: 90%;}*/
    }
@media (min-width: 736px){
     /*.header .toprtmenu .searchBox .search-form .form-group:hover{ width:200px;}*/
      /*.header .Logo {width: 100%;}*/
    }
@media (min-width: 568px) {
    /*.header .toprtmenu .searchBox .search-form .form-group:hover{ width:420px;}*/
}
@media(min-width: 667px){
    /* .header .toprtmenu .searchBox .search-form .form-group:hover{ width:420px;}*/
    }
@media(min-width: 1024px){
   /*  .header .toprtmenu .searchBox .search-form .form-group:hover{ width:265px;}*/
    }

@media(min-width: 768px){
     /*.header .toprtmenu .searchBox .search-form .form-group:hover{ width:155px;}*/
     .header .Logo img {     margin-top: -3px;}
    }

@media(min-width: 1200px){
.header .Logo {
    float: left;
    text-align: center;
    width: 312px !important;
    height: 67px !important;
     margin-top: 7px;
}
/*.header .toprtmenu .searchBox .search-form .form-group:hover{ width:220px;
}*/
}
@media(min-width: 768px) and (max-width:1024px){
	.header .toprtmenu .searchBox .search-form .form-group:hover{width: 220px !important;}
	.logo-hide{margin:0px 0px 0px 27px !important}
	}
