<div class="container contact-us">
  <div class="row">
    <div class="col-sm-8 contact-us-left">
      <p>Pertineo quidem ludus camur quod vel macto ventosus. Letatio in sed et vindico. Commoveo amet gravis ea interdico similis. Zelus ullamcorper adipiscing mos populus nibh consequat iriure nulla. In magna luptatum.</p>
      <form id="contactusform" class="contact-us-form">
        <div class="form-group">
          <input id="contact_firstname" type="text" class="form-control" name="FirstName" data-firstname="Please enter the First Name" placeholder="First Name">
        </div>
        <div class="form-group">
          <input id="contact_lastname" type="text" class="form-control" name="LastName" data-lastname="Please enter the Last Name" placeholder="Last Name">
        </div>
        <div class="form-group">
          <input id="contact_email" type="text" class="form-control" name="Email" data-email="Please enter the Email" data-invalidemail="Please enter a valid email address" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input id="contact_phonenumber" type="text" class="form-control" name="PhoneNumber" data-invalidnumber="Please enter valid phone number" placeholder="Phone number">
        </div>
        <div class="form-group">
          <textarea id="contact_message" class="form-control" name="Message" data-message="Please enter the message" placeholder="Message"></textarea>
        </div>
        <input id="contactus_submit" type="submit" value="submit" class="btn btn-primary" />
      </form>
    </div>
    <div class="col-sm-4 contact-us-right">
      <h3 class="title-underlined">Contact Information</h3>
      <address>
          <p class="address">
            <span class="address-line-1">123 Sunny Lane</span>
            <span class="address-line-2">123 Sunny Lane</span>
          </p>
        </address>
      <a class="phone" href="tel:+123456789">+1 234-56-7890</a>
      <a class="mail" href="mailto:admin@skin-alliance.com">admin@skin-alliance.com</a>
      <a class="web" href="http://www.skin-alliance.com">www.skin-alliance.com</a>
    </div>
  </div>
</div>
