﻿@using Sitecore.Globalization
@using System.Web.Mvc
@using Sitecore.Mvc
@using Loreal.Feature.Webcast

@model Loreal.Feature.Webcast.Models.WebcastModel

@{
    var isActive = "";
    var isSelected = "";
    int i = 0;
    int j = 0;
}
@if (Model != null)
{
    <div class="webcast-wrap">
        <img data-toggle="modal" data-target="#webCasting" src="@Model.Thumbnail" alt="@Model.Title" class="logo" data-backdrop="static" data-keyboard="false" />
    </div>
    <!-- Modal -->
    <div class="modal fade" id="webCasting" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Model.Title</h4>
                </div>
                <div class="modal-body webcast-player">
                    <div class="webcast-slides">
                        <div class="player">
                            <div class="slides">
                                @{
                                    i = 0;
                                }
                                @foreach (var chapter in Model.Chapters)
                                {
                                    <img class="selectable @(i == 0 ? "selected" : "")" id="slide_@i" src="@chapter.FullScreenImage">
                                    i = i + 1;
                                }
                            </div>
                        </div>
                        <div class="video-player">
                            <div class="player_infos">
                                <div class="embed-responsive embed-responsive-16by9">
									<div class="webcast-iframe-desktop">
										<iframe src="@Model.Video" frameborder="0" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
									<div class="webcast-mobile">
										<div id='videos'>
											<div data-vimeo-url="@Model.Video" id="player"></div>
										</div>
									</div>
                                </div>
                                <div class="mover_controls">
                                    <a href="javascript:void(0);" class="button_player btn-ctrl sound"><i class="fa fa-volume-up"></i><i class="fa fa-volume-off"></i></a>
                                    <div class="list_controls">
                                        <a href="javascript:void(0);" class="button_player previous" title="Go Backward"><i class="fa fa-backward"></i></a>
                                        <a href="javascript:void(0);" class="button_player btn-ctrl play"><i class="fa fa-play"></i><i class="fa fa-pause"></i></a>
                                        <a href="javascript:void(0);" class="button_player next" title="Go Forward"><i class="fa fa-forward"></i></a>
                                        <a class="clear"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="webcast-controls">
                        <div class="chapters_interface">
                            <div id="webcastWrapper" style="overflow: hidden;">
                                <div class="carousel slide media-carousel hidden-xs" id="webcast-slider">
                                    <div class="carousel-inner MS-content">

                                        @{i = 0; j = 0;}

                                        @foreach (var chapter in Model.Chapters)
                                        {
                                            if (j == 0)
                                            {                                                
                                                isActive = (i == 0) ? "active" : "";
                                                isSelected = (i == 0) ? "selected" : "";
                                                @:<div class="item @isActive">
                                                    @:<div class="row">
                                             }
                                            <div class="col-md-2 col-sm-2 thumb @isSelected" id="icon_@i" data-video-time="@chapter.Start">
                                                <a href="#" class="thumbnail"><img src="@chapter.Thumbnail" title="@chapter.Title"></a>
                                            </div>
                                            i++;
                                            j++;
                                            if (j == 6 || Model.Chapters.Count == i)
                                            {
                                                @:</div>
                                                @:</div>
                                                j = 0;
                                            }                                        

                                        }
                                    </div>
                                    <a data-slide="prev" href="#webcast-slider" class="left carousel-control">‹</a>
                                    <a data-slide="next" href="#webcast-slider" class="right carousel-control">›</a>
                                </div>

                                <div class="carousel slide media-carousel visible-500" id="mwebcast-slider">
                                    <div class="carousel-inner MS-content">

                                        @{i = 0;}
                                        @foreach (var chapter in Model.Chapters)
                                        {

                                            var isActiveone = (i == 0) ? "active" : "";
                                            var isSelectedone = (i == 0) ? "selected" : "";
                                            <div class="item @isActiveone">
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 thumb @isSelectedone" id="icon_@i" data-video-time="@chapter.Start">
                                                        <a href="#" class="thumbnail"><img src="@chapter.Thumbnail" title="@chapter.Title"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            i++;
                                        }
                                    </div>
                                    <a data-slide="prev" href="#mwebcast-slider" class="left carousel-control">‹</a>
                                    <a data-slide="next" href="#mwebcast-slider" class="right carousel-control">›</a>
                                </div>

                                <div class="carousel slide media-carousel visible-500-767" id="dwebcast-slider">
                                    <div class="carousel-inner MS-content">

                                        @{i = 0; j = 0;}

                                        @foreach (var chapter in Model.Chapters)
                                        {
                                            if (j == 0 )
                                            {                                            
                                                var isActivetwo = (i == 0) ? "active" : "";
                                                @:<div class="item @isActivetwo">
                                                    @:<div class="row">
                                            }
                                            var isSelectedtwo = (i == 0) ? "selected" : "";
                                            <div class="col-md-2 col-sm-2 col-xs-6 thumb @isSelectedtwo" id="icon_@i" data-video-time="@chapter.Start">
                                                <a href="#" class="thumbnail"><img src="@chapter.Thumbnail" title="@chapter.Title"></a>
                                            </div> 
                                            j++;
                                            i++;
                                            if (j == 2 || Model.Chapters.Count == i)
                                            {
                                                @:</div>
                                                @:</div>
                                                j = 0;
                                            }                                          
                                        }
                                    </div>
                                    <a data-slide="prev" href="#dwebcast-slider" class="left carousel-control">‹</a>
                                    <a data-slide="next" href="#dwebcast-slider" class="right carousel-control">›</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

                                            }
