@using Sitecore.Mvc
@using Loreal.SkinAlliance.Web
<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:block">
        @Utils.GetCurrentLanguage()
        <span class="fa fa-angle-down"></span>
    </button>
    @{ var languages = Utils.GetLanguages();}
    @if (languages.Count > 0)
    {
        <ul class="dropdown-menu">

            @foreach (var lang in languages)
            {
                <li><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/@lang.Value" title="@lang.Key"> @lang.Key </a></li>
            }
        </ul>
    }
</div>