﻿@using Sitecore.Globalization
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
<title>@Html.Raw(Sitecore.Context.Item.Fields["Title"].Value)</title>
@Html.Sitecore().VisitorIdentification()
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />