  <div class="container notification">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-sm-push-8">
        <div class="side-panel side-panel-mobile visible-xs">
          <h5 data-toggle="collapse" data-target="#notification-filter-mobile">Filter Notifications:
             <div class="collbtn visible-xs visible-sm-block ">
               <a href="#"><i class="fa fa-angle-down"></i></a>
             </div>
          </h5>
          <div id="notification-filter-mobile" class="notification-filter collapse">
            <div class="custom-check">
              <input id="mob_mange_filter_0" type="checkbox" name="mange_filter_0" value="0">
              <label for="mob_mange_filter_0"><span>New Articles in Followed Category</span></label>
            </div>
            <div class="custom-check">
              <input id="mob_mange_filter_1" type="checkbox" name="mange_filter_0" value="1">
              <label for="mob_mange_filter_1"><span>Congresses</span></label>
            </div>
            <div class="custom-check">
              <input id="mob_mange_filter_2" type="checkbox" name="mange_filter_0" value="2">
              <label for="mob_mange_filter_2"><span>New Member</span></label>
            </div>
            <div class="custom-check">
              <input id="mob_mange_filter_3" type="checkbox" name="mange_filter_0" value="3">
              <label for="mob_mange_filter_3"><span>Rep Visit or Requested Samples </span></label>
            </div>
          </div>
        </div>
        <div class="manage-notification">
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#manage-notification">Manage Notifications</a>
        </div>
        <div class="clearfix"></div>
        <div class="side-panel hidden-xs">
          <h5>Filter Notifications:</h5>
          <div class="notification-filter">
            <div class="custom-check">
              <input id="mange_filter_0" type="checkbox" name="mange_filter_0" value="0">
              <label for="mange_filter_0"><span>New Articles in Followed Category</span></label>
            </div>
            <div class="custom-check">
              <input id="mange_filter_1" type="checkbox" name="mange_filter_1" value="1">
              <label for="mange_filter_1"><span>Congresses</span></label>
            </div>
            <div class="custom-check">
              <input id="mange_filter_2" type="checkbox" name="mange_filter_2" value="2">
              <label for="mange_filter_2"><span>New Member</span></label>
            </div>
            <div class="custom-check">
              <input id="mange_filter_3" type="checkbox" name="mange_filter_3" value="3">
              <label for="mange_filter_3"><span>Rep Visit or Requested Samples </span></label>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8 col-sm-8 col-sm-pull-4">
        <div class="clearfix"></div>
        <ul class="notification-container">
          <li>
            <div class="title-image"><i class="fa fa-star user" aria-hidden="true"></i></div>
          </li>
          <li><img src="{{ ./imgDir }}/assets/Rebecca-Smith.png"></li>
          <li>
            <p><strong>Today at 7:30pm</strong></p>
            <p class=''>Today you have an appointment with representative</p>
          </li>
        </ul>
        <ul class="notification-container">
          <li>
            <div class="title-image"><i class="fa fa-comment user" aria-hidden="true"></i></div>
          </li>
          <li><img src="{{ ./imgDir }}/assets/Rebecca-Smith.png"></li>
          <li>
            <p><strong>7/2/17 at 9:00am</strong></p>
            <p><span>Congress Title</span> commencing on <span>15th of August</span> at Newyork</p>
          </li>
        </ul>
        <ul class="notification-container">
          <li>
            <div class="title-image"><i class="fa fa-user user" aria-hidden="true"></i></div>
          </li>
          <li><img src="{{ ./imgDir }}/assets/Rebecca-Smith.png"></li>
          <li>
            <p><strong>6/27/17 at 10:01am</strong></p>
            <p><span>New Article Title</span> has been posted in <span>Category Name</span></p>
          </li>
        </ul>

        <ul class="notification-container">
          <li>
            <div class="title-image"><i class="fa fa-star user" aria-hidden="true"></i></div>
          </li>
          <li><img src="{{ ./imgDir }}/assets/Rebecca-Smith.png"></li>
          <li>
            <p><strong>6/1/17 at 4:21pm</strong></p>
            <p>New user<span>Marc Jackman</span> has joined</p>
          </li>
        </ul>

        <ul class="notification-container">
          <li>
            <div class="title-image"><i class="fa fa-plus-circle user" aria-hidden="true"></i></div>
          </li>
          <li><img src="{{ ./imgDir }}/assets/Rebecca-Smith.png"></li>
          <li>
            <p><strong>5/26/17 at 2:30pm</strong></p>
            <p><span>Congress Title</span> commencing on <span>15th of August</span> at Newyork</p>
          </li>
        </ul>
        <ul class="notification-container">
          <li>
            <div class="title-image"><i class="fa fa-comment user" aria-hidden="true"></i></div>
          </li>
          <li><img src="{{ ./imgDir }}/assets/Rebecca-Smith.png"></li>
          <li>
            <p><strong>5/26/17 at 2:30pm</strong></p>
            <p><span>Congress Title</span> commencing on <span>15th of August</span> at Newyork</p>
          </li>
        </ul>
        <ul class="notification-container">
          <li>
            <div class="title-image"><i class="fa fa-comment user" aria-hidden="true"></i></div>
          </li>
          <li><img src="{{ ./imgDir }}/assets/Rebecca-Smith.png"></li>
          <li>
            <p><strong>5/26/17 at 2:30pm</strong></p>
            <p><span>Congress Title</span> commencing on <span>15th of August</span> at Newyork</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="load-more">Loading more …</p>
      </div>
    </div>
	<input type="hidden" id="notificationcount" value="2">
  </div>

<!-- MANAGE NOTIFICATION MODAL -->

<div class="modal fade manage-notification-popup" id="manage-notification" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <h3 class="popup-title">Manage Notifications</h3>
        <div class=" popup-content">
          <span>New Article in a followed category</span>
          <select class="selectpicker">
					  <option>Immediately</option>
			</select>
        </div>
        <div class="popup-content">
          <span>New member joined</span>
          <select class="selectpicker">
					  <option>Immediately</option>
			</select>
        </div>
        <div class="popup-content">
          <span>Upcoming Registered congresses</span>
          <select class="selectpicker">
					  <option>Before 24 hrs</option>
			</select>
        </div>
        <div class="popup-content">
          <span>Representative Visit</span>
          <select class="selectpicker">
					  <option>Before 24 hrs</option>
			</select>
        </div>
        <div class="form-group text-center btn-save">
          <input type="submit" class="btn btn-primary" value="SAVE">
        </div>
      </div>
    </div>
	<input type="hidden" id="notificationcount" value="2">
  </div>
  
</div>
