﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.Media.Models.FlashRenderingModel

@using (Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "Flash", Model.IsControlEditable))
{
    <div @Html.Sxa().Component("flash", Model.Attributes) data-properties='@Model.JsonDataProperties'>
        <div class="component-content">
            @Model.MessageEditHere
            <div id="divFlash" runat="server"></div>
            <span class="flash-caption">
                @Html.Sitecore().Field("FlashCaption", Model.GetRenderingWebEditingParams() )               
            </span>
        </div>
    </div>
}  
