@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Loreal.Feature.Navigation
@using Sitecore.Mvc
@model Sitecore.XA.Feature.Navigation.Models.BreadcrumbRenderingModel


@if (!Model.Children.Any())
{
    @Model.MessageIsEmpty
}
<div class="container">
    <ol class="breadcrumb hidden-xs hidden-sm hidden-md">
        @foreach (var item in @Model.Children)
        {
            var _class = (item.CssClasses.Aggregate().Equals("last") ? "active" : item.CssClasses.Aggregate());

            <li class="@_class">
                @if (@Model.IsFake)
                {
                    <a href="#">@item.Name</a>
                }
                else
                {
                    foreach (var variantField in Model.VariantFields)
                    {
                        if (item.Item.Name.ToLower() == NavigationTemplates.Settings.homePageName)
                        {
                            <div class="navigation-title field-title">
                                <a href="@Sitecore.Links.LinkManager.GetItemUrl(item.Item)"><img class="breadcrumb-icon-home" alt="@item.Item.Name" src="/themes/skinalliance/images/assets/icon-home.png"></a>
                            </div>
                        }
                        else if (item.Item.Name.ToLower() == NavigationTemplates.Settings.userProfilePageName)
                        {
                            <div class="navigation-title field-title">
                                <a title="@Session["uname"]" href="#">@Session["uname"]</a>
                            </div>
                        }
                        else if (MobileMenuUtils.NavigationPrevent(item.Item))
                        {
                            <a href="#" id="navigation_prevent" title="@item.Item.Fields[NavigationTemplates.NavigationTitle].Value">@item.Item.Fields[NavigationTemplates.NavigationTitle].Value </a>
                        }
                        else
                        {
                            @Html.RenderingVariants().RenderVariant(variantField, item.Item, Model.IsControlEditable)
                        }
                    }
                }
            </li>
            @*if (_class == "active" && Sitecore.Context.Item.TemplateID == NavigationTemplates.ArtcilePageID)
                {
                    <li class="@_class">
                        <div class="navigation-title field-title">
                            <a href="#">@Sitecore.Context.Item.Fields[NavigationTemplates.NavigationTitle].Value </a>
                        </div>
                    </li>
                }*@
        }
        @if (!string.IsNullOrEmpty(Request.QueryString["q"]))
        {
            <li>
                <div class="navigation-title field-title">
                    <a href="#">@string.Format(Sitecore.Globalization.Translate.Text("searchresultLabel"), @Request.QueryString["q"])</a>
                </div>
            </li>
        }
    </ol>
</div>
