@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Data.Fields
@using Loreal.Feature.Navigation.Models
@model Loreal.Feature.Navigation.Models.CarouselViewModel
<!-- Start banner !-->
<div class="SAbanner">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @foreach (var slide in Model.Slides)
                {

                    <li data-target="#carousel-example-generic" data-slide-to="@slide.Index" class="@(slide.Index == 0 ? "active" : "")"></li>
                }

            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @foreach (var slide in Model.Slides)
                {
                    <div class="item @(slide.Index == 0 ? "active" : "")">

                        <div class="thumbnail adjust1">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <a href="@slide.ReadMore" title="@slide.Title">
                                    @slide.Image
                                </a>
                            </div>

                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div class="caption">
                                    <h5 class="text-info lead adjust2">@slide.Caption </h5>
                                    <h1>@slide.Title </h1>
                                    <p class="txtdot">@slide.Description </p>

                                    <a href="@slide.ReadMore" title="@slide.Title" class="btn btn-primary btn-lg home-btn">
                                        @slide.ReadMoreText
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><div class="cleafix"></div><!-- Controls -->
            <div class="row">
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" title="Previous">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" title="Next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- end banner !-->
