@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Data.Fields
@using Loreal.Feature.Navigation
@model Sitecore.XA.Feature.Navigation.Models.NavigationRenderingModel

<div class="clearfix"></div>
@if (Model.Children.Any())
{
    <footer class="footer" data-isloggedin="@Sitecore.Context.IsLoggedIn">

        <div class="container">

            <div class="fLogo">
                <p>@Translate.Text(NavigationTemplates.Settings.Footer.FooterTitle)</p>
                <div class="footerlogo">
                    <ul class="list-inline ">
                        @foreach (var item in Model.Children.Where(x => x.PageItem.TemplateID == NavigationTemplates.ExternalPage.ID))
                        {
                            foreach (BaseVariantField variantField in item.VariantFields)
                            {
                                LinkField linkField = item.PageItem.Fields[NavigationTemplates.ExternalPage.Fields.Url];
                                <li>
                                    <a  href="@(linkField == null ? "#" : linkField.GetFriendlyUrl())" target="_blank">
                                        @Html.Sitecore().Field(NavigationTemplates.ExternalPage.Fields.Image.ToString(), item.PageItem)
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="fmenu">
                    <p>@Translate.Text(NavigationTemplates.Settings.Footer.CopyrightText)</p>
                    <ul class="list-inline pull-right">

                        @foreach (var item in Model.Children.Where(x => x.PageItem.TemplateID != NavigationTemplates.ExternalPage.ID))
                        {
                            foreach (BaseVariantField variantField in item.VariantFields)
                            {
                                <li>@Html.RenderingVariants().RenderVariant(variantField, item.PageItem, item.IsControlEditable)</li>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
        @if (!Sitecore.Context.IsLoggedIn)
        {
            <div class="modal fade" id="redirectConfirmModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">@Translate.Text(NavigationTemplates.Settings.Footer.RedirectConfirmModal.Heading)</h4>
                        </div>
                        <div class="modal-body">
                            <p>@Translate.Text(NavigationTemplates.Settings.Footer.RedirectConfirmModal.Body)</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Translate.Text(NavigationTemplates.Settings.Footer.RedirectConfirmModal.Close)</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        }
    </footer>
}