@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
<header class="header">
    <div class="container">
        <div class="Logo">
            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)">
                <img src="@Model" class="logo" alt="Skin-Alliance">
            </a>
        </div>
        <div class="pull-right">
            <div class="toprtmenu">
                @Html.Sitecore().Placeholder("HeaderRight")
                <div class="Language" >
                    @Html.Sitecore().Placeholder("HeaderCountryList")
                </div>
            </div>
        </div>
    </div>
</header>
