@using Sitecore.XA.Feature.Navigation.Models
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Globalization
@using System.Linq;
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Loreal.Feature.Navigation
@using Sitecore.XA.Feature.Navigation.Models
@model Sitecore.XA.Feature.Navigation.Models.NavigationRenderingModel



<div class="container">
    <div class="navigation">
        <nav class="navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" title="Toggle navigation" class="navbar-toggle" data-toggle="slide-collapse" data-target="#SA-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="saopen">
                        <span class="fa fa-bars"></span>
                    </div>
                    <div class="saclose hidden">
                        <span class="fa fa-close"></span>
                    </div>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="SA-navbar-collapse">

                <!-- mobile nav header -->
                <div class="mobile-nav-header hidden-lg">
                    <a href="#" class="dropdown-toggle welcome-user" data-toggle="dropdown" role="button" aria-expanded="false" title="user dropdown">
                        <img class="userpic" src="@MobileMenuUtils.GetProfileImage()" alt="" /><p class="welcome-text">@Html.Raw(MobileMenuUtils.GetWelcomeText())</p>
                    </a>
                    <div class="Language">
                        @Html.Sitecore().Placeholder("ProfileCountryList")
                    </div>
                    <span class="close-mobile-nav">
                        <span class="fa fa-close"></span>
                    </span>
                </div>
                <!-- mobile nav header -->

                <ul id="mainMenu" class="navbar-nav nav">
                    @{NavigationRenderingModel homPageItems = null;}
                    @*For Home*@
                    @foreach (var item in Model.Children.Where(x => x.PageItem.TemplateID != NavigationTemplates.ExternalPage.ID))
                    {
                        homPageItems = item;
                        foreach (BaseVariantField variantField in item.VariantFields)
                        {
                            <li id="@item.PageItem.Name">@Html.RenderingVariants().RenderVariant(variantField, item.PageItem, item.IsControlEditable)</li>
                        }
                    }
                    @*END Home*@
                    @if (homPageItems != null && homPageItems.Children.Any())
                    {
                        foreach (var item in homPageItems.Children.Where(x => x.PageItem.TemplateID != NavigationTemplates.ExternalPage.ID))
                        {
                            foreach (BaseVariantField variantField in item.VariantFields)
                            {

                                if (item.Children.Any())
                                {
                                    <li id="@item.PageItem.Name" class="dropdown">
                                        @*Start to prevent Navigation*@
                                        @*For Home*@
                                        @if (MobileMenuUtils.NavigationPrevent(item.PageItem))
                                        {
                                            <a href="#" id="navigation_prevent_@item.PageItem.Name" title="@item.PageItem.Fields[NavigationTemplates.NavigationTitle].Value">@item.PageItem.Fields[NavigationTemplates.NavigationTitle].Value </a>
                                        }
                                        else
                                        {
                                            @Html.RenderingVariants().RenderVariant(variantField, item.PageItem, item.IsControlEditable)
                                        }
                                        @*End to prevent Navigation*@
                                        <b class="fa fa-angle-down hidden-lg"></b>
                                        <ul class="dropdown-menu">
                                            @foreach (var subItem in item.Children.Where(x => x.PageItem.TemplateID != NavigationTemplates.ExternalPage.ID))
                                            {

                                                if (subItem.Children != null && subItem.Children.Any())
                                                {
                                                    <li class="dropdown dropdown-submenu">
                                                        @Html.RenderingVariants().RenderVariant(variantField, subItem.PageItem, subItem.IsControlEditable)
                                                        <b class="fa fa-angle-down"></b>
                                                        <ul class="dropdown-menu">
                                                            @foreach (var subItemleveltwo in subItem.Children.Where(x => x.PageItem.TemplateID != NavigationTemplates.ExternalPage.ID))
                                                            {
                                                                <li>@Html.RenderingVariants().RenderVariant(variantField, subItemleveltwo.PageItem, subItem.IsControlEditable)</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>@Html.RenderingVariants().RenderVariant(variantField, subItem.PageItem, subItem.IsControlEditable)</li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {

                                    <li id="@item.PageItem.Name">
                                        @if (item.PageItem.Name.ToLower() == "create-post")
                                        {
                                            <i class="fa fa-pencil"></i>
                                        }
                                        @Html.RenderingVariants().RenderVariant(variantField, item.PageItem, item.IsControlEditable)
                                    </li>
                                }
                            }
                        }
                    }
                </ul>

                <!-- user profile menu for mobile -->
                <ul class="dropdown-menu user-dropdown visible-xs visible-sm visible-md" role="menu">
                    @foreach (KeyValuePair<string, string> item in MobileMenuUtils.GetMobileProfleLinks())
                    {
                        <li><a href="@item.Value" title="@item.Key">@item.Key</a></li>
                    }
                    <li>@Html.ActionLink(MobileMenuUtils.LogoutText(), "Logout", "Logout", new { url = @Sitecore.Context.Site.LoginPage }, null)</li>
                </ul>
                <!-- user profile menu for mobile -->
            </div>
        </nav>
    </div>
</div>
<div class="clearfix"></div>