﻿@using System.Web

@model dynamic

@{
    var itemId = HttpUtility.HtmlDecode(Request.QueryString["itemId"]);
    var lat = Request.QueryString[Sitecore.XA.Feature.Maps.Constants.Lat];
    var lng = Request.QueryString[Sitecore.XA.Feature.Maps.Constants.Lng];
    var key = Request.QueryString[Sitecore.XA.Feature.Maps.Constants.MapsProviderKey];
}

<link href="/sitecore/shell/themes/standard/default/Default.css" rel="stylesheet">
<style type="text/css">
    #map-point-selector {
        width: 100%;
        min-height: 600px;
        margin-bottom: 20px;
    }

    #map-rendering {
        height: 100%;
    }

    #map-search-box {
        margin-bottom: 20px;
    }

    .sc-dialogWindow-buttons {
        bottom: 0;
        width: 100%;
        position: fixed;
    }

    .scContentControl {
        margin-bottom: 20px;
    }
</style>

<span id="data" data-itemId="@itemId" style="display:none;"></span>
<div id="map-rendering" data-itemId="@itemId">
    <input type="hidden" id="key" name="key" value="@key"/>
    <input type="text" id="map-search-box" placeholder="Find location..."/>
    <div id="map-point-selector"></div>
    <form style="display: none">
        <label for="map-point-lat" class="scEditorFieldLabel">Latitude</label>
        <input id="map-point-lat" name="map-point-lat" class="scContentControl" type="text" value="@lat"/>

        <label for="map-point-lng" class="scEditorFieldLabel">Longitude</label>
        <input id="map-point-lng" name="map-point-lng" class="scContentControl" type="text" value="@lng"/>

        <input type="submit" value="submit"/>
    </form>
</div>
