<!-- start congress landing !-->
<!-- <div class="congress-landing">
	<div class="container pbot">
		<div class="upcoming">
			<h1 class="title">UPCOMING CONGRESS</h1>
		</div>
		{{#each congressList-landing}}
			<div class="upcoming-event col-lg-3 col-md-3 ">
				<div class="calender">
					<p class="">{{this.month}}</p>
					<h1 class="">{{this.date}}</h1>			
				</div>
				<div class="UPEpost">
					<p class="event-post">{{this.post}}</p>
				</div>
			</div>
		{{/each}}
	</div>
</div> !-->



<div class="congress-landing">
<div class="container pbot">
<div class="row">
<div class="cong-header">
	<h1 >CONGRESS Landing</h1>
 <div class="pull-right"><a href="#" > > View All</a></div>
</div>

<div class="clearfix"></div>

<div class="col-lg-3 col-md-6">
<div class="cong-wrap ">
		
	    <div class="cong-ddmm">
	    	<p class="cong-date">May</p>
	    	<p class="cong-month">10</p>
	    </div>
	   
    <div class="cong-comment" >
    		<p class="cong-post txtdot"><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo </a></p>
	</div>
</div></div>


<div class="col-lg-3 col-md-6">
<div class="cong-wrap ">
		
	    <div class="cong-ddmm">
	    	<p class="cong-date">May</p>
	    	<p class="cong-month">10</p>
	    </div>
	   
    <div class="cong-comment">
		<p class="cong-post txtdot"><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo </a></p>
	</div>
</div></div>

<div class="col-lg-3 col-md-6">
<div class="cong-wrap ">
		
	    <div class="cong-ddmm">
	    	<p class="cong-date">May</p>
	    	<p class="cong-month">10</p>
	    </div>
	   
    <div class="cong-comment">
		<p class="cong-post txtdot"><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo </a></p>
	</div>
</div></div>

<div class="col-lg-3 col-md-6">
<div class="cong-wrap ">
		
	    <div class="cong-ddmm">
	    	<p class="cong-date">May</p>
	    	<p class="cong-month">10</p>
	    </div>
	   
    <div class="cong-comment">
		<p class="cong-post txtdot"><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo </a></p>
	</div>
</div></div>

<div class="col-lg-3 col-md-6">
<div class="cong-wrap ">
		
	    <div class="cong-ddmm">
	    	<p class="cong-date">May</p>
	    	<p class="cong-month">10</p>
	    </div>
	   
    <div class="cong-comment">
		<p class="cong-post txtdot"><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo </a></p>
	</div>
</div></div>

<div class="col-lg-3 col-md-6">
<div class="cong-wrap ">
		
	    <div class="cong-ddmm">
	    	<p class="cong-date">May</p>
	    	<p class="cong-month">10</p>
	    </div>
	   
    <div class="cong-comment">
		<p class="cong-post txtdot"><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo </a></p>
	</div>
</div></div>

<div class="col-lg-3 col-md-6">
<div class="cong-wrap ">
		
	    <div class="cong-ddmm">
	    	<p class="cong-date">May</p>
	    	<p class="cong-month">10</p>
	    </div>
	   
    <div class="cong-comment">
		<p class="cong-post txtdot"><a href="#">Distineo at consequat nonummy os feugiat odio consequat paulatim premo </a></p>
	</div>
</div></div>


</div>
</div>
</div>

<!-- end congress landing !-->