﻿<!-- Start Latest Post content !-->
<template>
<div class="create-post-preview">
	<div class="inpage-wrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-sm-8 col-sm-push-4 inpage-banner-content">
					<h1>{{createPostData.Article.Name}}</h1>
				</div>
				<div class="col-lg-4 col-sm-4 col-sm-pull-8" v-if="createPostData.Article.Image !== ''"><img class="" :src="createPostData.Article.Image" alt="SKINALLIANCE" /></div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="Adetails-page">
	<div class="article-details artdet-survey">
		<div class="row">
			<div class="col-sm-8">
		<!-- <h1>{{createPostData.Article.Name}}</h1> -->
		<p v-html="createPostData.Article.Body"></p>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" v-for="(questobj, index) in createPostData.Questionaire">
				<!-- QUESTION-1 -->
				<div class="panel panel-default noborder QuestionnaireSection">
					<div class="panel-heading noborder">
						<a v-if="index == 0" role="button" data-toggle="collapse" data-parent="#accordion"  v-bind:href="'#question'+index" aria-expanded="true" :aria-controls="'question'+index">
						Questionnaire {{index + 1}}</a>
						<a v-else role="button" data-toggle="collapse" data-parent="#accordion"  v-bind:href="'#question'+index" aria-expanded="false" :aria-controls="index">
						Questionnaire {{index + 1}}</a>
					</div>
						<div :id="'question'+index" class="panel-collapse collapse "  v-bind:class="{ in: index == 0 }" role="tabpanel" aria-labelledby="question-1-heading">
							 <div class="panel-body noborder survey-question">
						<p class="question">{{questobj.Question}}</p>
						<ul class="survey-answers list-no-style" v-for="ansobj in questobj.Answers">
							<li v-if="ansobj.Ans !==''">
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default disabled" v-bind:class="{active: ansobj.isChecked}">
								<input type="checkbox" :checked="ansobj.isChecked" v-bind:id="'chkOption'+ansobj.Opt" name="chkOption">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">{{ansobj.Opt}}:</span>
							<span class="answer-text">{{ansobj.Ans}}</span>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
</div>
<!-- end article details !-->
<div class="clearfix"></div>
<div class="full-width">
	<div v-if="createPostData.Article.ExternalUrl !== ''">
		<a :href="createPostData.Article.ExternalUrl" class="btn btn-primary">{{createPostData.Article.ButtonName}}</a>
	</div>
</div>
</div>
</div>
</template>
<script src="./Previews.js"></script>
<!-- End  Latest Post  content !-->
