﻿@model Sitecore.XA.Feature.Search.Models.LocationFilterModel
@using Sitecore.XA.Feature.Search
@using Sitecore.XA.Feature.Search.Enums
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions

@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

<div @Html.Sxa().Component("location-filter", Model.Attributes) data-properties='@Html.Raw(Model.JsonDataProperties)'>
    <div class="component-content">
        @if (Model.DataSourceItem == null)
        {
            @Model.MessageIsEmpty
        }
        else if (Model.Mode == LocationFilterMode.UserProvided || Model.Mode == LocationFilterMode.Mixed)
        {
            <label for="textBoxLocationSearch">
                @Html.Sxa().Field(Templates.LocationFilter.Fields.SearchTextBoxLabel, Model.DataSourceItem, !Model.IsControlEditable)
            </label>
            <input type="text" class="location-search-box-input" autocomplete="off" id="textBoxLocationSearch" name="textBoxLocationSearch" placeholder="@Model.SearchTextBoxText" />
            if (!string.IsNullOrWhiteSpace(Model.SearchButtonText))
            {
                <button class="location-search-box-button" type="submit">
                    @Model.SearchButtonText
                </button>
            }
        }
        else
        {
            @Model.MessageEditHere
        }
    </div>
</div>
