<!-- Start Directory Content !-->
<div class="container">
<div class="DirectoryList">
  <div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4 col-sm-push-8">
	<div class="Filterby-Country">
	  <h1 class="collapsed" data-toggle="collapse" data-target="#countryFilter">Filter by Country
	  <div class="collbtn visible-xs visible-sm-block "><a href="#"><i class="fa fa-angle-down"></i></a></div>
	  </h1>
		<div class="countrybox collapse in" id="countryFilter">
			<div id="FilterbyCountry">
				 <ul class="list-inline">
					{{#each countries}}
					<li>
						<div class="custom-check">
							<input id="{{this.code}}" type="checkbox" class="dir-user-country country-checkbox" name="country" value="{{this.name}}" data-country-code="{{this.code}}"/>
	 						<label for="{{this.code}}"><span>{{this.name}}</span></label>
						</div>
				 		</li>

					{{/each}}
				</ul>
			</div>
		</div>
	</div>

	<div class="Filterby-speciality">
		<h1 class="collapsed" data-toggle="collapse" data-target="#countrySpeciality">Filter by speciality
 <div class="collbtn visible-xs visible-sm-block "><a href="#"><i class="fa fa-angle-down"></i></a></div>
		</h1>
			<div id="countrySpeciality" class="specialitybox collapse in">
				<div id="FilterbyCountry">
					<ul class="list-inline">
					{{#each speciality}}
					<li>
					<div class="custom-check">
						<input id={{this.code}} type="checkbox" name="speciality" class="dir-user-speciality speciality-checkbox" value="{{this.name}}" data-speciality-code="{{this.code}}"/>
						<label for="{{this.code}}"><span>{{this.name}}</span></label>
					</div>
				</li>
					<!--li>
						<a href="#">
							<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default">
							<input type="checkbox" class="dir-user-speciality" data-speciality-name="{{this.name}}"/>
							<span class="fa fa-check"></span>
							</label>
							<span>{{this.name}}</span>
							</div>
						</a>
					</li-->
					{{/each}}
				</ul>
			</div>
			</div>

	</div>

</div>

<div class="col-lg-8 col-md-8 col-sm-8 col-sm-pull-4">
  <div class="directory-expand-collapse">
  	<div class="dir-expand"><a href="#">Expand</a> <i class="fa fa-angle-down expandicon"></i></div>
  	<div class="dir-collapse"><a href="#">collapse</a> <i class="fa fa-angle-up collapseicon"></i></div>
  </div>
	<!-- start directory List !-->
	{{#each dirInfo}}
	<div class="Dir-List-{{this.user}} Dir-List">
		<div class="title-header">
			<h1>{{this.user}}</h1> <i class="fa fa-angle-down expcollap pull-right"></i>
		</div>
		<div id="DirCateList{{this.user}}" class="dir-item-list">
			<ul class="list-inline user-directory-list img-responsive lazyload">
				{{#each this.userList}}
					<li class="user-dir-list country-code-{{this.countryCode}} speciality-code-{{this.specialityCode}}">
            <a href="#">
  						<div class="Dir-List-pic">
  							<img src="{{ ../../imgDir }}/assets/usr1.png" class="img-responsive Dir-List-image">
  						</div>
  						<span>{{this.name}}</span>
            </a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{/each}}

	<div class="no-result-found">No Result Found</div>
	<!-- end directory List !-->
</div>


</div>
</div>
</div>


<!--  Start Directory Content !-->
