﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Search.Models.LoadMoreRenderingModel

<div @Html.Sxa().Component("load-more", Model.Attributes) data-properties='@Model.JsonDataProperties'>
    <div class="component-content">
        @Model.MessageIsEmpty
        @if (Model.DataSourceItem != null)
        {
            <input type="button" value="@Model.LoadMoreLabel"/>
        }
    </div>
</div>
