﻿<!-- Start Latest Post content !-->
<template>
<div class="col-lg-4">
<div class="SAPost">
	<div class="LatestPost">
		<h1 class="title pull-left">{{title}}</h1>
		<p class="viewall pull-right"><a  href="#">View All</a></p> 
	</div>
	<div class="clearfix"></div>
	<ul class="list-inline">
		<li v-for="post in postList.details">
			<div class="postImg">
				<div class="pull-left">
					<img class="img-responsive PImg lazy" :src="post.src" alt="Skin Alliance" />
				</div>
				<div class="post-comment pull-right">
					<p class="pDate">{{post.pDate}}</p>
					<p class="pwrite">{{post.content}}</p>
					<div class="plike">
						<p class="pStar"><i class="fa fa-star">  </i> {{post.star}} </p>
						<p class="pComment"><i class="fa fa-comment"> </i> {{post.comment}} </p>
					</div>
				</div>
			</div>
		</li>
	</ul> 
	</div>
</div>	
</template>
<script src="./PostLists.js"></script>
<!-- End  Latest Post  content !-->
