<div class="container scientific-board-members">
  <p class="scientific-board-desc">
    Pertineo quidem ludus camur quod vel macto ventosus. Letatio in sed et vindico. Commoveo amet gravis ea interdico similis. Zelus ullamcorper adipiscing mos populus nibh consequat iriure nulla. In magna luptatum. Imputo secundum pneum similis indoles iriure
    cui gemino si nutus. Suscipere mauris occuro pneum. Jus similis hendrerit vindico ex lucidus vicis iriure. Similis erat in multo hendrerit sino. Ulciscor letatio letalis vulputate esca hos. Gilvus aliquam odio illum macto praemitto. Antehabeo nisl
    augue.
  </p>
  <section class="scientific-board-members-list">
    <!-- SCIENTIFIC BOARD MEMBER LIST -->
    {{#each scientific-board-member-list}}
      <div class="row board-member">
        <a href="#">
          <div class="col-sm-2 board-member-profile-pic">
            <img class="img-responsive" src="{{../imgDir}}/assets/{{this.src}}" alt= {{this.alt}}>
          </div>
          <div class="col-sm-10 board-member-detail">
            <p href="#" class="board-member-name" title="{{this.name}}">{{this.name}}</p>
            <p class="board-member-position">{{this.position}}</p>
            <p class="board-member-desc">{{this.member-info}}</p>
          </div>
        </a>
      </div>
    {{/each}}
  </section>
</div>
