<div class="container">
<!-- Article Detail webcast !-->
<div class="Adetails-page article-detail-webcast">
	<div class="row">
		<div class="col-lg-8 col-md-8">
			<div class="article-details">
				<div class="webcast-wrap">
					<img src="{{ ./imgDir }}/assets/{{articleDetailWebcast.webcastImg}}" alt="SkinAlliance" class="logo" />
				</div>
					<p>{{articleDetailWebcast.desc1}}</p>
					<p>{{articleDetailWebcast.desc2}}</p>
					<p>{{articleDetailWebcast.desc3}}</p>

					<!-- Access website and Like button -->
					<div class="full-width">
						<input type="button" id="articleDownload" class="btn btn-primary pull-left" data-download-url="https://www.skin-alliance.com/-/media/Skin-Alliance-Media/2014/10/guidelines_jdv12082pdf.pdf" value="Download">
						<a href="#" class="btn btn-primary pull-right btn-like"><i class="fa fa-star"></i> Like (6) </a>
					</div>
			</div>

			<div class="Article-Comments">
				<h1>Comments:</h1>
				{{#each articleDetailWebcast.articleComments}}
					<div class="arti-post-cmnt">
						<img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" />
						<ul class="list-inline">
							<li>{{this.username}}</li>
							<li class=""><p> {{this.desc}} </p> </li>
							<li> <span>{{this.date}} &nbsp &nbsp| </span>   <a href="#"> Reply </a> </li>
						</ul>
					</div>
				{{/each}}

				<div class="input-group inpaddsp usrinput">
				<label for="post-comment"> Comments</label>
				  <textarea type="text" id="address" name="address" class="form-control" placeholder="{{address}}" rows="5"></textarea>
				</div>
				<div class="">
					<button type="submit" value="Submit" class="btn btn-primary">Post comment</button>
				</div>
			</div>
		</div>
		<!-- Start Post content !-->
		<div class="col-lg-4 col-md-4">
			<div class="pdetail-title">
				<h1>Post Details</h1>
				<div class="postdate">
					<label class="">Posted: <span class="" >20th March 2017</span></label>
				</div>
				<div class="postby">
					<label class="">Posted by: <span class="">Community Manager</span></label><button class="btn btn-primary follow">follow</button>
				</div>
				<div class="postcategory">
					<label class="">Category: <span class="">: Sub-Category Name</span></label><button class="btn btn-primary follow">follow</button>
				</div>
			</div>
			<!-- end Post content !-->

			<!-- Start Realted Post content !-->
			<div class="Related-Posts">
				<h1 class="title-underlined">Related Posts</h1>
				{{#each relatedPost}}
					<div class="relate-post-cont">
						<span class="related-post-thumb">
							<a href="#"><img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" /></a>
						</span>
						<a href="#">
						<ul class="list-inline">
							<li class=""><p class="txtdot"> {{this.postDesc}}</p> </li>
							<li class="related-post-like-comment"><span><i class="fa fa-star"></i>{{this.star}}</span><span><i class="fa fa-comment"></i>{{this.comments}}</span></li>
						</ul>
					</a>
					</div>
				{{/each}}
			</div>
			<a href="http://chriscoyier.net" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">This link will open in new window/tab</a>
			<!-- End Related Post content !-->
			<div id="plagiarismModal" tabindex="-1" role="dialog" data-backdrop="static" class="modal fade in" style="display: none; padding-right: 16px;"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-body text-center"><p>
The materials available on this website are identified as being the intellectual property of a third party. Authorization to reproduce such materials would need to be obtained from the third party concerned


</p><div data-toggle="buttons" class="btn-group "><label class="btn btn-default btn-sm active"><input aria-label="Downoad I Agree" autocomplete="off" id="download_i_agree" name="download_i_agree" type="checkbox"> <span class="fa fa-check"></span></label> I agree to those terms and conditions
                   </div> <p></p> <button type="button" id="articleDownloadOk" class="btn btn-primary hidden">Ok</button> <button type="button" data-dismiss="modal" class="btn btn-primary hidden">Cancel</button></div></div></div></div>
Balamurugan • Now

		</div>
	</div>
</div>
</div>
