@using Sitecore.Mvc
@model Sitecore.XA.Feature.PageContent.Models.PaginationLinkModel

@if (Model.BaseModel.IsLink)
{
    <a href="@Model.BaseModel.Url">@Model.GetLabel(@Html.Sitecore())</a>
}
else
{
    <span class="@Model.BaseModel.CssClass">@Model.GetLabel(@Html.Sitecore())</span>
}
