<!-- Start alliance-member !-->

<div class="AllianceMember">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="board-member-profile-pic" data-navigation="community">
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m1.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m2.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m3.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m4.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m5.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m6.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m7.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/skin-alliance-logo.png" alt= {{this.alt}} /></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="memtext">
        <h1 class="">{{alianceMember.title}}</h1>
        <p class="txtdot">{{alianceMember.desc}}</p>
        <button class="btn btn-primary readmore" data-navigation="community">{{alianceMember.readmore}}</button>
      </div>
    </div>
  </div>

</div>

<!-- end alliance-member !-->
<div class="AllianceMember">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="board-member-profile-pic board-member-profile-pic-small" data-navigation="community">
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m1.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m2.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m3.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m4.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m5.png" alt= {{this.alt}} /></a>
        <a href="#"><img class="img-responsive board-mem" src="{{./imgDir}}/assets/board-members/m6.png" alt= {{this.alt}} /></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="memtext">
        <h1 class="">{{alianceMember.title}}</h1>
        <p class="txtdot">{{alianceMember.desc}}</p>
        <button class="btn btn-primary readmore" data-navigation="community">{{alianceMember.readmore}}</button>
      </div>
    </div>
  </div>

</div>
