﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Search.Models.SearchResultsRenderingModel


@{
    string variantClass = string.Empty;
    if (Model.Attributes.ContainsKey("class"))
    {
        variantClass = Model.Attributes["class"].Aggregate();
    }
}

<div @Html.Sxa().Component("search-results", Model.Attributes) data-class-variant="@variantClass" data-properties='@Model.JsonDataProperties'>
    <div class="component-content">
        @Model.MessageIsEmpty

        <div class="no-results" style="display: @Model.StyleDisplay">
            @Html.Sxa().Field("ResultsNotFoundText", Model.DataSourceItem, !Model.IsControlEditable)
            @Html.Sxa().Field("Text", Model.Item, !Model.IsControlEditable)
        </div>
        <div class="progress"></div>
    </div>
</div>




