﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.Social.Models.FeedRenderingModel

<div @Html.Sxa().Component("feed", Model.Attributes)>
    <div class="component-content">

        @if (Model.Rendering.DataSourceItem == null)
        {
            @Model.MessageIsEmpty
        }
        @Html.Sxa().RenderHeading(Model.HeadingTag, Model.DataSourceItem, "Title", Model.GetRenderingWebEditingParams())
        <div class="feeds">
            @if (!Html.Sxa().IsEdit)
            {
                foreach (var item in Model.FeedItems)
                {
                <ul>
                    <li class="feed-item">
                        <div class="feed-title">
                            <a href="@item.Url">
                                @item.Title
                            </a>
                        </div>
                        @if (item.Timestamp != DateTime.MinValue)
                        {
                            <span class="feed-datetime">@item.Timestamp.ToLocalTime().ToString("g")</span>
                        }
                        <p class="feed-description">
                            @item.Description
                        </p>
                    </li>

                </ul>
                }
            }
            <div class="feed-link">
                @Html.Sxa().Field("ReadMoreLink", Model.Item, Model.GetRenderingWebEditingParams())
            </div>
            @if (Html.Sxa().IsEdit)
            {
                @:URL to the feed (RSS or ATOM):
                @Html.Sxa().Field("FeedUrl", Model.Item, !Model.IsControlEditable)<br />

                @:Numer of items in the feed to display:
                @Html.Sxa().Field("ItemsNumber", Model.Item, !Model.IsControlEditable)<br />

                @:How long data is cached on server (in minutes):
                @Html.Sxa().Field("CacheInterval", Model.Item, !Model.IsControlEditable)<br />  
            }
        </div>
    </div>
</div>
