﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Mvc.Configuration

@model Loreal.Feature.FollowandComments.Model.LikeViewModel

@if (Model != null && !Loreal.Feature.FollowandComments.Utils.ShowComments())
{
    using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post))
    {
        @Html.Sitecore().FormHandler("Like", "Toggle")
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-star"></i> @Model.Label (@Model.Count) </button>
        @Html.HiddenFor(m => m.Like, new { id = "Like", value = Model.Like })
        @Html.HiddenFor(m => m.Label, new { id = "Label", value = Model.Label })
    }
}
