<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#webCasting">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="webCasting" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body webcast-player">
          <div class="webcast-slides">
            <div class="player">
              <div class="slides">
				<img class="selectable selected" id="slide_0" src="{{ ./imgDir }}/fullscreen/Diapositive183.jpg">
				<img class="selectable" id="slide_1" src="{{ ./imgDir }}/fullscreen/Diapositive187.jpg">
				<img class="selectable" id="slide_2" src="{{ ./imgDir }}/fullscreen/Diapositive189.jpg">
                <img class="selectable" id="slide_3" src="{{ ./imgDir }}/fullscreen/Diapositive190.jpg">
				<img class="selectable" id="slide_4" src="{{ ./imgDir }}/fullscreen/Diapositive191.jpg">
			 </div>
            </div>
            <div class="video-player">
            <div class="player_infos">
              <div class="embed-responsive embed-responsive-16by9">
                <div class="webcast-iframe-desktop">
					<iframe src="https://player.vimeo.com/video/222703206" frameborder="0" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="webcast-mobile">
					<div id='videos'>
						<div data-vimeo-url="https://player.vimeo.com/video/222703206" id="player"></div>
					</div>
				</div>
            </div>
			 <div class="mover_controls">
                <a href="javascript:void(0);" class="button_player btn-ctrl sound"><i class="fa fa-volume-up"></i><i class="fa fa-volume-off"></i></a>
                <div class="list_controls">
                  <a href="javascript:void(0);" class="button_player previous" title="Go Backward"><i class="fa fa-backward"></i></a>
                  <a href="javascript:void(0);" class="button_player btn-ctrl play"><i class="fa fa-play"></i><i class="fa fa-pause"></i></a>
                  <a href="javascript:void(0);" class="button_player next" title="Go Forward"><i class="fa fa-forward"></i></a>
                  <a class="clear"></a>
                </div>
              </div>
          </div>
          </div>
          <div class="webcast-controls">
            <div class="chapters_interface">
              <div id="webcastWrapper" style="overflow: hidden;">
                     <div class="carousel slide media-carousel hidden-xs" id="webcast-slider">
					<div class="carousel-inner MS-content">
					  <div class="item  active">
						<div class="row">
						  <div class="col-md-2 col-sm-2 thumb" id="icon_0" data-video-time="0">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive183.jpg" title="1"></a>
						  </div>
						  <div class="col-md-2 col-sm-2 thumb" id="icon_1" data-video-time="24">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive187.jpg" title="1"></a>
						  </div>
						  <div class="col-md-2 col-sm-2 thumb" id="icon_2" data-video-time="45">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive189.jpg" title="1"></a>
						  </div>
						  <div class="col-md-2 col-sm-2 thumb" id="icon_3" data-video-time="105">
						 <a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive183.jpg" title="1"></a>
						 </div>
						 <div class="col-md-2 col-sm-2 thumb" id="icon_4" data-video-time="149">
						 <a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive187.jpg" title="1"></a>
						 </div>
						 <div class="col-md-2 col-sm-2 thumb" id="icon_5" data-video-time="165">
						 <a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive189.jpg" title="1"></a>
						 </div>
						</div>
					  </div>
					  <div class="item">
						<div class="row">
						  <div class="col-md-2 col-sm-2 thumb" id="icon_3" data-video-time="127">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive190.jpg" title="1"></a>
						  </div>
						  <div class="col-md-2 col-sm-2 thumb" id="icon_4" data-video-time="147">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive191.jpg" title="1"></a>
						  </div>
						</div>
					  </div>
					</div>
					<a data-slide="prev" href="#webcast-slider" class="left carousel-control">‹</a>
					<a data-slide="next" href="#webcast-slider" class="right carousel-control">›</a>
				  </div>
				  
				   <div class="carousel slide media-carousel visible-500" id="mwebcast-slider">
					<div class="carousel-inner MS-content">
					  <div class="item  active">
						<div class="row">
						  <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_0" data-video-time="0">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive183.jpg" title="1"></a>
						  </div>
						   <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="24">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive187.jpg" title="1"></a>
						  </div>
						</div>
					  </div>
					  <div class="item">
						<div class="row">
						  <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_1" data-video-time="45">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive189.jpg" title="1"></a>
						  </div>
						   <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="106">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive190.jpg" title="1"></a>
						  </div>
						</div>
					  </div>
					  <div class="item">
						<div class="row">
						  <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="106">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive190.jpg" title="1"></a>
						  </div>
						   <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="106">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive190.jpg" title="1"></a>
						  </div>
						</div>
					  </div>
					</div>
					<a data-slide="prev" href="#mwebcast-slider" class="left carousel-control">‹</a>
					<a data-slide="next" href="#mwebcast-slider" class="right carousel-control">›</a>
				  </div>
				  
				   <div class="carousel slide media-carousel visible-500-767" id="dwebcast-slider">
					<div class="carousel-inner MS-content">
					  <div class="item  active">
						<div class="row">
						  <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_0" data-video-time="0">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive183.jpg" title="1"></a>
						  </div>
						   <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="24">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive187.jpg" title="1"></a>
						  </div>
						</div>
					  </div>
					  <div class="item">
						<div class="row">
						  <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_1" data-video-time="45">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive189.jpg" title="1"></a>
						  </div>
						   <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="106">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive190.jpg" title="1"></a>
						  </div>
						</div>
					  </div>
					  <div class="item">
						<div class="row">
						  <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="106">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive190.jpg" title="1"></a>
						  </div>
						   <div class="col-md-2 col-sm-2 col-xs-6 thumb" id="icon_2" data-video-time="106">
							<a class="thumbnail" href="#"><img src="{{ ./imgDir }}/thumbs/Diapositive190.jpg" title="1"></a>
						  </div>
						</div>
					  </div>
					</div>
					<a data-slide="prev" href="#dwebcast-slider" class="left carousel-control">‹</a>
					<a data-slide="next" href="#dwebcast-slider" class="right carousel-control">›</a>
				  </div>
				  
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
