<div class="container ">
	<div class="UserLogin ">
		<!-- Start Login Screen!-->
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-5 col-md-5 col-sm-5">
			<h1 class="pull-left">{{loginTitle}}</h1>
			<div class="clearfix"></div>
			<div class="">
				<p>{{loginDesc}}</p>
			</div>
			<form class="login-form" id="signInForm" action="/login?returnUrl=%2F" method="post">
				<div class="input-group usrinput">
					<input id="login_email" name="Username" type="text" data-uname="Please enter a valid Username or e-mail address" class="form-control" placeholder="{{username}}" required>
				</div>
				<div class="input-group usrinput usr-input-password">
					<input id="login_password" name="Password" type="password" data-upassword="Please enter your password" class="form-control" placeholder="{{password}}" required>
				</div>
				<div class="inpaddsp login-bottom">
					<div class="btn-group " data-toggle="buttons">
						<label class="btn btn-default btn-sm">
					<input type="checkbox" autocomplete="off">
					<span class="fa fa-check"> </span>
				</label> {{rememberMe}}
					</div>
					<div class="pull-right hidden-xs">
						<div class="forgotpwd" id="forgot_password"><a href="#">{{forgetPassword}} <i class="fa fa-angle-right"></i></a></div>
					</div>
				</div>
				<div class="">
					<button id="login_submit" type="submit" value="Submit" class="btn btn-primary btn-lg btn-login">{{loginBtn}}</button>
				</div>
				<div id="Reg_link" class="regaccount hidden-xs">Are you a new user ?<a href="#">{{registerAcc}} <i class="fa fa-angle-right"></i></a></div>
			</form>

		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 login-divider">
			<div class="or">
				<p class="">or</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-5 social-login">
			<div class="cent-align">
				<button id="twiiter_signin" type="button" class="btn btn-default btn-facebook btn-align">
						<i class="fa fa-facebook fa-2x btn-fbicon"></i><span class="social-btn-text">{{loginFB}}</span></button>
				<a href="https://api.twitter.com/oauth/authenticate?oauth_token=7q6CEgAAAAAAawOyAAABXE6m7NA">
				<button id="facebook_signin" type="button" class="btn btn-default btn-twitter">
						<i class="fa fa-twitter fa-2x btn-twiticon"></i><span class="social-btn-text">{{loginTwitter}}</span></button>
				</a>
				<!-- <a href="#" class="">
				<button id="facebook_signin" type="button" class="btn btn-default btn-linkedin">
						<i class="fa fa-linkedin fa-2x btn-linkdicon"></i>{{loginLinkedin}}</button>
			</div> -->
	</div>
	<div class="forgotpwd visible-xs text-center" id="forgot_password"><a href="#">{{forgetPassword}} <i class="fa fa-angle-right"></i></a></div>
	<div id="Reg_link" class="regaccount visible-xs text-center">Are you a new user ?<a href="#">{{registerAcc}} <i class="fa fa-angle-right"></i></a></div>
<div class="col-lg-1 col-md-1 col-sm-1"></div>
</div>
</div>
</div>
<div class="container-fluid discover-dermo-wrapper">
	<div class="container discover-dermo">
			<h2>Discover Dermocosmetics Science</h2>
			<div class="row">
				<div class="col-sm-4 discover-dermo-item">
					<h4>EXPERTS</h4>
					<img src="{{./imgDir}}/assets/dermo-icon-1.svg">
					<p>Content generated and approved by <strong>a high level scientific board of expert dermatologists.</strong></p>
				</div>
				<div class="col-sm-4 discover-dermo-item">
					<h4>KNOWLEDGE</h4>
					<img src="{{./imgDir}}/assets/dermo-icon-2.svg">
					<p><strong>Latest news on</strong> dermocosmetics,high level scientific content, clinicalcases, congress reports, Publications.</p>
				</div>
				<div class="col-sm-4 discover-dermo-item">
					<h4>COMMUNITY</h4>
					<img src="{{./imgDir}}/assets/dermo-icon-3.svg">
					<p>As a social media, you can exchange,comment, and share with <strong>an international community.</strong></p>
				</div>
		</div>
	</div>
</div>
<div class="container sa-commitment">
	<h2><span>Skin Alliance</span> Commitment To Dermocosmetics</h2>
	<p>The SkinAlliance website is a unique interactive digital platform dedicated to dermocosmetic science, launched by L’Oréal<br/> Active Cosmetics and developed for healthcare professionals. </p>
	<p>This digital tool allows users to have access to up-to-date news, publications and clinical cases in the field of <br/>dermocosmetics, but also interact with peers in a private setting. Members can post, comment, like, and discuss various <br/>topics within the community.</p>
	<p>SkinAlliance members can also find congress reports and experts comments on various subjects related to <br/>Dermocosmetics. This website is unbranded and dedicated to the science behind dermocosmetics, Users should not <br/>mention products and/or brands on this platform.</p>
	<p>Overall, the SkinAlliance platform has been specifically created to facilitate discussion between dermocosmetics experts<br/> across the world as well as to provide quick and easy access to high-level scientific content.</p>
	<div class="text-center register-btn">
		<a href="#" class="btn btn-primary">Create an Account</a>
	</div>
</div>
	<!-- end Login Screen !-->
