﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>
    @foreach (string style in assetLinks.Styles)
    {
        @Html.Raw(style)
    }
</head>
<body @Html.Sxa().Body().Decorate()>
    <div id="wrapper" class="overlay-page">
        <div class="main clearfix component-content">
            <div class="row overlay-inner">
                <div class="grid-12">
                    @Html.Sitecore().Placeholder("overlay")
                </div>
            </div>
        </div>
    </div>

    @{
        foreach (string script in assetLinks.Scripts)
        {
            @Html.Raw(script)
        }
        if (!Sitecore.Context.PageMode.IsNormal)
        {
            <input type="hidden" id="hdPageMode" value="@(Sitecore.Context.PageMode.IsPreview ? "preview" : "edit")" />
        }
    }

    @*
        //TODO: When Forms will be implemented rewrite this to more generic solution.
        @{ Html.RenderDelayed("FormWrapper"); }
    *@
</body>
</html>