﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Mvc.Configuration

@model Loreal.Feature.FollowandComments.Model.FollowUserListViewModel

@if (Model != null)
{
    if (Model.Followed != null && Model.Followed.Count > 0)
    {
        <div class="follwed-by">
            <h1 class="title-underlined">@Model.FollowedLabel (@Model.Followed.Count)</h1>
            <div id="FollowBy">
                <ul class="list-inline">
                    @foreach (var follow in Model.Followed)
                    {
                        <li>
                            <a href="@follow.FollowedLink">
                                <div class="follwedby-pic">
                                    <img src="@follow.FollowedImageUrl" alt="@follow.FollowedName" class="img-responsive follwedby-image">
                                    <div class="follwedby-overlay">
                                        <div class="follwedby-text datahide"><i class='fa fa-plus'></i></div>
                                    </div>
                                </div>
                                <span class="txtdot">@follow.FollowedName</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>

        </div>
    }
    if (Model.Following != null && Model.Following.Count > 0)
    {
        <div class="Following">
            <h1 class="title-underlined">@Model.FollowingLabel (@Model.Following.Count)</h1>
            <div id="Following">
                <ul class="list-inline">
                    @foreach (var flw in Model.Following)
                    {
                        <li>
                            <a href="@flw.Link">
                                <div class="Following-pic">
                                    <img src="@flw.ImageUrl" alt="@flw.Name" class="img-responsive follwedby-image">
                                    <div class="Following-overlay">
                                        <div class="follwedby-text datahide"><i class='fa fa-plus'></i></div>
                                    </div>
                                </div>
                                <span class="txtdot">@flw.Name</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}