﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Mvc.Configuration
@using System.Linq;

@model Loreal.Feature.FollowandComments.Model.FollowCategoryListViewModel

@if (Model != null)
{
    <div clas="row">
        @if (Model.Categories != null && Model.Categories.Count > 0)
        {

            <div class="col-lg-6 col-md-6 col-sm-6 p-left-0">
                <div class="category-followed">
                    <h1 class="title-underlined">@Model.FollowCategoryLabel</h1>
                    <div class="catefollow-list">
                        <div id="CategoryFollowed">
                            <ul class="list-inline">
                                @foreach (var category in Model.Categories)
                                {
                                    <li>
                                        <a href="@category.Link">@category.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.SubCategories != null && Model.SubCategories.Count > 0)
        {
        <div class="col-lg-6 col-md-6 col-sm-6"><div class="row">
            <div class="category-followed">
                <h1 class="title-underlined">@Model.FollowSubCategoryLabel</h1>
                <div class="catefollow-list">
                    <div id="SubcateFollowed">
                        <ul class="list-inline">
                            @foreach (var subcategory in Model.SubCategories)
                            {
                                <li>
                                    <a href="@subcategory.Link">@subcategory.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        }
    </div>
}
