<div class="container">
<!-- start my profile content !-->
  <div class="row">
    <div class="my-profile ">
	  <div class="col-lg-8 col-md-8 col-sm-8">
	  
		<div class="user-pic">
			<img class="usr-pic" src="{{ ./imgDir }}/assets/{{userInfo.src}}" alt="Rebecca Smith" />
		</div>

		<div class='userinfo'>
			<ul class="list-inline">
				<h1>{{userInfo.name}} </h1>
				<li><p>{{userInfo.position}}</p></li>
				<li><img class="usr-region" src="{{ ./imgDir }}/assets/{{userInfo.flag-src}}" alt="{{userInfo.alt}}" /> {{userInfo.country}} </li>
				<li class="user-phone-mail"><span class="user-phone"><i class="fa fa-phone"></i> {{userInfo.phone}}</span><span class="user-email"> <i class="fa fa-envelope"></i> {{userInfo.mail}} </span></li>
				<li><i class="fa fa-map-marker"></i> {{userInfo.street}}	</br> &nbsp;&nbsp;&nbsp;&nbsp; {{userInfo.city}} </br> &nbsp;&nbsp;&nbsp;&nbsp; {{userInfo.postal}}</li>
			</ul>
		</div>
		
		<div class="myprobtn visible-xs visible-sm-block">
			<a href="#" class="btn btn-primary btn-chnpwd btn-lg" data-toggle="modal" data-target="#change-pwd" >Change Password</a>
			<a href="#" class="btn btn-primary btn-edtpro btn-lg pull-right " data-toggle="modal" data-target="#edit-profile">Edit Profile</a>
		</div>
	   
		<div class="clearfix"></div>
		<div class="summary">
			<h1 class="title-underlined">{{userInfo.header}}</h1>
			{{userInfo.summary}}
		</div>
		<div class="clearfix"></div>
		<div class="user-attachment">
			<h3 class="title-underlined">Attachment</h3>
			<ul class="list-unstyled">
				<li><a href="#">Dr.Rebecca smith resume</a></li>
			</ul>
		</div>
 
  <div clas="row">
    <div class="col-lg-6 col-md-6 col-sm-6 p-left-0">
	  <div class="category-followed">
		<h1 class="title-underlined">Categories Followed:</h1>
		  <div class="catefollow-list">
			<div id="CategoryFollowed">
				<ul class="list-inline">
				{{#each categories}}
					<li>
						<i class="fa fa-close" data-catName="{{this.catName}}"></i>
						<a href="#">{{this.catName}}</a>

					</li>
				{{/each}}
				</ul>
				</div>
			</div> </div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="row">
		<div class="category-followed">
					<h1 class="title-underlined">Sub Categories Followed:</h1>
			<div class="catefollow-list">
					<div id="SubcateFollowed">
						<ul class="list-inline">
						{{#each categories}}
							<li>
								<i class="fa fa-close" data-catName="{{this.catName}}"></i>
								<a href="#">{{this.catName}}</a>

							</li>
						{{/each}}
						</ul>
						</div>
					</div>
		    	</div>
		    	</div>
		  </div>
	 </div>
	 
  </div>
</div>

	<div class="col-lg-4 col-md-4 col-sm-4">		
		<div class="mypro-btn  visible-sm visible-lg visible-md-block">
			<a href="#" class="btn btn-primary btn-chnpwd btn-lg" data-toggle="modal" data-target="#change-pwd" >Change Password</a>
			<a href="#" class="btn btn-primary btn-edtpro btn-lg pull-right " data-toggle="modal" data-target="#edit-profile">Edit Profile</a>
		</div>
		<div class="follwed-by">
			<h1 class="title-underlined">Followed by:</h1>
				<div id="FollowBy">
				<ul class="list-inline">
				{{#each followedBy}}
					<li>
						<div class="follwedby-pic">
							<img src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" class="img-responsive follwedby-image">
						</div>
						<span class="txtdot">{{this.name}}</span>
					</li>
				{{/each}}
				</ul>
				</div>

		</div>

		<div class="Following">
			<h1 class="title-underlined">Following:</h1>
			<div id="Following">
			<ul class="list-inline">
				{{#each following}}
					<li>
						<div class="Following-pic">
							<img src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" class="img-responsive Following-image">
								<div class="Following-overlay">
									<div class="Following-text "><i class='fa fa-close' data-name='{{this.name}}'></i></div>
									<div class="Following-text datahide"><i class='fa fa-plus'></i></div>
								</div>
						</div>
						<span class="txtdot">{{this.name}}</span>
					</li>
				{{/each}}
			</ul>
			</div>
		</div>

	</div>



<!-- Start Change password Modal -->
<div class="change-password-modal" data-api-url="http://www.mocky.io/v2/595529080f0000d903fc0f80">
<div class="modal fade" id="change-pwd" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="ChangePwdModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ChangePwdModal">{{changePassword.title}}  </h4>
      </div>
		  <div class="modal-body">
		  <div id="invalidOldPwd" class="error-message"></div>
		  <form id="changePasswordForm" method="get" action="">
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="old-pwd">{{changePassword.oldPassword}}</label> -->
				  <input id="old_password" name="password" type="password" class="form-control" data_oldpwd="Please enter Old Password" data_invpwd="Please enter valid Old Password" placeholder="{{changePassword.oldPassword}}" required>
				</div>
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="new-pwd">{{changePassword.newPassword}}</label> -->
				  <input id="new_password" name="newpassword" type="password" class="form-control " data_newpwd="Please enter New Password" placeholder="{{changePassword.newPassword}}" data-pwdStr="Password must be contain at least eight characters, at least one number and both lower and uppercase letters and special characters" data_oldasnew="Given new password same as old password" required>
				</div>
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="confirm-pwd">{{changePassword.confirmPassword}}</label> -->
				  <input id="confirm_password" name="confirmPassword" type="password" class="form-control " data_confirmpwd="Please enter Confirm Password" data-equalTo="Confirm password is not matching the password" placeholder="{{changePassword.confirmPassword}}" required>
				</div>
				<div class="cent-align mbot"><button id="changePassword" type="submit" value="Submit" class="btn btn-primary  btn-login change-password-form-submit">{{changePassword.submitBtn}}</button>
			</div>
			</form>
		  </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- End Change password Modal -->

<!-- Start my profile Modal -->
<div class="Myprofile-modal">
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="edit-profile" tabindex="-1" role="dialog" aria-labelledby="MyprofileModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="MyprofileModal">{{editProfile.title}}  </h4>
      </div>

		<div class="modal-body">
			<form id="editProfileForm" method="get" action="">
			
			<!-- Start new avatar pic upload !-->  
			<div class="input-group inpaddsp usrinput input-group-sm">     
                    <input type="file" id="input-file-now-custom-1" class="dropify" data-show-remove="false" data-default-file="{{ ./imgDir }}/assets/2.png" data-allowed-file-extensions="png jpg" />
			</div>
				<!-- End new avatar pic upload !-->		


			<!-- (old) start Upload Pic !-->
			<div class="mypic-upload">
				<div class="input-group input-group-sm image-preview">
					<input type="text" class="form-control image-preview-filename" placeholder="png, jpg and jpeg only" disabled="disabled"> 
					<!-- don't give a name === doesn't send on POST/GET -->
					<span class="input-group-btn">
						<!-- image-preview-clear button -->
						<button type="button" class="btn btn-primary image-preview-clear" style="display:none;">
							<span class="fa fa-remove"></span> Clear
						</button>
						<!-- image-preview-input -->
						<div class="btn btn-primary custom-file-upload image-preview-input">
							<span class="fa fa-folder-open" ></span>
							<span class="image-preview-input-title">Add Profile Picture</span>
							<input type="file" id="pimgUpload" name="pimgUpload"/> <!-- rename it -->
						</div>
					</span>
				</div>
				</div><!-- (old) end Upload Pic !-->

				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="firstname">First Name</label> -->
				  <input id="profile_firstname" name="FirstName" type="text" class="form-control " data-pfname="Please enter First Name" placeholder="{{editProfile.fname}}" required>
				</div>
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="lastname">Last Name</label> -->
				  <input id="profile_lastname" name="LastName" type="text" class="form-control " data-plname="Please enter Last Name"placeholder="{{editProfile.lname}}" required>
				</div>
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="lastname">Email</label> -->
				  <input id="pemail" name="pemail" type="email" class="form-control " data-pemail="Please enter valid email address" placeholder="{{editProfile.email}}" required>
				</div>
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="phonenumber">Phone Number</label> -->
				  <input id="profile_phonenumber" name="PhoneNumber" type="text" class="form-control " data-invalidphonenumber="Please enter valid phone number" placeholder="{{editProfile.phone}}">
				</div>
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="Address">Address</label> -->
				  <textarea id="profile_address" name="Address" type="text" class="form-control " placeholder="{{editProfile.address}}"> </textarea>
				</div>
				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="country">country</label> -->
				  <select class="profile-form-control-sbox" id="profile_country" name="Country" data-country="Please select Country" required>
					<option value="">{{editProfile.country}}</option>
					<option>country 01</option>
					<option>country 02</option>
					<option>country 03</option>
					<option>country 04</option>
				  </select>
				</div>

				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="PhysicianlicenceNumber">Physician License Number</label> -->
				  <input id="profile_physiciallicensenumber" name="PhysicianLicenseNumber" type="text" class="form-control " data-plicence="Please enter Physician License" placeholder="{{editProfile.license}}" required>
				</div>

				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="country">Medical Speciality</label> -->
				  <select class="profile-form-control-sbox" id="profile_medicalspecialty" name="MedicalSpecialty" data-pmedical="Please enter Medical Speciality" required>
					<option value="">{{editProfile.medical}}</option>
					<option>Medical 01</option>
					<option>Medical 02</option>
					<option>Medical 03</option>
					<option>Medical 04</option>
				  </select>
				</div>



				<div class="input-group inpaddsp usrinput input-group-sm">
				<!-- <label for="summary">Summary</label> -->
				 <div class="col-lg-12 nopadding text-editor">
				 <label for="summary" class="">Summary</label>
					<textarea id="txtEditor" class="rich-txt-editor"></textarea>
				</div>

				<div class="input-group inpaddsp upload-resume">
					<div class="custom-file-upload-btn">
						<input type="file" name="upload-resume" id="upload-resume" class="inputfile">
						<label for="upload-resume" class="button btn-primary btn-ghost"><span>Upload Resume</span></label>
					</div>
					<span class="form-hint">(Upload an external Document or Presentation)</span>
				</div>

				<div class="inpaddsp login-bottom">
					<div class="btn-group uploadpic-chkbxgrp" data-toggle="buttons">
						<label for="member" class="btn btn-default btn-sm uploadpic-chkbxlbl">
					<input id="member" type="checkbox"  name="member-sa" value="yes" autocomplete="off" />
					<span class="fa fa-check"> </span>
				</label> <p class="uploadpic-chkbxpara">Members of SkinAlliance Community can contact me through "Email" and can see my "Attachment"</p>
					</div>
					</div>

					<div class="inpaddsp login-bottom">
					<div class="btn-group " data-toggle="buttons">
						<label for="profilePublic" class="btn btn-default btn-sm">
					<input id="profilePublic"type="checkbox" autocomplete="off" name="profile-public" value="yes" />
					<span class="fa fa-check"> </span>
						</label> My Profile can be made public to SkinAlliance Community
					</div>
					</div>

				<div class="cent-align mbot">
				<button id="editProfileSubmit" type="submit" value="Submit" class="btn btn-primary  btn-logi n edit-profile-submit">Submit</button>
			</div>
				</div>
				</div>

				</div>


			</form>

		  </div>
		  <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>
<!-- End my profile Modal -->
</div>

<!-- start my profile content !-->
