<header class="header">
	<div class="container">

	 <div class="Logo ">
	 <a href="http://localhost:3000/components/detail/create-post">
		<img src="{{ ./imgDir }}/assets/logo.png" alt="Skin Alliance" class="logo" />
	</a>
	</div>

<div class="pull-right">
<div class="toprtmenu">
	<!-- Start Search Box !-->
	<div class="searchBox" style="">
		<form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control sfrmheight" name="q" id="q" placeholder="" style="height:30px;">
              		<span class="fa fa-search form-control-feedback"></span>
            	</div>
            </form>
	</div>
	<!-- End Search Box !-->
	<!-- Start User Picture Dropdown  !-->
	<div class="UsrPicDropdown visible-lg">
	<nav class="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img class="userpic" src="{{ ./imgDir }}/assets/userpic.png" alt="userpic"></img><span class="user-welcome-text">Welcome</span><span class="header-username">Test test{{ userInfo.Name }}</span><span class="fa fa-angle-down"></span></a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
              <li><a href="#"> My Profile </a></li>
              <li><a href="#"> My Notification </a></li>
              <li><a href="#"> Setting </a></li>
              <li class="logout-link" data-logout-url="http://localhost:3000/components/preview/homepage"><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
  </nav>
  </div>

	<!-- End User Picture Dropdown !-->

	<!-- Start Language Dropdown !-->
	<div class="Language visible-lg">

		<div class="btn-group">
			  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    English<span class="fa fa-angle-down"></span>
			  </button>
			  <ul class="dropdown-menu"><li><a href="#" title="English">English</a></li>
					<li><a href="#" title="France">France</a></li>
					<li><a href="#" title="Spain">Spain</a></li>
					<li><a href="#" title="Germany">Germany</a></li>
					<li><a href="#" title="Italy">Italy</a></li>
					<li><a href="#" title="Russia">Russia</a></li>
					<li><a href="#" title="Brazil">Brazil</a></li>
					<li><a href="#" title="Portuguese">Portuguese</a></li>
				</ul>
			</div>

	</div>
	<!-- End Language Dropdown !-->
	<div class="create-post-mobile visible-md visible-sm visible-xs">
		<i class="fa fa-pencil" aria-hidden="true"></i>
	</div>
</div>
</div>
</div>
</header>
<!-- <div id="cookieEnableModal" tabindex="-1" role="dialog" class="modal fade" data-backdrop="static">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body text-center">
			 <p>You appear to have disabled cookies in your browsers. Please check the settings in your browser,and try again.</p>
			</div>
		</div>
	</div>
</div> -->
<div class="clearfix"></div>
