﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Mvc.Configuration

@model Loreal.Feature.FollowandComments.Model.CommentViewModel

@if (Model != null && !Loreal.Feature.FollowandComments.Utils.ShowComments())
{
    <div class="Article-Comments">

        @if (Model.Comments != null && Model.Comments.Count > 0)
        {
            <h1>@Model.Title</h1>
            foreach (var Comment in Model.Comments)
            {
                <div class="arti-post-cmnt">
                    <img class="" src="@Comment.ImageUrl" alt="@Comment.Name" />
                    <ul class="list-inline">
                        <li>@Comment.Name</li>
                        <li class=""><p> @Comment.Text </p> </li>
                        <li>
                            <span>@Comment.Date.ToString("dd/MMM/yyyy")</span>
                            <a class="reply-comment" href="#" data-toggle="modal" data-target="#reply-comment-@Comment.Id">@Model.ReplyText </a>
                            @if (Comment.UserId == Model.UserId)
                            {
                                <a class="edit-comment" href="#" data-toggle="modal" data-target="#edit-comment-@Comment.Id">@Model.EditText</a>
                            }
                        </li>
                        @if (Comment.Replies != null && Comment.Replies.Count > 0)
                        {
                            <ul class="list-inline reply-comment">
                                @foreach (var reply in Comment.Replies)
                                {
                                    <div class="arti-post-cmnt">
                                        <img class="" src="@reply.ImageUrl" alt="@reply.Name" />
                                        <ul class="list-inline">
                                            <li>@reply.Name</li>
                                            <li class=""><p> @reply.Message</p></li>
                                        </ul>
                                    </div>
                                }
                            </ul>
                        }
                    </ul>
                </div>
                using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "commentform-" + Comment.Id }))
                {
                    @Html.Sitecore().FormHandler("Comment", "Reply")
                    <div class="modal fade in" id="reply-comment-@Comment.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="input-group inpaddsp usrinput">
                                        <label for="post-comment"> @Html.Raw(Model.ReplyLabel)</label>
                                        <input type="hidden" id="CommentId" name="CommentId" value="@Comment.Id" />
                                        <textarea type="text" id="Message" name="Message" class="form-control" data_requiredmessage="@Model.ReplyTextRequired" rows="5" maxlength="500" required="required"></textarea>
                                    </div>
                                    <div class="">
                                        <button type="submit" value="Submit" id="replyformbutton-@Comment.Id" class="btn btn-primary">@Model.ReplyButtonText</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "commenteditform-" + Comment.Id }))
                {
                    @Html.Sitecore().FormHandler("Comment", "Edit")
                    <div class="modal fade in" id="edit-comment-@Comment.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="input-group inpaddsp usrinput">
                                        <label for="post-comment">@Html.Raw(Model.EditLabel)</label>
                                        <input type="hidden" id="Id" name="Id" value="@Comment.Id" />
                                        <textarea type="text" id="Text" name="Text" class="form-control" data_requiredmessage="@Model.EditTextRequired" rows="5" maxlength="500" required="required">@Comment.Text</textarea>
                                    </div>
                                    <div class="">
                                        <button type="submit" value="Submit" id="editformbutton-@Comment.Id" class="btn btn-primary">@Model.EditButtonText</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            }
        }
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "commentform" }))
        {
            @Html.Sitecore().FormHandler("Comment", "Add")
            <div class="input-group inpaddsp usrinput">
                <label for="Message"> @Html.Raw(Model.PostCommentLabel)</label>
                <textarea type="text" id="Message" name="Message" class="form-control" data_requiredmessage="@Model.RequiredMessage" rows="5" maxlength="500" required="required"></textarea>
            </div>
            <div class="">
                <button type="submit" value="Submit" id="commentformbutton" aria-label="@Model.PostButtonText" class="btn btn-primary">@Model.PostButtonText</button>
            </div>
        }
    </div>
			<!-- End Article comment content !-->
}
