<!-- Start banner !-->
<div class="SAbanner">
	<div class=" container"> 
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
		<!-- Indicators --> 
			<ol class="carousel-indicators"> 
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> 
				<li data-target="#carousel-example-generic" data-slide-to="1"></li> 
				<li data-target="#carousel-example-generic" data-slide-to="2"></li> 
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner"> 
				{{#each  bannerList}}
				<div class="item {{this.isActive}}">
							<div class="thumbnail adjust1"> 
								<div class="col-lg-5 col-md-5 col-sm-5"> 
									<a href="{{this.url}}" title="{{this.title}}">
										<img class="media-object img-rounded img-responsive" src="{{ ../imgDir }}/assets/{{this.src}}" alt="SA Banner" /> </a>
									</div> 
									
									<div class="col-lg-7 col-md-7 col-sm-7"> 
										<div class="caption"> 
										<h5 class="text-info lead adjust2">{{this.mainTitle}}</h5> 
											<h1>{{this.title}}</h1> 
											<p class=txtdot">{{this.desc}}</p> 
											<button type="button" class="btn btn-primary btn-lg home-btn">{{this.readMore}}</button>
										</div> 
									</div> 
							</div> 
				</div> 
				{{/each}}
			</div> <div class="cleafix"></div>
			<div class="row">
			<!-- Controls --> 
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> 
				<span class="fa fa-angle-left"></span> </a> 
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> 
				<span class="fa fa-angle-right"></span> </a> 
				</div>
		</div> 
	</div>
</div>
<!-- end banner !-->
<div class="clearfix"></div>