.SAbanner{ background: rgba(90,179,212,1);
background: -moz-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(90,179,212,1)), color-stop(100%, rgba(143,205,206,1)));
background: -webkit-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: -o-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: -ms-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: linear-gradient(to bottom, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab3d4', endColorstr='#8fcdce', GradientType=0 );

	.carousel-indicators .active{ background: #fff;width:8px;height:8px; }
	.thumbnail{padding: 0px; border:none;}
	.content{ margin:0 auto; width:80%; }
	.adjust1{  margin:0 auto;width:100%; margin-bottom:0; }
	.adjust2{ margin:0; }
	.carousel-indicators{
		@include media ('>lg') {bottom:-5px;}
		@include media ('<lg') {margin-left:-7%;bottom:0px;}
		@include media ('<md') {margin-left:-7%;bottom:10px;}
		@include media ('<sm') {}
	}
	.carousel-indicators li{ border :1px solid #fff;width:8px;height:8px;margin-left:10px;}
	.carousel-control{ color:#fff; width:auto; top:124px;font-size: 40px;opacity:1;}
	.carousel-control:hover,
	.carousel-control:focus{ color:#31708f; }
	.carousel-control.left,
	.carousel-control.right { background-image: none; }
	.carousel-control.left{margin-right:10px;}
	.carousel-control.right{margin-left:10px;}
	.media-object{ margin:auto; margin-top:0%; }
	.img-rounded{margin-left:10px;margin-right:4px; border-radius: 0;height:330px;width:94%;}

	.thumbnail {background-color:transparent !important;}
	.thumbnail .caption{margin-right:10px;
				@include media ('>lg') {margin-top:24px;}
				@include media ('<md') {margin-top:2px;}
				@include media ('>sm') {margin-top:30px;}

				h1{font-size:35px;color:#fff;font-weight: normal;font-family:$locatorultralight;
					@include media ('<md') {font-size:28px;}
					@include media ('<sm') {font-size:22px;}
				}
				h5{font-size:15px;font-weight: bold !important;color:#fff;font-family: $locatorlight;}
				p{margin-bottom:15px;font-size:15px;color:#fff;font-weight: normal !important;font-family:$locatorlight;}
	}


	

	/*@media (min-width: 768px){
		h1{font-size:28px;}
		.thumbnail > img, .thumbnail a > img {
			        max-width: 280px;   height: 340px;
	  }
	}
	@media (min-width: 992px){
		h1{font-size:28px;}
		.thumbnail > img, .thumbnail a > img {
			    max-width: 100%;
    				height: 340px;
	  }
	  .SAbanner .thumbnail .caption {
    			margin-top: 17px;
			}
	}*/
		
	@media (max-width:767px){
		.carousel-inner .item .thumbnail>div{padding-left:0px; padding-right:0px;}
		.carousel-inner .img-rounded{width: 100%; margin-left:0px; margin-right:0px;}
		.carousel-inner .caption{text-align: center;padding: 10px 21px 50px 21px;}
		
		.carousel-control.left,.carousel-control.right{display:none;}
		.container{padding-left:0px;padding-right:0px;}
		.carousel-indicators{margin-left: -33%;bottom: 0px;}
	}
	/*@media (min-width: 375px){
		.img-rounded{margin-left: 8px;
		    height: 300px;
		    width: 94%;}
	}
	@media (min-width: 414px){
		.img-rounded{
		margin-left: 8px;
		    height: 300px;
		    width: 94%;
		}
	}*/
	.home-btn{background:#fff !important;color:#00ACC2;font-style: normal;font-weight: 100 !important;font-family: $locatorlight;font-size:14px;
				&:hover{background-color:#5ab3d4 !important;color:#3B3B3B;}

}




}
