/*  textbox label name */
.block-label {
    color: $black;
    font-size: 14px;
    font-weight: 600;
    margin: 20px auto;
    padding: 5px 0;
    text-transform: uppercase;
    	 @include media('<md') {
              padding-top: 15px;
         }
}
.control-label{ 
	text-align: left;
  text-transform: uppercase;
}