/* Inner page titles */
.Inner-Title{width:100%;height:100%;padding:30px 0px;text-align:center;margin:0 auto;margin:0;text-transform:uppercase;
background: rgba(90,179,212,1);
background: -moz-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(90,179,212,1)), color-stop(100%, rgba(143,205,206,1)));
background: -webkit-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: -o-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: -ms-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
background: linear-gradient(to bottom, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab3d4', endColorstr='#8fcdce', GradientType=0 );

	h1{ font-family:$locatorultralight;color:#fff;font-size:32px}
}
