/* Inner page title */
.inpage-wrap {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	text-transform: uppercase;
	background: rgba(90,179,212,1);
	background: -moz-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(90,179,212,1)), color-stop(100%, rgba(143,205,206,1)));
	background: -webkit-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: -o-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: -ms-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: linear-gradient(to bottom, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#5ab3d4', endColorstr='#8fcdce', GradientType=0 );

	img {
		width: 100%;
		height: 230px;
		@include media('<xs'){
			height:auto;
			margin: 0 auto !important;
		}
	}
	h1,
	h5 {
		text-align: left;
		margin: 5px 3px;
		padding: 10px 0;
		@include media('<xs'){
			text-align: center;
		}
	}
	h5 {
		font-family: $locator_regular;
		font-weight: bold;
		font-size: 14px;
		padding-bottom:0;
		margin-bottom:0;
		@include media('<sm'){
			display: none;
		}
	}
	h1 {
		font-family:$locatorultralight;
		color: #fff;
		font-size: 32px;
		@include media('<xs'){
			font-size:22px;
		}

	}
	@media (min-width: 768px){
	font-size: 20px;
		}
	.col-sm-4{
		@include media('<xs'){
			padding:0;
		}
	}
	@media (max-width: 766px){font-size: 28px;
	img {max-width: 100%;}
	}

	.inpage-banner-content{
    height: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
		@include media('<xs'){
			height:auto;
			padding:15px 30px;
		}
	}
	&.inpage-wrap-with-date{
		.banner-title-image{
			.congress-schedule{
				position:absolute;
				right: 15px;
				bottom:0;
				@include media('<sm'){
					right:0;
				}
				.congress-month{
					font-size:14px;
				}
			}

		}
		.banner-title-text{
			padding-top:62px;
			padding-bottom:62px;
		}
	}
}
