.navigation {
  .navbar {
    border-radius: 0;
    margin: 0;
    @include media ('<xmd-max') {
      min-height: 0;
      position: static;
      z-index: 30;
      border: 0;
    }
  }
.dropdown-submenu{
  width:100%;
  > a{
    @include media ('<xmd-max') {
      display: inline-block;
    }
  }
  > .fa.fa-angle-down{
    color:$background;
    position: absolute;
    top: 6px;
    right: 10px;
    font-size:19px;
    margin-top: 0;
    margin-left: 0;
    left: auto;
    transform:rotate(-90deg);
    @include media('<xmd-max'){
      top:0;
      right:0;
      font-size:25px;
    }
    &.icon-rotate{
      transform:rotate(0deg);
    }
  }
  ul.dropdown-menu{
    &.open{
      position: relative;
      display: block;
      left: 0;
      background: none;
      top: 0;
      box-shadow: none;
      border: 0;
    }
    li{
      a{
        @include media ('<xmd-max') {
          padding-left:50px !important;
        }
      }
      &:hover{
        a{
          color:$background;
        }
      }
    }
  }
  &:hover{
    >a{
      color:$background;
    }
  }
}
  .navbar-nav {
    @include media ('<xmd-max') {
      background: $light-grey-2;
      clear:both;
      margin: 0;
      padding: 0 20px;
    }
  }

  .navbar-nav > li {
    color: #1B1B1B;
    font-family: $locator_regular;

    @include media ('<xmd-max') {
      border-bottom: 1px solid $articleborder;
      &:last-child{
        border-bottom:0;
      }
    }
    &:hover,&.active{
      > a{
        @include media('>lg'){
          color:$background;
        }
      }
      > a + .fa{
        @include media('>lg'){
          color:$background;
        }
      }
    }
  }

  .navbar-nav > li > a {
    color: #1B1B1B;
    background: $white;
    text-transform: uppercase !important;
    display: inline-block;
  }

  .navbar-nav > li > a:active, .navbar-nav > li > a.active {
    color: #5AB4D4;
  }

  .navbar-nav > li > a:focus {
    color: #5AB4D4;
  }
  .nav {
    >li{
        a{padding-left:20px;padding-right:19px;
            @media (max-width: 1199px) and (min-width: 1025px)
            {
            padding-left:4px;padding-right:4px;

            }
            @include media ('<xmd-max') {
              padding-left: 0;
              padding-right: 0;
              background: none;
            }
        }
      &:first-child{
        a{
          padding-left:0px;
        }
      }
      &:last-child{
        a{
          padding-right:0px;
        }
      }
    }
  }





  .navbar-nav > li > .dropdown-menu {
    min-width: 100% !important;width:268px;
   box-shadow: none;
    border-radius: 0px;
    border: 0px;
    @include media ('<xmd-max') {
      &.open {
        display: block;
        position:relative;
        background:none;
        border:0;
        box-shadow:none;
        li{
          border-bottom: 1px solid $articleborder;
          a{
            padding-left:25px;
          }
        }
      }
    }
    li{
      &:hover{
        > a{
          color:$background;
        }
      }
    }
    .dropdown-submenu{
      .dropdown-menu{
		  @include media('>lg'){
			box-shadow: -3px 0px 2px rgba(0, 0, 0, 0.175);
		  }
		border-radius: 0px;
		border: 0px;
        &.open{
          li{
            &:first-child{
              @include media ('<xmd-max'){
                border-top:1px solid $articleborder;
              }
            }
          }
        }
      }
    }
  }

  .navbar-nav > li > .fa-edit {
    position: relative;
    left: 10px;
    z-index: 9;
    top: 0;
  }

  .navbar-collapse {
    padding: 0;
    @include media ('<xmd-max') {
      position: absolute;
      top: -1px;
      width: 100%;
      z-index: 999;
	  left: -100%;
    display: block;
    transition: left .5s linear;
	-webkit-transition:left .5s linear;
	-moz-transition:left .5s linear;
	    height: 100% !important;
    background: rgba(0,0,0,0.8);
    }
    .user-dropdown{
      display:block;
      position:relative;
      width:100%;
      top:0;
      margin:0;
      background:#F4F2F2;
      @include media ('<xmd-max'){background:#D4D4D4;}
      border-radius: 0;
      border:0;
      padding:0 20px;
      li{
        border-bottom:1px solid darken($light-grey-1,25%);
        &:last-child{
          border-bottom:0 ;
        }
        a{
          padding-left:0;
          padding-right:0;
          &:hover,&:focus{
            background: none;
          }
          &:active{color: #5AB4D4;}
        }
      }
    }
  }

  .dropdown-submenu {
    position: relative;
    @include media('<xmd-max'){
      float:left;
      width:100%;
    }
    .dropdown-menu{
      li{
        &:last-child{
          border-bottom:0 !important;
        }
      }
    }
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  // .dropdown-submenu > a:after {
  //   display: block;
  //   content: "\f105";
  //   font: normal normal normal 15px/1 FontAwesome;
  //   float: right;
  //   position:absolute;
  //   top: 9px;
  //   right: 10px;
  //   width: auto;
  //   height: auto;
  //   margin-top: 0;
  //   border: 0;
  //   margin-right: 0;
  //   @include media ('<xmd-max') {
  //     font: normal normal normal 25px/1 FontAwesome;
  //     color: $background;
  //     position: absolute;
  //     top: 5px;
  //     right: 10px;
  //   }
  // }
  //
  // .dropdown-submenu:hover > a:after {
  //   border-left-color: #555;
  // }

  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu{
    &.open{
      @include media('<xmd-max'){
          > a{
            background:none !important;
          }
      }
    }
  }
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  .open > .dropdown-menu {
    background: #F4F2F2 !important;
  }

  .dropdown-submenu > .dropdown-menu {
    min-width: 100% !important;
  }

  .open > .dropdown-menu {
    background: #ebebeb;
    border: 0;
    box-shadow: none;
  }

  .dropdown-menu > li > a {
    padding: 8px 15px;min-width:170px;
  }

  .nav .open > a,
  .nav .open > a:focus,
  .nav .open > a:hover {
    background: $white;
  }

  .dropdown-menu > li > a {
    text-transform: uppercase !important;
	white-space:normal;
  }
  //** remove this once the icon caret is changed to fa-angle-down **//
  .caret{
    left: -3px;
    position: relative;
    top: -2px;
    margin-left: -10px;
  }
  .fa-angle-down {
    left: -3px;
    position: relative;
    top: 0;
    margin-left: -10px;

    @include media ('<xmd-max') {
      color:$background;
      cursor: pointer;
      float: right;
      font-size: 25px;
      padding: 5px 10px;
      transform:rotate(-90deg);
      transition:all 0.2s linear;
      &.icon-rotate{
        transform:rotate(0deg);
      }
    }
  }


  .navigation {}

  .navbar-nav > li {}

  .navbar-nav > li > .fa-pencil {
    color: #5AB4D4;
    position: relative;
    left: 10px;
    z-index: 9;
    top: 0;

    @include media ('<xmd-max') {
      left: 0;
    }
  }

  .navbar-nav > li > .fa-pencil + a {
    color: #5AB4D4;

    @include media ('<xmd-max') {
      padding-left: 5px;
    }
  }

  #SA-navbar-collapse:checked + span i.bars {
    display: none;
  }

  #SA-navbar-collapse:checked + span i.cross {
    display: block;
  }
  @media (min-width: 1025px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;
      margin-top: 0;
      background:$light-grey-2;
    }
  }

  .navbar-header {
    @include media ('<xmd-max') {
      position: absolute;
      top: 0;
    }

    .navbar-toggle {
      @include media('>xs','<xmd-max'){
        margin-top:20px;
      }
      .fa {
        color: $white;
        font-size: 25px;
      }
    }

    .navbar-toggle[aria-expanded="true"] {
      right: 0;
    }
  }

  .mobile-nav-header {
    @include media ('<xmd-max') {
      background: $header-blue;
      padding: 5px 10px;
      float:left;
      width:100%;
    }
    @include media('>xmd-max','<lg'){
      display:none !important;
    }

    .welcome-user {
      color: $white;
      display: inline-block;
      float:left;
      width: 67%;
      img {
        border-radius: 100%;
        display: inline-block;
        float:left;
        width: 45px;
        height:45px;
      }
      .welcome-text {
        display: inline-block;
        font-size: 13px;
        width: calc(100% - 50px);
        overflow: hidden;
        float: left;
        text-overflow: ellipsis;
        margin:0 0 0 5px;
        white-space: nowrap;
        height: 45px;
        line-height: 45px;
        .user-name{
          margin-left:5px;
        }
      }
    }

    .Language {
      color:$white;
      display: inline-block;
      float: left;
      margin-right:0;
      margin-left:10px;
      .btn {
        background: transparent;
        color:$white;
        border: 0;
        font-size:13px;
        padding:10px 0;
        line-height: 25px;
        span.fa{
          opacity: 1;
          transform: none;
          color:$white;
          padding:0;
          margin-left:5px;
        }
      }
      .btn[aria-expanded='true']{
        // background: $white;
        // border-radius:4px 4px 0 0;
        outline: 0;
        box-shadow: none;
      }
      .dropdown-menu{
        min-width:inherit;
        background: $white !important;
        border-radius:0 0 4px 4px;
        padding:0 1px;
        margin:0;
        a{
          min-width:auto;
        }
      }
    }

    .close-mobile-nav {
      color: $white;
      font-size: 25px;
      position: absolute;
      right: 25px;
      top: 10px;
    }
  }
}


// changed the breakpoint of hamburger menu to #
@include media('<xmd-max') {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        // display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    /*.navbar-collapse{
      transition:width 1s linear;
    }*/
    .slide-open{
      left:0 !important;
    }
}

.webbrowser{
    display:none;
}
