.wrapper {
	padding: 40px 0;
}
.success-message {color: green; padding :4px}
.Register,
.UserLogin {
	float: left;
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
	margin-top: 20px;
}
.UserLogin{
	margin-bottom: 120px;
}
.valid-password-info {
    color: #999;
    font-size: 11px;
    margin: 4px;
}

.welcometitle {
	padding: 10px 0;
	margin: 5px 0;

	h1 {
		font-size: 32px;
		@include media('<sm'){
			font-size:22px;
		}
	}

	.welcomeline {
		margin: 0 auto;
		text-align: center;
		border-bottom: 1px solid #ECECEC;
		width: 300px;
	}
}
.UserLogin{
	h1{
		font-size:24px;
		font-family:$locatorlight;
		padding-bottom:15px;
		text-align:left;
		@include media('<sm'){
			width:100%;
			text-align: center;
		}
	}
	.usr-input-password{
		margin-bottom:0;
	}
	.login-bottom{
		margin-top:10px;
		+ div{
				@include media('<sm'){
					text-align: center;
				}
		}
	}
/*	.btn-group > .btn.active{outline:0}
.btn-group > .btn.focus{outline:0}*/
}
/*.btn-login{
    height: 45px;
    font-size: 14px;
    width: 150px;
}*/
.login-form{
	margin-top:20px;/*height:500px;*/
	@include media('<sm'){
					height:auto;
				}
	@include media('<md'){
					height:auto;
				}
	.input-group{
		margin:10px 0;
	}
}
.usrinput {
	width: 100% !important;
}

.form-control {
	height: 45px;
}

select {
	-webkit-border-radius: 0;
	border-radius: 0;
}

.form-control-sbox {
	height: 48px;
	color: #555555;
	border-radius: 0;
}

.modal-dialog .form-control-sbox {
	font-size: smaller;
}

.profile-form-control-sbox {
	font-size: 12px;
	height: 48px;
	color: #999;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-appearance: none;
}

.inpaddsp {
	margin: 20px 0;
}

.ltbg {
	width: 546px;
	height: 347px;
	background: #e5e5e5;
	border: 1px solid #e7e7e7;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
}

.cent-align {
	text-align: center;
	margin: 0 auto;
}
.social-login{
	margin-top:85px; /* When the description text below login to your account title is changed to one line */
	/* margin-top:98px; when the description text below login to your account title is dummy text and two lines **/
	@include media('<sm'){
		margin-top:0;
	}
	.btn{
		text-transform: none !important;
		border:0px;
		.social-btn-text{
			height:55px;
			line-height: 50px;
			position: absolute;
		}
	}
	button{
		margin:5px 0;
		@include media('<sm'){
			width:100%;
			max-width:350px;
		}
	}
}
.btn-align {
	margin-right: 20px;
}

.btn-facebook {
	background: #3B5998 !important;
}

.btn-facebook:hover {
	background: #30497C !important;
	color: #f1f1f1;
}

.btn-fbicon {
	background: #354F88 !important;
}

.btn-fbicon:hover {
	background: #30497C;
	color: #fff;
}

.btn-twitter {
	background: #45B0E3 !important;
}

.btn-twitter:hover {
	background: #348FBA !important;
	color: #f1f1f1;
}

.btn-twiticon {
	background: #40A2D1 !important;
}

.btn-twiticon:hover {
	background: #348FBA;
	color: #fff;
}

.btn-linkedin {
	background: #0077B5 !important;
}

.btn-linkedin:hover {
	background: #016AA1 !important;
	color: #f1f1f1;
}

.btn-linkdicon {
	background: #016AA1 !important;
}

.btn-linkdicon:hover {
	background: #0077B5  !important;
	color: #fff;
}

.backtologin,
.reg-title {
	margin: 20px auto;
	text-align: center;
}

.btn-fbicon,
.btn-linkdicon,
.btn-twiticon {
	font-size: 30px;
	color: #fff;
}

.btn-facebook,
.btn-linkedin,
.btn-twitter {
	font-family: $locatorultralight;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
	text-transform: none;
	margin: 10px 0;
	text-align: left;
	width: 320px;
	border-radius: 0;
	padding: 0 20px 0 0;
}

.btn-fbicon,
.btn-linkdicon,
.btn-twiticon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px 0px;
}

.title-bold{font-weight:bold;}
h1 {

	font-size: 20px;
	color: #000;
	font-weight: normal;
	padding: 10px 0;
	font-family: $locatorlight;
}
.login-divider{
	@include media('>lg'){
			margin:0 10px;
	}
}
.or {
	margin: 0 auto;

	p {
		padding: 135px 0;
		margin: 0 auto;
		text-align: center;
		text-transform: lowercase;
		font-family: $locatorlight;
		font-size: 24px;
		@include media('<sm'){
			padding:20px 0;
		}
	}
}
.Register{
	h1{
		font-size:24px;
		font-family:$locatorlight;
		padding-bottom:15px;
		@include media('<sm'){
			text-align: center;
			width:100%;
		}
	}
	.or{
		p{
		@include media('>sm'){
			text-align:center;
	}
			padding:80px 0;
			@include media('<sm'){
				padding:20px 0;
			}
		}
	}
	.usrinput{
		.form-group{
			margin-bottom:0;
		}
	}
	.social-login{
		margin-top:20px;
		@include media('<sm'){
			padding:0;
		}
		button{
			@include media('<sm'){
				width: 100%;
				max-width: 320px;
			}
		}
	}
	.Regform{
		p{ margin-top:30px;}
		.inpaddsp {
			margin: 0px 0px 20px 0px;
		}
	}
}

.forgotpwd,
.regaccount {
	font-size: 13px;
	text-transform: none !important;

	a {
		color: #00ACC2;
		text-transform: none;
	}

	:hover {
		color: #595959;
	}
}

.regaccount {
	margin-top: 25px;
	@include media('<sm'){
		margin-top:20px;
	}
	a {
		margin-left: 5px;
	}
}
.forgotpwd{
	@include media('<sm'){
		margin-top:30px;
	}
}
a {
	text-decoration: none;
	color: #00ACC2;
}

.ForgotPassword {
	width: 80%;
	height: 400px;
	margin: 0 auto;

	@include media('<sm'){
		width:100%;
		max-width:500px;
	}
	.h1 {
		font-size: 24px;
		color: #1B1B1B;
	}

	.form-control {
		border-radius: 0;
	}
	label.error,.error-message,.success-message{
		position:absolute;
		left:0;
		top:44px;
		padding:0;
	}
	.error-message,.success-message{
		top:44px;
	}
}

.errormsg {
	font-size: 12px;
	color: #F41D38;
}

.passreg {
	padding: 40px 20px 0;
	margin: 10px 0;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.btn-group-sm > .btn,
.btn-sm {
	padding: 0 2px;
	border-radius: 0;
}

.btn-group > .btn:first-child {
	margin-right: 8px;
}

.btn span.fa {
	opacity: 0;
}

.btn.active span.fa {
	opacity: 1;
}

/** REGISTRATION THANKYOU PAGE **/

.thank-you-register{
		.reg-title{
			font-size:24px;
			margin-bottom:10px;
		}
		p{
			line-height: 22px;
			max-width:500px;
			margin:0 auto;
			text-align: center;
			@include media('<sm'){
				padding:0 20px;
			}
		}
		form.complete-profile{
			display: inline-block;
			@include media('<sm'){
				margin-bottom: 20px;
			}
			@include media('<xxs'){
				display: block;
			}
			.btn-primary{
				margin-right:25px;
				@include media('<xxs'){
					margin-right:0;
				}
			}
		}
		.backtologin{
			.btn-primary{
				display:inline-block;
				&:first-child{
					margin-right:25px;
					@include media('<sm'){
						margin-right:auto;
					}
				}
				@include media('<sm'){
					margin:0 auto 15px auto;
					padding:14px 20px;
					.btn-primary{
							width:200px;
							}
					.complete-profile{
							margin-bottom:15px;
							}
				}
			}
		}
}

/** LOGIN LANDING CONTENT **/

.discover-dermo-wrapper{
	background: $header-blue;
	color:$white;
	.discover-dermo{
		padding:60px 60px 75px 60px;
		text-align: center;
		@include media('<sm'){
			padding:60px 0;
		}
		h2{
			font-family:$locatorlight;
			font-size:36px;
			margin-bottom:50px;
			@include media('<sm'){
				font-size:28px;
				line-height: 1.2;
			}
		}
		.discover-dermo-item{
			text-align: center;
			@include media('<sm'){
				margin-bottom:50px;
			}
			h4{
				font-family: $locatormedium;
				font-size:20px;
			}
			img{
				margin:20px auto;
			}
			p{
				font-family: $locatorlight;
				font-size: 18px;
				width:74%;
				line-height: 1.3;
				margin:0 auto;
				@include media('<sm'){
					width:100%;
				}
				strong{
					font-family: $locator_regular;
				}
			}
		}
	}
}
.sa-commitment{
	padding:50px 0;
	text-align: center;
	h2{
		font-size:36px;
		font-family: $locatorlight;
		color:#7a7a7a;
		margin-bottom:45px;
		@include media('<=md'){
			font-size:28px;
			padding:0 20px;
		}
		span{
			color:$header-blue;
			font-family: $locator_regular;
		}
	}
	p{
		color:#7a7a7a;
		font-size:18px;
		@include media('<sm'){
			padding:0 20px;
		}
		br{
			@include media('<=md'){
				display: none;
			}
		}
	}
	.register-btn{
		margin-top:50px;
	}
}
