.social-icons {
	float:left;
	margin-left: 2px;

	ul {
        padding: 6px 0;
		li{
			float:if($dir == 'rtl', left, right);
			margin: 5px;

			a{
				padding:0;
				display:inline-block;
				width:25px;
				font-size:18px;

				.icon{
					width:18px;
					height:18px;

					&.envelope, &.search{
						width:20px;
						height:20px;
					}
				}
			}
		}
	}

	.divider {
		border-left:1px solid #d8d8d8;
		font-size:16px;
		margin-left:2px;
	}

	.fa{
		color: #d62c7d;
	}
	.fa-search{
		font-size:20px;
		padding-top:3px;
	}
}