﻿@using Sitecore.XA.Feature.Social.Providers.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Social.Models.TwitterRenderingModel

<div @Html.Sxa().Component("twitter", Model.Attributes)>
    <div class="component-content">
        @Model.MessageIsEmpty
        @if (Model.Rendering.DataSourceItem != null)
        {
            @Html.Sxa().RenderHeading(Model.HeadingTag, Model.DataSourceItem, "Title", Model.GetRenderingWebEditingParams())

            if (!Html.Sxa().IsEdit)
            {
                if (!string.IsNullOrEmpty(Model.ScreenName))
                {
                    <a data-show-count="false" data-lang="en" class="twitter-follow-button" href="@string.Format("https://twitter.com/{0}", Model.ScreenName)">Follow 
                         @Html.Sxa().Field("ScreenName", Model.DataSourceItem, Model.GetRenderingWebEditingParams())
                    </a>    
                }
            }
        }
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        <div class="tweets">
            @if (Model.Rendering.DataSourceItem != null && !Html.Sxa().IsEdit && Model.TweetItems != null)
            {
                if (!Model.TweetItems.Any())
                {
                    <span id="noTweets">There are not tweets</span>
                }
                <ul>
                    @foreach (TweetItem tweetItem in Model.TweetItems)
                    {
                        <li class="tweet-item">
                            <div class="tweet-header">
                                @{
                                    var urlName = tweetItem.ScreenName;
                                }
                                <a class="tweet-datetime" href="https://twitter.com/@urlName/statuses/@tweetItem.TweetId">
                                    @tweetItem.Timestamp
                                </a>
                                <a class="tweet-profile" href="https://twitter.com/@urlName">
                                    <img class="tweet-avatar" src="@tweetItem.AvatarUrl" alt="" />
                                    <span class="tweet-full-name">@tweetItem.FullName</span>
                                    <span class="tweet-nickname">@@<b>@urlName</b></span>
                                </a>
                            </div>
                            <div class="tweet-content">
                                <p class="tweet-text">@Html.Raw(tweetItem.Text.EscapeUnicode())</p>
                                @if (tweetItem.IsRetweeted)
                                {
                                    <div class="tweet-retweet">
                                        Retweeted by <a href="https://twitter.com/@tweetItem.RetweetedScreenName">@tweetItem.RetweetedFullName</a>
                                    </div>
                                }
                            </div>
                            <div class="tweet-footer">
                                <ul class="tweet-actions">
                                    <li><a class="reply-action" title="Reply" href="https://twitter.com/intent/tweet?in_reply_to=@tweetItem.TweetId"><b>Reply</b></a></li>
                                    <li><a class="retweet-action" title="Retweet" href="https://twitter.com/intent/retweet?tweet_id=@tweetItem.TweetId"><b>Retweet</b></a></li>
                                    <li><a class="favorite-action" title="Favorite" href="https://twitter.com/intent/favorite?tweet_id=@tweetItem.TweetId"><b>Favorite</b></a></li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            }
            @if (Html.Sxa().IsEdit)
            {
                @Model.MessageEditHere
            }
        </div>
    </div>
</div>
