﻿@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Feature.Taxonomy
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Renderers

@model Sitecore.XA.Feature.Taxonomy.Model.TagCloudRenderingModel

<div @Html.Sxa().Component("tag-cloud", Model.Attributes)>
    <div class="component-content">
        @if (Model.TagCloud.Any())
        {
            var scale = new TagsHelper.Scale(Model.TagCloud);
            foreach (var tag in Model.TagCloud)
            {
                <span class="tag-cloud-item count-@tag.Usages tens-@(tag.Usages/10) @(scale.GetClass(tag))">
                    @if (tag.Item != null)
                    {
                        var hrefDelegate = tag.StoredAsGuid ? Model.HrefOverrideWithId : Model.HrefOverrideWithName;

                        foreach (VariantFieldBase variantField in Model.VariantFields)
                        {
                            @Html.RenderingVariants().RenderVariant(variantField, tag.Item, Model.RenderingWebEditingParams, hrefDelegate)
                        }
                    }
                    else
                    {
                        var url = Model.RawHref + tag.Name;
                        <a href="@url">@tag.Name</a>
                    }
                </span>
            }
        }
        else
        {
            if (Model.IsEdit)
            {
                @Model.MessageIsEmpty
            }
        }
    </div>
</div>