@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Search.Models.RadiusFilterModel

<div @Html.Sxa().Component("radius-filter", Model.Attributes) data-properties='@Html.Raw(Model.JsonDataProperties)'>
    <div class="component-content">
        @if (Model.DataSourceItem == null)
        {
            if (Html.Sxa().IsEdit)
            {
                @Model.MessageIsEmpty
            }
        }
        else
        {
            <p>@Model.Title</p>
            {
                Html.RenderPartial("FacetRemoveFilterButton", Model);
            }

            if (Model.FilterItems.Any())
            {
                <ul>
                    @foreach (var radius in Model.FilterItems)
                    {
                        <li data-title="@radius.Key" data-value="@radius.Value">
                            @radius.Key
                        </li>
                    }
                </ul>
            }
            else
            {
                if (Html.Sxa().IsEdit)
                {
                    <p>@Model.MessageEditHere</p>
                }

            }

        }
    </div>
</div>
