<!-- start legal content !-->

<div class="container component-content">
<div class="legal">
<p>
This website has been developed for Cosmétique Active International, a company with a capital of 18 630 euros, with its registered office at 28 rue du Président Wilson – 03200 Vichy,  registered in Cusset under the identification number 350 760 559.</p>

<p>Publication director: L’Oréal Cosmétique Active International</p>

<p>Hosting: InventivHealth, with its registered office at Rueil Malmaison T: +33 (0)1 41 42 20 00</p>

<p>Cosmétique Active International is pleased to welcome you to this interactive platform (hereinafter called the “Website”), dedicated to sharing content, training elements, and strong information regarding dermocosmetics and dermatology, at the following URL: <a href="www.skin-alliance.com" > http://www.skin-alliance.com</a> .</p>

<h5>Conditions for use of the Website</h5>

<p>By accessing the Website, the internet user (hereinafter referred to as the “User”) undertakes to comply with the following conditions of use:</p>
<ul>
       <li>Access to the Website</li>
       <li>Intellectual Property Rights</li>
       <li>Content usage</li>
       <li>Cookies</li>
       <li>Hyperlinks implemented on the Website</li>
       <li>Data Privacy</li>
</ul>

<h5>Access to the Website</h5>

<p>To access and use this Website, you must be a member of the SkinAlliance Community with a personalized login and password issued at your first connection, by Cosmétique Active International.</p>
<p> who do not match this condition are not allowed to access the Website.</p>
<p>In order to validate User registration and to create the User profile, the individual will have been or shall be invited to fill in a form; required fields are indicated as such by an asterisk, prior entering the Website. Any inaccurate or incomplete registration will not be accepted.</p>
<p>The user confirms the data submitted and stored in our information systems is accurate and acts as proof of their identity. Please inform Cosmétique Active International as to any applicable change in such data at <a href="mailto:Fabienne.ALFONSI@loreal.com"> Fabienne.ALFONSI@loreal.com </a>. </p>
</div>
</div>

<!-- end legal content !-->
