﻿@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>
    @foreach (string style in assetLinks.Styles)
    {
        @Html.Raw(style)
    }
    @Html.Sxa().Placeholder("head")
</head>
<body @Html.Sxa().Body().Decorate() >
    @Html.Sitecore().Placeholder("body-top")
    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #header -->
        <div id="header" class="main clearfix">
            <div class="row">
                <div class="grid-12">
                    @Html.Sitecore().Placeholder("header")
                </div>
            </div>
        </div>
        <!-- /#header -->
        <!-- #content -->
        <div id="content" class="main clearfix">
            <div class="row">
                <div class="grid-12">
                    @Html.Sitecore().Placeholder("main")
                </div>
            </div>
        </div>
        <!-- /#content -->
        <!-- #footer -->
        <div id="footer" class="main clearfix">
            <div class="row">
                <div class="grid-12">
                    @Html.Sitecore().Placeholder("footer")
                </div>
            </div>
        </div>
        <!-- /#footer -->        
    </div>
    @Html.Sitecore().Placeholder("body-bottom")
    @foreach (string script in assetLinks.Scripts)
    {
        @Html.Raw(script)
    }
    <!-- /#wrapper -->
</body>
</html>