<div class="clearfix"></div>
<footer class="footer" data-isloggedin="False">
    <div class="container">
		<div class="fLogo">
			<p>With the institutional support of:</p>
		   <div class="footerlogo">
			<ul id="footerLogoList" class="list-inline ">
				<li><a href="#"><img src="{{ ./imgDir }}/assets/f-logo1.png" class="footlogo" alt="La roche posay" /></a></li>
				<li><a href="#"><img src="{{ ./imgDir }}/assets/f-logo2.png" class="footlogo" alt="vichy" /></a></li>
				<li><a href="#"><img src="{{ ./imgDir }}/assets/f-logo4.png" class="footlogo" alt="ceraVe" /></a></li>
				<li><a href="#"><img src="{{ ./imgDir }}/assets/f-logo3.png" class="footlogo" alt="SkinCeuticals" /></a></li>
				
			</ul> 
		   </div>
		 </div>
	  
		<div class="col-lg-12">
			<div class="fmenu">
			<p>© 2017 Skin Alliance, by L'Oréal Active Cosmetics</p>
			<ul class="list-inline pull-right">
				<li><a href="#"> Terms of Use </a></li>
				<li><a href="#"> Privacy Policy </a></li>
				<li><a href="#"> Legal </a></li>
				</ul>
			</div>
		</div>
    </div>
	
	<!--Confirmation pop-up -->
	<div id="redirectConfirmModal" tabindex="-1" role="dialog" class="modal fade">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-label="Close" class="close">
					<span aria-hidden="true">×</span></button> <h4 class="modal-title">External Redirect Confirmation </h4>
				</div>
				<div class="modal-body"><p>Please login to access</p></div> 
				<div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-default">Close</button></div>
			</div>
		</div>
	</div>
   
</footer>