<div class="container">
<div class='row'>
<!-- Start Subcategory Listing !-->
<div class="subcategory-listing">
	<div class="col-lg-4 cent-align">
		<div class="pull-right">
			<button class="btn btn-primary follow">Follow</button>
		</div>
	</div>
	<div class="clearfix"></div>
	{{#each subCategories}}
	<div class="col-lg-6 col-md-6">
		<div class="sub-category">
			<div class="sub-categoryPost">
				<h1 class="sub-title pull-left">{{this.subCatName}} </h1>
				<p class="sub-viewall pull-right"><a  href="#">View All<span>></span></a></p>
			</div>
			<div class="clearfix"></div>
			{{#each subCategoryList}}
				<div class="subpostImg">
					<div class="pull-left">
						<img class="img-responsive subPImg" src="{{ ../../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" />
					</div>
					<div class="subpost-comment pull-right">
						<p class="subpDate">{{this.pDate}}</p>
						<a href="#">
							<p class="subpwrite txtwodot">{{this.desc}}</p>
						</a>
						<a href="#">
							<div class="subplike">
								<p class="subpStar"><i class="fa fa-star">  </i> {{this.fstar}} </p>
								<p class="subpComment"><i class="fa fa-comment"> </i> {{this.fstar}} </p>
							</div>
						</a>
					 </div>
				</div>
			{{/each}}
		</div>
	</div>
	{{/each}}
</div>
<!-- End Subcategory Listing !-->
</div>
</div>
