﻿<template>
    <div class="col-lg-12 cent-align">
        <div class="welcometitle">
            <h1 id="Signin_welcome_msg" class="welcometitle">
                {{title}}
            </h1>
            <div class="welcomeline">
            </div>
        </div>
    </div>
</template>
<script src="./WelcomeBanner.js"></script>


