﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Context.Models.SiteSelectorRenderingModel

<div @Html.Sxa().Component("market-selector", Model.Attributes)>
    <div class="market-selector-inner">
        <div class="market-selector-content">
            <div class="styled-select market">
            @using (Html.BeginForm("ChangeSite", "SiteSelector"))
            {
                @Html.DropDownList("ddlMarketSelection",  Model.SelectListItems, new {onchange = "setValueAndCallAction();"})
                @Html.Hidden("TargetSiteId", "")
                @Html.Hidden("CurrentItemId", Model.Item.ID)
                <script>
                    function setValueAndCallAction() {
                        var selectedValue = jQuery('#ddlMarketSelection :selected').val();
                        jQuery('#TargetSiteId').val(selectedValue);
                        jQuery('form').submit();
                    }
                    </script>
            }
            </div>
        </div>
    </div>
</div>


