<!-- start terms of use content !-->

<div class="container component-content">
<div class="termsofuse">
<p>Welcome to SkinAlliance, a digital platform dedicated to share content and training elements, as well as the storage of information regarding dermocosmetics and dermatology (hereinafter referred to as the “Platform”). This Platform was developed for and published by Cosmétique Active International (hereinafter referred to as the “Company” or “We”) for a community of selected users: the SkinAlliance community.</p>

<p>This Platform is hosted by InventivHealth with its registered office located at Rueil Malmaison, T: +33 (0)1 41 42 20 00</p>

<p>Given the nature of the information shared and of the training offered, the use of the Platform, available at www.skin-alliance.com, is reserved to members of the SkinAlliance community.</p>

<p>This Platform is thus intended to allow the members to:</p>
<div class="terms">
	<ul>
	<li>Share information and useful services; </li>
	<li>Store content available from any computer, digital tablet or smartphone;</li>
	<li>Disseminate information that contributes to the continuous training of its members.</li>
	</ul>
	</div>
<h5>ACCESS TO THE PLATFORM</h5>
<p>To access and use this Platform, you must be a member of the SkinAlliance community and receive your own login and password issued by Cosmétique Active International, at your first connection.</p>
<p>Access to the Platform is only allowed under these conditions.</p>
<p>Furthermore, members must at first login, read and accept the present Terms of Use its provisions without reserve.</p>
 <p>In order to validate registration and to create a profile, the members will have or shall be invited to fill in certain required fields in a form, indicated as such by an asterisk, prior entering the Platform. Any inaccurate or incomplete registration will be refused...</p>

</div>
</div>

<!-- end terms of use content !-->
