﻿@using Sitecore.XA.Feature.Navigation.Models
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.Navigation.Models.NavigationExtendedModel

<ul>
    @foreach (var item in Model.Children)
    {
        var relativeClass = string.Format("rel-level{0}", Model.RelativeLevel);
        <li class="@item.CssClasses.Aggregate() @relativeClass">
            @{
                if (item.IsFake)
                {
                    @Html.Raw("<a href=\"#\">" + item.Name + "</a>")
                }
                else
                {
                    foreach (VariantFieldBase variantField in item.VariantFields)
                    {
                        @Html.RenderingVariants().RenderVariant(variantField, item.PageItem, item.IsControlEditable)
                    }
                }
                if (item.Children != null && item.Children.Any())
               {
                   Html.RenderPartial("NavigationLevel", new NavigationExtendedModel{Children = item.Children,RelativeLevel = Model.RelativeLevel + 1});
               }
            }
        </li>
    }
</ul>
