$blue: #325485;
$title-blue:#00A3B9;
$header-blue:#00ACC2;
$background: #5AB4D4;
$lightGrey: #f6f6f6;
$light-grey-1: #ececec;
$light-grey-2:#F4F2F2;
$grey: #757575;
$dark-grey:#d4d4d4;
$dark-grey-2:#d8d8d8;
$white: #fff;
$black: #000;
$pink: #d62c7d;
$articleborder: #cbcbcb;
$borderGray: #ccc;
$black-dark:#1b1b1b;


//Menu
$menublack: #010101;

//Sub Menu
$subMenuBackground: #fefcfc;
$subMenuBorder:#ddd;

//Menu Content
$menuContent:#e6e6e6;

//Box
$box: #222;



