html{position: relative;min-height: 100%; width:100%; overflow-x:hidden;}

body {
   direction: $dir;
   text-align: if($dir == 'rtl', right, left);
   background: #fff 0 0 repeat;
   color: #000;
   font-size: 14px;
   line-height: 1.428571429;
   font-style:normal;
   font-weight:normal;
   font-variant:normal;
   width:100%; overflow-x:hidden;
}

a {
    transition: .3s color;font-style:normal;
    font-weight:normal;
    font-variant:normal;
    &:hover, &:focus, &:link{
        text-decoration:none;
        box-shadow:none;
        outline:0;
    }
}

h1,h2,h3,h4,h5,h5{
    margin:0;
    padding:0;
}
::selection{
  color:$white;
  background: $header-blue;
}
.container{

  @include media('>lg') { width:1200px; }

}
