
@font-face {
    font-family: 'locator_regularregular';
    src: url('../fonts/locator-regular-webfont-eot.eot');
    src: url('../fonts/locator-regular-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/locator-regular-webfont-woff2.woff2') format('woff2'),
         url('../fonts/locator-regular-webfont-woff.woff') format('woff'),
         url('../fonts/locator-regular-webfont-ttf.ttf') format('truetype'),
         url('../fonts/locator-regular-webfont-svg.svg#locator_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'locatorlight';
    src: url('../fonts/locator-light-webfont-eot.eot');
    src: url('../fonts/locator-light-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/locator-light-webfont-woff2.woff2') format('woff2'),
         url('../fonts/locator-light-webfont-woff.woff') format('woff'),
         url('../fonts/locator-light-webfont-ttf.ttf') format('truetype'),
         url('../fonts/locator-light-webfont-svg.svg#locatorlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'locatorultralight';
    src: url('../fonts/locator-ultralight-webfont-eot.eot');
    src: url('../fonts/locator-ultralight-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/locator-ultralight-webfont-woff2.woff2') format('woff2'),
         url('../fonts/locator-ultralight-webfont-woff.woff') format('woff'),
         url('../fonts/locator-ultralight-webfont-ttf.ttf') format('truetype'),
         url('../fonts/locator-ultralight-webfont-svg.svg#locatorultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'locatormedium';
    src: url('../fonts/locator-medium-webfont-eot.eot');
    src: url('../fonts/locator-medium-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/locator-medium-webfont-woff2.woff2') format('woff2'),
         url('../fonts/locator-medium-webfont-woff.woff') format('woff'),
         url('../fonts/locator-medium-webfont-ttf.ttf') format('truetype'),
         url('../fonts/locator-medium-webfont-svg.svg#locatormedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'locatorbold';
    src: url('../fonts/locator-bold-webfont-eot.eot');
    src: url('../fonts/locator-bold-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/locator-bold-webfont-woff2.woff2') format('woff2'),
         url('../fonts/locator-bold-webfont-woff.woff') format('woff'),
         url('../fonts/locator-bold-webfont-ttf.ttf') format('truetype'),
         url('../fonts/locator-bold-webfont-svg.svg#locatorbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'locatorblack';
    src: url('../fonts/locator-black-webfont-eot.eot');
    src: url('../fonts/locator-black-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/locator-black-webfont-woff2.woff2') format('woff2'),
         url('../fonts/locator-black-webfont-woff.woff') format('woff'),
         url('../fonts/locator-black-webfont-ttf.ttf') format('truetype'),
         url('../fonts/locator-black-webfont-svg.svg#locatorblack') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont-eot.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont-eot.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont-woff2.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont-ttf.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont-svg.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* font family */
$locator_regular    : 'locator_regularregular', Arial, sans-serif;
$locatorlight       : 'locatorlight', Arial, sans-serif;
$locatorultralight  : 'locatorultralight', Arial, sans-serif;
$locatormedium      : 'locatormedium', Arial, sans-serif;
$locatorbold        : 'locatorbold', Arial, sans-serif;
$locatorblack       : 'locatorblack', Arial, sans-serif;

body {
    font-family: 'locator_regularregular', Arial, sans-serif;;
}

ul, li, pre, code, form, fieldset, legend, input, select, button, textarea, p, nav, blockquote, th, td  {
    font-family:  'locator_regularregular', Arial, sans-serif;
}

h1{font-family: $locatorultralight; color:#fff;font-size:32px;}
h1{font-family: $locatorlight;    color:#fff;font-size:32px;}
h2{font-family: $locatormedium;   color:#fff;font-size:24px;}
h3{font-family: $locatorbold;     color:#fff;font-size:24px;}
h4{font-family: $locatorlight;    color:#fff;font-size:18px;}
h5{font-family: $locator_regular; color:#fff;font-size:15px;}
h6{font-family: $locatorblack;    color:#fff;font-size:14px;}
