
@mixin button {
    display: inline-block;
    padding: .5em 2em .55em;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    @include rounded('.5em');
    //this determines Mozilla to show the padding
    border: solid 1px #ccc;
    @include shadow;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    &:hover {
    background-color: #5AB4D4;
        text-decoration: none;
    }
    &:active {
        position: relative;
        top: 1px;
        background-color: rgba(90,180,212, 0.3);
    }
}



$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 3;
$lines-two: 2;

.txtdot {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  right:0;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  content:"...";
}
.txtwodot {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  right:0;
  height: $font-size*$line-height*$lines-two; /* Fallback for non-webkit */
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-two;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  content:"...";
}






/*.txtdot {font-family:'locator_regularregular';
  font: 14px/32px;
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  margin: 0px;
}

p.txtlink {font-family:'locator_regularregular';
  clear: both;  margin: 0px;
  a {font-family:'locator_regularregular';
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #535353;
    @include transition(all 0.2s ease-in);
    &:hover {
    color: #535353;
    }
  }
}
*/
