a, a:hover {
    transition: opacity .5s
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
	display:none;
}

.loader-box {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    left: 50%;
    margin: 0;
    /*padding: 120px 9% 10px;*/
    position: absolute;
    text-align: center;
    top: 43%;
    margin-left: -45px;
    z-index: 100001 !important;
    /*border-radius*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
