$dir:ltr;  // Direction : ltr or rtl

/*  Default image dir */
$imgDir: '';

/*Fonts  */

$locator_regular    : 'locator_regularregular', Arial, sans-serif;
$locatorlight       : 'locatorlight', Arial, sans-serif;
$locatorultralight  : 'locatorultralight', Arial, sans-serif;
$locatormedium      : 'locatormedium', Arial, sans-serif;
$locatorbold        : 'locatorbold', Arial, sans-serif;
$locatorblack       : 'locatorblack', Arial, sans-serif;




