﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.Media.Models.VideoRenderingModel


<div @Html.Sxa().Component("video", Model.Attributes) data-properties="@Model.JavaScriptProperties">
    @if (Html.Sxa().IsEdit)
    {
        @Model.MessageEditHere
    }

    @if (Model.DataSourceItem == null)
    {
        <div class="component-content">
            @Model.MessageIsEmpty
        </div>
    }
    else
    {
        using (Html.Sxa().BeginEditFrame(Model.DataSourceItem.ID.ToString(), "Video", Model.IsControlEditable))
        {
        <div class="component-content">
            @if (Model.IsMobile && Model.IsYoutube)
            {
                <div class="mobile-youtube">
                    <iframe width="@Model.VideoWidth" height="@Model.VideoHeight"
                                      src="@Model.VideoUrl"></iframe>
                </div>
            }
            else
            {
                var autoplay = Model.AutoPlay ? "autoplay" : "";
                <video id="video" style="width: 100%; height: 100%;" controls="controls" preload="none" @autoplay poster="@Model.PosterImage">
                    @foreach (var videoSource in Model.VideoSources)
                    {
                        <source type="@videoSource.Key" src="@videoSource.Value"/>
                    }
                    <object width="@Model.VideoWidth" height="@Model.VideoHeight" type="application/x-shockwave-flash" data="@Model.VideoData">
                        <param name="movie" value="@Model.VideoData" />
                        <param name="flashvars" value="controls=true&amp;poster=@Model.PosterImage&amp;file=@Model.Mp4VideoUrl" />
                        @if (Model.VideoUnavailableImage.Any())
                        {
                            var image = new
                                {
                                    src = Model.VideoUnavailableImage["ImageUrl"],
                                    width = Model.VideoUnavailableImage["Width"] + "px",
                                    height = Model.VideoUnavailableImage["Height"] + "px",
                                    title = Model.VideoUnavailableImage["ToolTip"],
                                    alt = Model.VideoUnavailableImage["AlternateText"]
                                };
                            <img src="@image.src" style="@image.width; @image.height" title="@image.title" alt="@image.alt"/>
                        }
                    </object>
                </video>
            }
            <span class="video-caption">
                @Html.Sxa().Field("MovieCaption", Model.DataSourceItem, Model.GetRenderingWebEditingParams())
            </span>
        </div>
        }
    }

</div>


