<!-- Article Detail Survey !-->
<div class="container">
<div class="Adetails-page">
	<div class="col-lg-8 col-md-8">
		<div class="article-details">
			<p>{{articleDetailSurvey.desc1}}</p>
			<p>{{articleDetailSurvey.desc2}}</p>
			<p>{{articleDetailSurvey.desc3}}</p>
			<!-- SURVEY -->
			<div class="panel-group" id="accordion" role="tablist" data-postquizurl="api/sitecore/Servey/Update"  aria-multiselectable="true">
				<!-- QUESTION-1 -->
				<div class="error-message chkbox-errmsg">Please check atleast one answer</div>
				<div class="panel panel-default noborder QuestionnaireSection">
					<div class="panel-heading noborder">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#question-1" aria-expanded="true" aria-controls="question-1">
						Questionnaire 1</a></div>
						<div id="question-1" data-articleid="{40D35C32-D6C6-4F16-9625-FCAA32ECB77F}" data-quizid="{F6791F59-7171-4603-BAD3-03F60D45A024}" data-correct="A,B" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="question-1-heading">
							 <div class="panel-body noborder survey-question">
						<p class="question">What casuses acne?</p>
						<ul class="survey-answers list-no-style">
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionA_1" name="chkOptionA_1" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">A:</span>
							<span class="answer-text">Acne can be caused by excess debut oil and clogged pores.</span>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionB_1" name="chkOptionB_1" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">B:</span>
								<span class="answer-text">Acne is most common in young adults with increasing hormone levels, and about 80 percent of people will have at least one
								once breakout before age 30.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionC_1" name="chkOptionC_1" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">C:</span>
								<span class="answer-text">It is less common in older adults, who tend to have steadier hormone levels.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionD_1" name="chkOptionD_1" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">D:</span>
							<span class="answer-text">If you have acne, wash gently with a mild cleanser no more than twice a day; and avoid hard scrubbing, exfoliating, and
							touching the affected areas.</span></li>
						</ul>
						<div class="survey-submit">
							<input type="button" data-subPanelId="question-1" class="btn btn-primary pull-right questionnaire-btn" value="SUBMIT">
						</div>
						<div class="feedback">
							<h5>Comments</h5>
							<p>Comments displays here</p>
						</div>
						<div class="results-chart">
							<div class="options option-a">
								<p class="result-option"></p>
								<div class="bar">
								</div>
								<p class="result-percent">8%</p>
							</div>
							<div class="options option-b">
								<p class="result-option"></p>
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">10%</p>
							</div>
							<div class="options option-c">
								<p class="result-option"></p>
								<div class="bar"  style="height:10px;">
								</div>
								<p class="result-percent">2%</p>
							</div>
							<div class="options option-d">
								<p class="result-option"></p>
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">8%</p>
							</div>
							<div class="chart-history">
								<div class="correct"><span class="chart-history-box green"></span><label>Correct</label></div>
								<div class="wrong"><span class="chart-history-box red"></span><label>Wrong</label></div>
							</div>
						</div>
					</div>
						</div>
				</div>
				<!-- QUESTION-2 -->
				<div class="panel panel-default noborder QuestionnaireSection">
					<div class="error-message chkbox-errmsg"></div>
					<div class="panel-heading noborder">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#question-2" aria-expanded="true" aria-controls="question-2">
						Questionnaire 2</a></div>
						<div id="question-2" data-articleid="{40D35C32-D6C6-4F16-9625-FCAA32ECB77F}" data-quizid="{F6791F59-7171-4603-BAD3-03F60D45A024}" data-correct="A,C,D" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-2-heading">
							 <div class="panel-body noborder survey-question">
						<p class="question">What casuses acne?</p>
						<ul class="survey-answers list-no-style">
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionA_2" name="chkOptionA_1" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">A:</span>
							<span class="answer-text">Acne can be caused by excess debut oil and clogged pores.</span>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionB_2" name="chkOptionB_2" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">B:</span>
								<span class="answer-text">Acne is most common in young adults with increasing hormone levels, and about 80 percent of people will have at least one
								once breakout before age 30.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionC_2" name="chkOptionC_2" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">C:</span>
								<span class="answer-text">It is less common in older adults, who tend to have steadier hormone levels.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionD_2" name="chkOptionD_2" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">D:</span>
							<span class="answer-text">If you have acne, wash gently with a mild cleanser no more than twice a day; and avoid hard scrubbing, exfoliating, and
							touching the affected areas.</span></li>
						</ul>
						<div class="survey-submit">
							<input type="button" data-subPanelId="question-2" class="btn btn-primary pull-right questionnaire-btn" value="SUBMIT">
						</div>
						<p class="feedback">Feedback</p>
						<div class="results-chart">
							<div class="options option-a">
								<div class="bar">
								</div>
								<p class="result-percent">8%</p>
							</div>
							<div class="options option-b">
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">10%</p>
							</div>
							<div class="options option-c">
								<div class="bar"  style="height:10px;">
								</div>
								<p class="result-percent">2%</p>
							</div>
							<div class="options option-d">
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">8%</p>
							</div>
						</div>
					</div>
						</div>
				</div>
				<!-- QUESTION-3 -->
				<div class="panel panel-default noborder QuestionnaireSection">
					<div class="error-message chkbox-errmsg"></div>
					<div class="panel-heading noborder">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#question-3" aria-expanded="true" aria-controls="question-3">
						Questionnaire 3</a></div>
						<div id="question-3" data-articleid="{40D35C32-D6C6-4F16-9625-FCAA32ECB77F}" data-quizid="{F6791F59-7171-4603-BAD3-03F60D45A024}" data-correct="B" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-3-heading">
							 <div class="panel-body noborder survey-question">
						<p class="question">What casuses acne?</p>
						<ul class="survey-answers list-no-style">
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionA_3" name="chkOptionA_3" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">A:</span>
							<span class="answer-text">Acne can be caused by excess debut oil and clogged pores.</span>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionB_3" name="chkOptionB_3" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">B:</span>
								<span class="answer-text">Acne is most common in young adults with increasing hormone levels, and about 80 percent of people will have at least one
								once breakout before age 30.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionC_3" name="chkOptionC_3" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">C:</span>
								<span class="answer-text">It is less common in older adults, who tend to have steadier hormone levels.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionD_3" name="chkOptionD_3" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">D:</span>
							<span class="answer-text">If you have acne, wash gently with a mild cleanser no more than twice a day; and avoid hard scrubbing, exfoliating, and
							touching the affected areas.</span></li>
						</ul>
						<div class="survey-submit">
							<input type="button" data-subPanelId="question-3" class="btn btn-primary pull-right questionnaire-btn" value="SUBMIT">
						</div>
						<p class="feedback">Feedback</p>
						<div class="results-chart">
							<div class="options option-a">
								<div class="bar">
								</div>
								<p class="result-percent">8%</p>
							</div>
							<div class="options option-b">
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">10%</p>
							</div>
							<div class="options option-c">
								<div class="bar"  style="height:10px;">
								</div>
								<p class="result-percent">2%</p>
							</div>
							<div class="options option-d">
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">8%</p>
							</div>
						</div>
					</div>
						</div>
				</div>
				<!-- QUESTION-4 -->
				<div class="panel panel-default noborder QuestionnaireSection">
					<div class="error-message chkbox-errmsg"></div>
					<div class="panel-heading noborder">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#question-4" aria-expanded="true" aria-controls="question-4">
						Questionnaire 4</a></div>
						<div id="question-4" data-articleid="{40D35C32-D6C6-4F16-9625-FCAA32ECB77F}" data-quizid="{F6791F59-7171-4603-BAD3-03F60D45A024}" data-correct="C" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-1-heading">
							 <div class="panel-body noborder survey-question">
						<p class="question">What casuses acne?</p>
						<ul class="survey-answers list-no-style">
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionA_4" name="chkOptionA_4" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">A:</span>
							<span class="answer-text">Acne can be caused by excess debut oil and clogged pores.</span>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionB_4" name="chkOptionB_4" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">B:</span>
								<span class="answer-text">Acne is most common in young adults with increasing hormone levels, and about 80 percent of people will have at least one
								once breakout before age 30.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionC_4" name="chkOptionC_4" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">C:</span>
								<span class="answer-text">It is less common in older adults, who tend to have steadier hormone levels.</span></li>
							<li>
								<div class="btn-group custom-checkbox" data-toggle="buttons">
								<label class="btn btn-default">
								<input type="checkbox" id="chkOptionD_4" name="chkOptionD_4" autocomplete="off">
								<span class="fa fa-check"></span>
							</label></div>
							<span class="answer-option">D:</span>
							<span class="answer-text">If you have acne, wash gently with a mild cleanser no more than twice a day; and avoid hard scrubbing, exfoliating, and
							touching the affected areas.</span></li>
						</ul>
						<div class="survey-submit">
							<input type="button" data-subPanelId="question-4" class="btn btn-primary pull-right questionnaire-btn" value="SUBMIT">
						</div>
						<p class="feedback">Feedback</p>
						<div class="results-chart">
							<div class="options option-a">
								<div class="bar">
								</div>
								<p class="result-percent">8%</p>
							</div>
							<div class="options option-b">
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">10%</p>
							</div>
							<div class="options option-c">
								<div class="bar"  style="height:10px;">
								</div>
								<p class="result-percent">2%</p>
							</div>
							<div class="options option-d">
								<div class="bar" style="height:50px;">
								</div>
								<p class="result-percent">8%</p>
							</div>
						</div>
					</div>
						</div>
				</div>
			</div>
		</div>
		<!-- Access website and Like button -->
		<div class="full-width">
			<a href="#" class="btn btn-primary">Access website</a>
			<div class="pull-right">
				<a href="#" class="btn btn-primary"><i class="fa fa-star"></i> Like (6) </a>
			</div>
		</div>
		<div class="Article-Comments">
			<h1>Comments:</h1>
			{{#each articleDetailSurvey.articleComments}}
				<div class="arti-post-cmnt">
					<img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" />
					<ul class="list-inline">
						<li>{{this.username}}</li>
						<li class=""><p> {{this.desc}} </p> </li>
						<li> <span>{{this.date}} &nbsp &nbsp| </span>   <a href="#"> Reply </a> </li>
					</ul>
				</div>
			{{/each}}

			<div class="input-group inpaddsp usrinput">
				<label for="post-comment"> Comments</label>
				<textarea type="text" id="address" name="address" class="form-control" placeholder="{{address}}" rows="5"></textarea>
			</div>
			<div class="">
				<button type="submit" value="Submit" class="btn btn-primary">Post comment</button>
			</div>
		</div>
	</div>

	<!-- Start Post content !-->
	<div class="col-lg-4 col-md-4">
	<!-- Start Post content !-->
		<div class="pdetail-title">
			<h1 class="title-underlined">Post Details</h1>
			<div class="postdate">
				<!-- <i class="fa fa-calendar"></i>--> <label class="">Posted: <span class="" >20th March 2017</span></label>
			</div>
			<div class="postby">
				<!--<i class="fa fa-user"></i>--> <label class="">Posted by: <span class="">Community Manager</span></label><a href="#" class="btn btn-primary follow">follow</a>
			</div>
			<div class="postcategory">
				<!--<i class="fa fa-tag"></i>--> <label class="">Category: <span class="">: Sub-Category Name</span></label><a href="#"class="btn btn-primary follow">follow</a>
			</div>
		</div>
		<!-- end Post content !-->

		<!-- Start Realted Post content !-->
		<div class="Related-Posts">
			<h1 class="title-underlined">Related Posts</h1>
			{{#each relatedPost}}
				<div class="relate-post-cont">
					<span class="related-post-thumb">
						<a href="#"><img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" /></a>
					</span>
					<a href="#">
					<ul class="list-inline">
						<li class=""><p class="txtdot"> {{this.postDesc}}</p> </li>
						<li class="related-post-like-comment"><span><i class="fa fa-star"></i>{{this.star}}</span><span><i class="fa fa-comment"></i>{{this.comments}}</span></li>
					</ul>
				</a>
				</div>
			{{/each}}
		</div>
		<!-- End Related Post content !-->
	</div>
</div>
