<div class="container">
<!-- Start Register Screen !-->
<div class="Register">
	<div class="col-sm-1 col-md-1 col-lg-1 visible-xs"></div>
	<div class="col-sm-4 col-sm-push-6 social-login">
		<div class="visible-xs">
		<h1>{{title}}</h1>
			<div class="clearfix"></div>
			<p class="text-center">{{desc}}</p>
		</div>
		<div class="cent-align">
           <button type="button" class="btn btn-default btn-facebook btn-align">
            		<i class="fa fa-facebook fa-2x btn-fbicon"></i><span class="social-btn-text">{{fbBtn}}</span></button>
            <br />
            <button type="button" class="btn btn-default btn-twitter">
            		<i class="fa fa-twitter fa-2x btn-twiticon"></i><span class="social-btn-text">{{twitterBtn}}</span></button>
            		<br />
            <button type="button" class="btn btn-default btn-linkedin">
            		<i class="fa fa-linkedin fa-2x btn-linkdicon"></i><span class="social-btn-text">{{linkdiconBtn}}</span></button>
     	</div>

	</div>
	<div class="col-sm-1 col-md-1 col-lg-1 col-sm-push-1"><div class="or"><p class="">or</p></div></div>

	<div class="col-sm-5 col-sm-pull-5">
	<div class="hidden-xs">
	<h1>{{title}}</h1>
		<div class="clearfix"></div>
		<div><p>{{desc}}</p></div>
	</div>
		<form id="registerForm" method="get" action="">
			<div class="Regform">
				<p>{{personalInfo}}</p>
				<div class="input-group inpaddsp usrinput">
				  <input type="text" id="signup_firstname" name="FirstName" class="form-control " data-fname="Please enter First Name" placeholder="{{fname}}" required="" >
				</div>
				<div class="input-group inpaddsp usrinput">
				  <input type="text" id="signup_lastname" name="LastName" class="form-control "  data-lname="Please enter Last Name" placeholder="{{lname}}" required="">
				</div>
				<div class="input-group inpaddsp usrinput">
				  <input type="email" id="signup_email" name="Email" class="form-control " data-email="Please enter email address" data-invalidemail="Please enter valid email address" placeholder="{{email}}" required="">
				</div>
				<div class="input-group inpaddsp usrinput">
				  <input type="text" id="signup_phone" name="Phone" class="form-control " data-invalidphone="Please enter valid phone number" placeholder="{{phone}}">
				</div>
				<div class="input-group inpaddsp usrinput">
				  <textarea type="text" id="signup_address" name="Address" class="form-control" placeholder="{{address}}" rows="5"></textarea>
				</div>
				<div class="input-group inpaddsp usrinput">
					<div class="form-group">
					  <select class="form-control-sbox" id="signup_country" name="Country" data-country="Please select Country" required>
						<option value="">{{country}}</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					</div>
				</div>
				<div class="input-group inpaddsp usrinput">
				  <input type="text" id="signup_physiciallicensenumber" name="PhysicianLicenseNumber" class="form-control" data-lnumber="Please enter Physician License" placeholder="{{license}}" required="">
				</div>

				<div class="input-group inpaddsp usrinput">
					<div class="form-group">
					  <select class="form-control-sbox" id="signup_medicalspecialty" data-medical="Please enter Medical Speciality" name="MedicalSpecialty" required>
						<option value="">{{medical}}</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					</div>

				</div>

				<div class="input-group inpaddsp usrinput">
					<div class="form-group">
					  <select class="form-control-sbox" id="PreferLanguage" data-medical="Select Prefer Language" name="Prefer Language" required>
						<option value="">{{PreferLanguage}}</option>
						<option>French</option>
						<option>United States</option>

					  </select>
					</div>

				</div>

				<p>{{loginInfo}}</p>
				<div class="input-group inpaddsp usrinput">
				  <input type="text" id="uname" name="uname" class="form-control" data-uname="Please enter User Name" placeholder="{{uname}}" required="" >
				</div>

				<div class="input-group inpaddsp usrinput">
				  <input type="text" id="signup_password" name="Password" class="form-control " data-password="Please enter password" placeholder="{{password}}" data-pwdStr="Password must be contain at least eight characters, at least one number and both lower and uppercase letters and special characters" required="" >
				</div>

				<div class="input-group inpaddsp usrinput">
				  <input type="text" id="signup_confirmpassword" name="ConfirmPassword" class="form-control" data-cpassword="Please enter Confirm password" data-equalto="Confirm password is not matching the password" placeholder="{{cpassword}}" required="" >
				</div>

				<div class="col-lg-12 mbot">
				<button type="submit" value="Submit" class="btn btn-primary btn-lg btn-login reg-form-submit">{{submitBtn}}</button>
				</div>
		</div>
	</form>

	</div>


	<div class="col-sm-1"></div>
</div>
</div>
<!-- end Register Screen !-->
<div class="clearfix"></div>
