<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  LOGIN
</button>

<!-- Modal -->
<div class="HomeModal welcome-popup">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
      </div>
      <div class="modal-body">
        <h3 class="popup-title">Welcome to Skin Alliance, Rebecca!</h3>
        	<label>Let’s begin with a quick tour of the platform...</label>

			<ol>
			<li>Sed mara transverbero accumsan nutus. Nonummy dolus minim uxor quae in haero camur. Bene hendrerit consequat. Ratis multo venio nisl. Dolore abbas eligo eum. Eligo cui delenit in hendrerit iaceo ullamcorper iriure.</li>

			<li>Abico abico iriure appellatio nonummy. Quae si quod facilisi in neque sed.</li>

			<li>Defui iusto brevitas eros abluo.</li>

			<li>Luctus mara aliquip tation si blandit vicis lobortis vel. Nisl nulla sagaciter huic et saepius importunus neque conventio qui illum saluto. Patria esse dolore loquor nibh gemino. Olim consequat meus neo qui ex ibidem in delenit decet torqueo.</li>

			<li>Venio letatio autem ad duis quia wisi in illum. Vero natu decet nutus iaceo jumentum. Aliquip secundum probo duis natu olim ingenium acsi. Oppeto eum ea ne. Valde natu sudo aptent antehabeo conventio venio metuo pecus consectetuer in olim. Suscipit abico feugait macto mos transverbero turpis.</li>

			<li>Indoles scisco luptatum consequat. Feugiat vel ea aliquip qui natu acsi gravis fatua.</li>

    </ol>
      <div class="dont-show-check clearfix">
        <div class="btn-group pull-left" data-toggle="buttons">
          <label class="btn btn-info btn-sm">
          <input type="checkbox" autocomplete="off">
          <span class="fa fa-check"> </span>
          </label> I agree, don’t display this pop up again
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Start when home page loading Modal Popup !-->
