﻿@using Sitecore.XA.Foundation.DynamicPlaceholders.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc

@model DynamicPlaceholdersRenderingModel

@{
    const string placeholderKeyPrefix = "container";
    var key = string.Format("{0}-{1}", placeholderKeyPrefix, Model.Id);
    var backgroundStyle = string.IsNullOrWhiteSpace(Model.BackgroundUrl) ? string.Empty : string.Format(@" style=""background-image: url('{0}')""", HttpUtility.HtmlEncode(Model.BackgroundUrl));
}

<div @Html.Sxa().Component("container", Model.Attributes)>
    <div class="component-content"@Html.Raw(backgroundStyle)>
        @Html.Sitecore().Placeholder(key)
    </div>
</div>