﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Composites.Models.CarouselRenderingModel

@{
    const string baseKey = "section-content";
}

<div @Html.Sxa().Component("carousel", Model.Attributes) data-properties='@Model.JsonDataProperties'>
    <div class="component-content">
        @if (Model.HasCompositeLoop)
        {
            @Model.MessageHasLoop
        }
        else if (Model.DataSourceItem == null)
        {
           @Model.MessageIsEmpty
        }
        else if (Model.CompositeCount == 0 || Model.HasCompositeLoop)
        {
            using (Html.Sxa().BeginEditFrame(Model.DataSourceItem.ID.ToString(), "Carousel Empty", Model.IsControlEditable))
            {
                @Model.MessageIsEmpty
            }
        }
        else
        {
            <div class="carousel-inner">
                <div class="background">
                </div>
                <ul class="slides">
                    @foreach (var composite in Model.CompositeItems)
                    {
                        var headerKey = string.Format("{0}-{1}-{2}", baseKey, composite.Key, Model.Id);
                        <li class="slide" @Html.Raw(composite.Key != 1 ? "style=\"display: none\"" : " ") >
                            @using (Html.Sxa().BeginEditFrame(composite.Value.ID.ToString(), "Carousel", Model.IsControlEditable))
                            {
                                @Html.Sitecore().Placeholder(headerKey)
                            }
                        </li>
                    }
                </ul>
                @if (Model.CompositeItems.Count > 1)
                {
                    <div class="nav">
                        <a class="prev-text" href="#" id="prevLink">@Model.Settings.NavigationPrefix</a>
                        <div class="nav-items">
                        </div>
                        <a class="next-text" href="#" id="nextLink">@Model.Settings.NavigationPostfix</a>
                    </div>
                }
            </div>
        }
    </div>
</div>
