﻿@model Sitecore.XA.Foundation.DynamicPlaceholders.Models.DynamicPlaceholdersRenderingModel
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@{
    const string placeholderKeyPrefix = "column";
}

<div class="row">
    @foreach (var column in Enumerable.Range(0,Model.PlaceholdersCount))
    {
        var key = string.Format("{0}-{1}-{2}", placeholderKeyPrefix, column + 1, Model.Id);
        <div @Html.Sxa().Component(Model.Styles[column], Model.Attributes)>
            @Html.Sitecore().Placeholder(key)
        </div>
    }
</div>