<div class="container">
<!-- Start DermoCosmetic !-->

<div class="DermoCosmetic">
	<div class="col-lg-12 cent-align">
		<div class="pull-right">
			<button class="btn btn-primary follow">Follow</button>
		</div>
	</div>
	{{#each categories}}
	<div class="col-lg-6 col-sm-6 col-md-6">
		<div class="category">
			<div class="category-logo">
				<img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="CATEGORY NAME" />
			</div>
			<div class="category-title">
				<h2 class="">{{this.catName}}</h2>
				<div class="subcategory">
					<ul class="list-inline">
						{{#each subCategoryList}}
						<li>{{this.subCatName}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
<!-- Start DermoCosmetic !-->
</div>
