﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Search.Models.DateFilterRenderingModel

@if (Model.IsEdit || Model.FacetItemName != null)
{
<div @Html.Sxa().Component("facet-date-range", Model.Attributes).Decorate("class", "facet-component") data-properties='@Model.JsonDataProperties'>
    <div class="component-content">

        @if (Model.DataSourceItem == null)
        {
            @Model.MessageIsEmpty
        }
        else if (Model.FacetItemName == null)
        {
            @Model.MessageFacetIsEmpty
        }
        else
        {
            { Html.RenderPartial("FacetHeader", Model); }

            if (Model.FromDateVisible)
            {
            <div class="from-date">
                <input type="text" class="startDate" placeholder="@Model.FromDateText" readonly>
            </div>
            }

            if (Model.ToDateVisible)
            {
            <div class="to-date">
                <input type="text" class="endDate" placeholder="@Model.ToDateText" readonly>
            </div>
            }

            { Html.RenderPartial("FacetRemoveFilterButton", Model); }
        }
    </div>
</div>
}
