<!-- start article listing !-->

<div class="container">
	<div class="article-listing">
		<div class="row">
			<div class="col-lg-4 col-xs-12 pull-right">
				<div class="artbtn-align">
					<!-- SORT BY -->
					<div class="input-group  sort-by">
						<div class="form-group">
							<label>Sort by:</label>
							<select class="form-control-sbox" required>
				<option>Date Posted</option>
				<option>Date Posted</option>
				<option>Date Posted</option>
				<option>Date Posted</option>
				</select>
						</div>
					</div>
					<!-- SORT BY -->
					<button class="btn btn-primary follow">Follow</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="artlistwid mbot" data-countperpage="5" data-totalrecords="50" data-categoryid="1" data-apiurl="http://www.mocky.io/v2/597747a5110000b20ad89906">
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author hidden-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline date-author visible-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author hidden-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline date-author visible-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author hidden-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline date-author visible-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author hidden-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline date-author visible-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author hidden-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline date-author visible-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author hidden-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline date-author visible-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 artboxbt">
					<img class="img-responsive" src="{{ ./imgDir }}/assets/article.png" alt="SKINALLAINCE" />
					<div class="article-list-content">
						<ul class="list-inline date-author hidden-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<p class="txtdot">Iriure iusto accumsan duis melior ne conventio quis ventosus mos. Macto iusto odio exputo enim</p>
						<ul class="list-inline date-author visible-xs">
							<li>04/Nov/2017</li>
							<li>Author Name</li>
						</ul>
						<ul class="list-inline btn-social">
							<li><i class="fa fa-star"> </i>3</li>
							<li><i class="fa fa-comment"> </i>4</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- end article listing !-->
