﻿@using Sitecore.Data.Items
@using Sitecore.XA.Feature.Media
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.Multisite.LinkManagers
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Media.Models.GalleryRenderingModel

<div @Html.Sxa().Component("gallery", Model.Attributes) data-properties='@Html.Raw(Model.JsonDataProperties)'>
    <div class="component-content">

        @if (Model.Rendering.DataSourceItem != null)
            {
                if (Model.Media != null && !Model.Media.Any())
                {
                    using (Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "Gallery Empty", Model.IsControlEditable))
                    {
                    @Model.MessageIsEmpty
                }
            }
            else if (Model.Media == null)
            {
                @Model.MessageEditHere
            }
        }
        else
        {
            @Model.MessageIsEmpty
        }
        <div class="gallery-inner" id="@Guid.NewGuid().ToString()">
            @if (Model.Media != null)
            {
                foreach (Item item in Model.Media)
                {
                    if (item.TemplateID != Templates.GalleryVideo.ID)
                    {
                        using (Html.Sxa().BeginEditFrame(item.ID.ToString(), "Gallery Image", Model.IsControlEditable))
                        {
                            if (Model.IsControlEditable && string.IsNullOrWhiteSpace(item[Templates.GalleryImage.Fields.Image]))
                            {
                                <span class="edit-here-hint">[Edit Gallery Image here]</span>
                            }
                            <a href="@(LinkItem.FromField(item, false, Templates.GalleryImage.Fields.Image) != null ? @LinkItem.FromField(item, false, Templates.GalleryImage.Fields.Image).TargetUrl : string.Empty)">
                                <img src="@(LinkItem.FromField(item, false, Templates.GalleryImage.Fields.Image) != null ? @LinkItem.FromField(item, false, Templates.GalleryImage.Fields.Image).TargetUrl : string.Empty)"
                                     data-title="@item[Templates.GalleryImage.Fields.ImageTitle]"
                                     data-description="@item[Templates.GalleryImage.Fields.ImageDescription]"
                                     alt="@item[Templates.GalleryImage.Fields.ImageDescription]"/>

                            </a>
                        }
                    }

                    if (item.InheritsFrom(Templates.GalleryVideo.ID))
                    {
                        using (Html.Sxa().BeginEditFrame(item.ID.ToString(), "Gallery Video", Model.IsControlEditable))
                        {
                            if (Model.IsControlEditable && string.IsNullOrWhiteSpace(item[Templates.GalleryVideo.Fields.VideoThumbnail]))
                            {
                                <span class="edit-here-hint">[Edit Gallery Video here]</span>
                            }

                            <a href="@{ Html.RenderAction("GetVideoUrl", "Gallery", new {videoItem = item}); }">

                                @if (!string.IsNullOrWhiteSpace(item[Templates.GalleryVideo.Fields.VideoThumbnail]))
                                {
                                    <img src="@(LinkItem.FromField(item, false, Templates.GalleryVideo.Fields.VideoThumbnail) != null ? @LinkItem.FromField(item, false, Templates.GalleryVideo.Fields.VideoThumbnail).TargetUrl : string.Empty)"
                                         data-title="@item[Templates.GalleryVideo.Fields.VideoTitle]"
                                         data-description="@item[Templates.GalleryVideo.Fields.VideoDescription]"
                                         alt="@item[Templates.GalleryVideo.Fields.VideoDescription]"/>
                                }
                                else
                                {
                                    Html.RenderAction("RenderProviderThumbnail", "Gallery", new {videoItem = item});
                                }
                            </a>
                        }
                    }
                }
            }
        </div>
    </div>
</div>
