﻿@using Sitecore.XA.Feature.Media.Models

@model VideoThumbnailModel

@if (!string.IsNullOrWhiteSpace(Model.ThumbnailUrl))
{
    <img src="@Model.ThumbnailUrl" data-title="@Model.VideoTitle" data-description="@Model.VideoDescription" alt="@Model.VideoDescription" />
}
else
{
    <span class="video" data-title="@Model.VideoTitle" data-description="@Model.VideoDescription"></span>
}