<div class="container congress-detail">
  <div class="row">
    <div class="col-lg-8 col-md-8 congress-detail-left">
      <div class="congress-detail-info">
        <p>{{{congress-detail.congress-detail-info}}}</p>
      </div>
      <div class="congress-register">
        <a href="#" class="btn btn-primary">register</a>
      </div>
    </div>
    <aside class="col-lg-4 col-md-4 congress-detail-right">
      <div class="other-congresses">
        <h3 class="title-underlined">other congresses</h3>
        <ul class="other-congress-list">
          {{#each congress-detail.other-congress-list}}
            <li class="other-congress-list-item clearfix">
              <div class="congress-schedule congress-schedule-big pull-left">
        	    	<p class="congress-month">{{this.congress-month}}</p>
        	    	<p class="congress-date">{{this.congress-date}}</p>
        	    </div>
              <div class="congress-info pull-left">
                <a href="#">{{this.other-congress-info}}</a>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </aside>
  </div>
</div>
