<div class="container">
<!-- Start category slider scrolling !-->
<div class="category-slider">
	<div class="categoryBox">
		<div id="mixedSlider">
			<div class="MS-content">
			{{#each sliderList}}
				<div class="item">
					<div class="imgTitle">
						<img src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}"/>
						  <p class="blogTitle">
							 <a href="#">{{this.title}}</a>
						 </p>
					</div>
				 </div> 
			{{/each}}
			</div>
			<div class="MS-controls">
				<button class="MS-left"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
				<button class="MS-right"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
<!-- end category slider scrolling !-->
</div>