﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.PageStructure.Models.ToggleRenderingModel
@{
    const string placeholderKeyPrefix = "toggle";
    var key = string.Format("{0}-{1}", placeholderKeyPrefix, Model.Id);
}
<div @Html.Sxa().Component("toggle", Model.Attributes) data-properties="@Model.JavaScriptProperties">
    <div class="component-content">
        <ul id="ulToggle">
            <li>
                <div class="toggle-header" tabindex="0">
                    <span class="label">
                        @if (Model.DataSourceItem == null)
                        {
                            @Model.MessageIsEmpty
                        }
                        else
                        {
                            @Html.Sitecore().Field("Text",Model.DataSourceItem, Model.GetRenderingWebEditingParams())    
                        }
                    </span>
                </div>
                <div class="toggle-content">
                    @Html.Sitecore().Placeholder(key)
                </div>
            </li>
        </ul>
    </div>
</div>
