﻿@using Sitecore.XA.Feature.Navigation.Repositories.Archive
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions

@model Sitecore.XA.Feature.Navigation.Models.ArchiveRenderingModel

@helper RenderTree(IEnumerable<ArchiveGrouping> groups,int level)
{
    <ul class="level-@level">
        @foreach (var g in groups)
        {
            <li>
                <span class="group-header">@g.Key</span>
                @if (g.Nested.Any())
                {
                    @RenderTree(g.Nested,level + 1)
                }
                else
                {
                    <ul class="archive-items">
                        @foreach (var blogPost in g.Items)
                        {
                            <li class="archive-item">
                                @foreach (var variantField in @Model.VariantFields)
                                {
                                    @Html.RenderingVariants().RenderVariant(variantField, blogPost, Model.RenderingWebEditingParams)
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}


<div @Html.Sxa().Component("zen-archive", Model.Attributes)>
    <div class="component-content">
        @if (Model.Archive.Any())
        {
            @RenderTree(Model.Archive, 1)
        }
        else
        {
            if (Model.IsEdit)
            {
                @Model.MessageIsEmpty
            }
        }
    </div>
</div>