﻿@using System.Runtime.CompilerServices
@using Sitecore.Globalization
@using Loreal.Feature.MyNotification
@using System.Web.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.MyNotification.Model.NotificationViewModel

@if (Model != null && Model.Notification != null)
{
    <div class="container notification">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-sm-push-8">
                @if (Model.Filters != null)
                {
                    <div class="side-panel side-panel-mobile visible-xs">
                        <h5 data-toggle="collapse" data-target="#notification-filter-mobile">
                            @Model.FilterLabel
                            <div class="collbtn visible-xs visible-sm-block ">
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </h5>
                        <div id="notification-filter-mobile" class="notification-filter collapse">
                            @foreach (var _filter in Model.Filters)
                            {
                                <div class="custom-check">
                                    <input id="mob_mange_filter_@_filter.Key" type="checkbox" name="mange_filter_@_filter.Key" value="@_filter.Key">
                                    <label for="mob_mange_filter_@_filter.Key"><span>@_filter.Value</span></label>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="manage-notification">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#manage-notification" data-backdrop="static" data-keyboard="false">@Model.Message</a>
                </div>
                <div class="clearfix"></div>
                @if (Model.Filters != null)
                {
                    <div class="side-panel hidden-xs">
                        <h5>@Model.FilterLabel</h5>
                        <div class="notification-filter">
                            @foreach (var _filter in Model.Filters)
                            {
                                <div class="custom-check">
                                    <input id="mange_filter_@_filter.Key" type="checkbox" name="mange_filter_@_filter.Key" value="@_filter.Key">
                                    <label for="mange_filter_@_filter.Key"><span>@_filter.Value</span></label>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
            <input type="hidden" id="notificationcount" value="@Model.TimelineCount" />
            <div class="col-md-8 col-sm-8 col-sm-pull-4" id="notificationcontainer">
                <div class="clearfix"></div>
                @if (Model.Timeline != null)
                {
                    foreach (var timeline in Model.Timeline)
                    {
                        <ul class="notification-container">
                            <li>
                                @switch (timeline.Type)
                                {
                                    case NotificationType.FollowUser:
                                        <div class="title-image"><i class="fa fa-user user" aria-hidden="true"></i></div>
                                        break;
                                    case NotificationType.PostInCategory:
                                        <div class="title-image"><i class="fa fa-plus-circle user" aria-hidden="true"></i></div>
                                        break;
                                    case NotificationType.Like:
                                    case NotificationType.LikeInteract:
                                        <div class="title-image"><i class="fa fa-star user" aria-hidden="true"></i></div>
                                        break;
                                    case NotificationType.CommentInteract:
                                    case NotificationType.Comment:
                                        <div class="title-image"><i class="fa fa-comment user" aria-hidden="true"></i></div>
                                        break;
                                    case NotificationType.PostByUser:
                                        <div class="title-image"><i class="fa fa-plus-circle user" aria-hidden="true"></i></div>
                                        break;
                                }
                            </li>
                            <li><img src="@timeline.ImageUrl"></li>
                            <li>
                                <p><strong>@Html.Raw(timeline.Date)</strong></p>
                                <p class=''>@Html.Raw(timeline.Message)</p>
                            </li>
                        </ul>
                    }
                }
              <div class="hidden load-more-txt" id="notificationloadmore">
                    <div class="col-sm-12">
                        <p class="load-more">@Model.LoadingText</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade manage-notification-popup" id="manage-notification" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </div>
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "notificationform" }))
                {
                    @Html.Sitecore().FormHandler("Notification", "SaveSettings")
                    <div class="modal-body">
                        <h3 class="popup-title">@Model.Message</h3>
                        <input type="hidden" name="Id" value="@Model.Notification.Id" />
                        <input type="hidden" name="UserId" value="@Model.Notification.UserId" />
                        <div class="popup-content">
                            <span>@Model.NotificationOneLabel</span>
                            <select class="selectpicker" id="NotificationOne" name="NotificationOne" aria-label="@Model.NotificationOneLabel">
                                @foreach (var _type in Model.Types)
                                {
                                    var selected = (int)Model.Notification.NotificationOne == _type.Key ? "selected" : "";
                                    <option value="@_type.Key" @selected> @_type.Value</option>
                                }
                            </select>
                        </div>
                        <div class="popup-content">
                            <span>@Model.NotificationTwoLabel</span>
                            <select class="selectpicker" id="NotificationTwo" name="NotificationTwo" aria-label="@Model.NotificationTwoLabel">
                                @foreach (var _type in Model.Types)
                                {
                                    var selected = (int)Model.Notification.NotificationTwo == _type.Key ? "selected" : "";
                                    <option value="@_type.Key" @selected> @_type.Value</option>
                                }
                            </select>
                        </div>
                        <div class="popup-content">
                            <span>@Model.NotificationThreeLabel</span>
                            <select class="selectpicker" id="NotificationThree" name="NotificationThree" aria-label="@Model.NotificationThreeLabel">
                                @foreach (var _type in Model.Types)
                                {
                                    var selected = (int)Model.Notification.NotificationThree == _type.Key ? "selected" : "";
                                    <option value="@_type.Key" @selected> @_type.Value</option>
                                }
                            </select>
                        </div>
                        <div class="popup-content">
                            <span>@Model.NotificationFourLabel</span>
                            <select class="selectpicker" id="NotificationFour" name="NotificationFour" aria-label="@Model.NotificationFourLabel">
                                @foreach (var _type in Model.Types)
                                {
                                    var selected = (int)Model.Notification.NotificationFour == _type.Key ? "selected" : "";
                                    <option value="@_type.Key" @selected> @_type.Value</option>
                                }
                            </select>
                        </div>
                        <div class="popup-content">
                            <span>@Model.NotificationFiveLabel</span>
                            <select class="selectpicker" id="NotificationFive" name="NotificationFive" aria-label="@Model.NotificationFiveLabel">
                                @foreach (var _type in Model.Types)
                                {
                                    var selected = (int)Model.Notification.NotificationFive == _type.Key ? "selected" : "";
                                    <option value="@_type.Key" @selected> @_type.Value</option>
                                }
                            </select>
                        </div>
                        <div class="form-group text-center btn-save">
                            <input type="submit" class="btn btn-primary" value="@Model.SaveButtonText" aria-label="@Model.SaveButtonText">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
