﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="302.aspx.cs" Inherits="Sitecore.XA.Feature.Redirects.layouts.XA._302" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
</body>
</html>
