﻿@using Sitecore.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields

@model Sitecore.XA.Foundation.RenderingVariants.Models.VariantsRenderingModel

<div @Html.Sxa().Component("title", Model.Attributes)>
    <div class="component-content">
        @foreach (VariantFieldBase variantField in Model.VariantFields)
        {
            @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams)
        }
    </div>
</div>