﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions;

@model Sitecore.XA.Feature.Engagement.Models.LiveFyreRenderingModel

<div @Html.Sxa().Component("livefyre-comments", Model.Attributes) data-properties='@Model.JsonDataProperties'>
    <div class="component-content">
        @Model.MessageEditHere
        <!-- START: Livefyre Embed -->
        <div id="livefyre-comments"></div>
        <!-- END: Livefyre Embed -->
    </div>
</div>
