<div class="container">
<div class="row">
<!-- Start Latest Post content !-->
<div class="col-lg-4 col-md-4" >
<div class="SAPost">
	<div class="LatestPost">
		<h1 class="title pull-left">LATEST POST</h1>
		<p class="viewall pull-right"><a  href="#">View All</a><p>
	</div>
	<div class="clearfix"></div>

	<ul class="list-inline">
		<li><div class="postImg">
				<div class="pull-left">
				<a href="#"><img class="img-responsive PImg" src="{{ ./imgDir }}/assets/postimg0.png" alt="Skin Alliance" /></a>
				</div>

				<div class="post-comment pull-right">
				
				<p class="pDate">01/June/2017</p>
				<p class="pwrite txtwodot"><a href="#">Dr Enzo Berardesca on skin and pollution reporting from EADV meeting</a></p>
				 
				 <div class="plike">
					<p class="pStar"><i class="fa fa-star">  </i> 2 </p>
					<p class="pComment"><i class="fa fa-comment"> </i> 2 </p>
				 </div></div></div></li>
		<li><div class="postImg">
			<div class="pull-left">
			<a href="#"><img class="img-responsive PImg" src="{{ ./imgDir }}/assets/postimg1.png" alt="Skin Alliance" /></a>
			</div>

			<div class="post-comment pull-right">
			
			<p class="pDate">01/June/2017</p>
			<p class="pwrite txtwodot"><a href="#">Dr Enzo Berardesca on skin and pollution reporting from EADV meeting</a></p>
			 
			 <div class="plike">
				<p class="pStar"><i class="fa fa-star">  </i> 2 </p>
				<p class="pComment"><i class="fa fa-comment"> </i> 2 </p>
			 </div></div></div></li>
	</ul>
	

	</div>
</div>
<!-- End  Latest Post  content !-->

<!-- Start  Favourite Post  content !-->
<div class="col-lg-4 col-md-4">
	<div class="SAPost">
	<div class="LatestPost">
		<h1 class="title pull-left">FAVOURITE POST</h1>
		<p class="viewall pull-right"><a  href="#">View All</a><p>
	</div>
	<div class="clearfix"></div>
	<ul class="list-inline">
		<li><div class="postImg">
				<div class="pull-left">
				<a href="#"><img class="img-responsive PImg" src="{{ ./imgDir }}/assets/postimg2.png" alt="Skin Alliance" /></a>
				</div>

				<div class="post-comment pull-right">
				
				<p class="pDate">01/June/2017</p>
				<p class="pwrite txtwodot"><a href="#">Dr Enzo Berardesca on skin and pollution reporting from EADV meeting</a></p>
				 
				 <div class="plike">
					<p class="pStar"><i class="fa fa-star">  </i> 2 </p>
					<p class="pComment"><i class="fa fa-comment"> </i> 2 </p>
				 </div></div></div></li>
		<li><div class="postImg">
			<div class="pull-left">
			<a href="#"><img class="img-responsive PImg" src="{{ ./imgDir }}/assets/postimg3.png" alt="Skin Alliance" /></a>
			</div>

			<div class="post-comment pull-right">
			
			<p class="pDate">01/June/2017</p>
			<p class="pwrite txtwodot"><a href="#">Dr Enzo Berardesca on skin and pollution reporting from EADV meeting</a></p>
			 
			 <div class="plike">
				<p class="pStar"><i class="fa fa-star">  </i> 2 </p>
				<p class="pComment"><i class="fa fa-comment"> </i> 2 </p>
			 </div></div></div></li>
	</ul>
	</div>
</div>
<!-- End Favourite Post content !-->

<!-- Start News content !-->
<div class="col-lg-4 col-md-4">
	<div class="SAPost">
	<div class="LatestPost">
		<h1 class="title pull-left">NEWS </h1>
		<p class="viewall pull-right"><a  href="#">View All</a><p>
	</div>
	<div class="clearfix"></div>
	<ul class="list-inline">
		<li><div class="postImg">
				<div class="pull-left">
				<a href="#"><img class="img-responsive PImg" src="{{ ./imgDir }}/assets/postimg4.png" alt="Skin Alliance" /></a>
				</div>

				<div class="post-comment pull-right">
				
				<p class="pDate">01/June/2017</p>
				<p class="pwrite txtwodot"><a href="#">Dr Enzo Berardesca on skin and pollution reporting from EADV meeting</a></p>
				 
				 <div class="plike">
					<p class="pStar"><i class="fa fa-star">  </i> 2 </p>
					<p class="pComment"><i class="fa fa-comment"> </i> 2 </p>
				 </div></div></div></li>
		<li><div class="postImg">
			<div class="pull-left">
			<a href="#"><img class="img-responsive PImg" src="{{ ./imgDir }}/assets/postimg5.png" alt="Skin Alliance" /></a>
			</div>

			<div class="post-comment pull-right">
			
			<p class="pDate">01/June/2017</p>
			<p class="pwrite txtwodot"><a href="#">Dr Enzo Berardesca on skin and pollution reporting from EADV meeting</a></p>
			 
			 <div class="plike">
				<p class="pStar"><i class="fa fa-star">  </i> 2 </p>
				<p class="pComment"><i class="fa fa-comment"> </i> 2 </p>
			 </div></div></div></li>
	</ul>

	
	</div>
	</div>
</div>
</div>
<!-- End News content !-->


<div class="clearfix"></div>
<!-- Start when home page loading Modal Popup !-->

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Goto Home
</button>

<!-- Modal -->
<div class="HomeModal">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to Skin Alliance, Rebecca!</h4>
      </div>
      <div class="modal-body">
        
        	<label>Let’s begin with a quick tour of the platform...</label>

			<ul class="list-inline"> 
			<li>1. Sed mara transverbero accumsan nutus. Nonummy dolus minim uxor quae in haero camur. Bene hendrerit consequat. Ratis multo venio nisl. Dolore abbas eligo eum. Eligo cui delenit in hendrerit iaceo ullamcorper iriure.</li>

			<li>2.Abico abico iriure appellatio nonummy. Quae si quod facilisi in neque sed.</li>

			<li>3. Defui iusto brevitas eros abluo.</li>

			<li>4. Luctus mara aliquip tation si blandit vicis lobortis vel. Nisl nulla sagaciter huic et saepius importunus neque conventio qui illum saluto. Patria esse dolore loquor nibh gemino. Olim consequat meus neo qui ex ibidem in delenit decet torqueo.</li>

			<li>5. Venio letatio autem ad duis quia wisi in illum. Vero natu decet nutus iaceo jumentum. Aliquip secundum probo duis natu olim ingenium acsi. Oppeto eum ea ne. Valde natu sudo aptent antehabeo conventio venio metuo pecus consectetuer in olim. Suscipit abico feugait macto mos transverbero turpis.</li>

			<li>6. Indoles scisco luptatum consequat. Feugiat vel ea aliquip qui natu acsi gravis fatua.</li>
			
			</ul>

			
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" data-toggle="buttons">
					<label class="btn btn-info btn-sm">
					<input type="checkbox" autocomplete="off">
					<span class="fa fa-check"> </span>
					</label> Don’t display this popup again		
				</div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Start when home page loading Modal Popup !-->
<div class="clearfix"></div>
