﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Security.Models.LogoutRenderingModel

@if (Model.Visible)
{
    <div @Html.Sxa().Component("logout", Model.Attributes)>
        <div class="component-content">
            @Model.MessageIsEmpty
            @Html.Sitecore().Field("Introduction")
            @if (Model.DisplayUserName)
            {
                <span>@Model.UserName</span>
            }


            @if (!String.IsNullOrEmpty(@Model.LogoutLinkText))
            {
                @Html.ActionLink(@Model.LogoutLinkText, "Logout", "Logout", new { url = @Model.DestinationUrl }, null)
            }
        </div>
    </div>
}