<div class="container">
<!-- start Directory Details content !-->

<div class="directory">

	<div class="col-lg-8 col-md-8">
		<div class="dir-user-pic">
			<img class="dir-usr-pic" src="{{ ./imgDir }}/assets/{{userInfo.src}}" alt="Rebecca Smith" />
		</div>

		<div class='dir-userinfo'>
			<ul class="list-inline">
				<h1>{{userInfo.name}} </h1>
				<a href="#" class="btn btn-primary pull-right">Follow</a>
				<div class="clearfix"></div>				
				<li><p>{{userInfo.position}}</p> <hr></li>
				
				<li><img class="dir-usr-region" src="{{ ./imgDir }}/assets/{{userInfo.flag-src}}" alt="{{userInfo.alt}}" /> {{userInfo.country}} </li>
				<li><span class="user-phone"><i class="fa fa-phone"></i> {{userInfo.phone}}</span> <span> <i class="fa fa-envelope"></i> {{userInfo.mail}} </span></li>
				
				<li><i class="fa fa-map-marker"></i> {{userInfo.street}}	</br> &nbsp;&nbsp;&nbsp;&nbsp; {{userInfo.city}} </br> &nbsp;&nbsp;&nbsp;&nbsp; {{userInfo.postal}}</li>
			</ul>
		</div>
		<div class="clearfix"></div>

		<div class="summary">
			<h1 class="title-underlined">{{userInfo.header}}</h1>
			{{userInfo.summary}}
		</div>


		<div class="clearfix"></div>

		<div class="user-attachment">
			<h3 class="title-underlined">Attachment</h3>
			<ul class="list-unstyled">
				<li><a href="#">Dr.Rebecca smith resume</a></li>
			</ul>
		</div>




<div clas="row">
    <div class="col-lg-6 col-md-6 p-left-0">
	  <div class="category-followed">
		<h1 class="title-underlined">Categories Followed:</h1>
		  <div class="catefollow-list">
			<div id="CategoryFollowed">
				<ul class="list-inline">
				{{#each categories}}
					<li>
						<i class="fa fa-close" data-catName="{{this.catName}}"></i>
						<a href="#">{{this.catName}}</a>

					</li>
				{{/each}}
				</ul>
				</div>
			</div> </div>
		</div>

		<div class="col-lg-6 col-md-6 "><div class="row">
		<div class="category-followed">
					<h1 class="title-underlined">Sub Categories Followed:</h1>
			<div class="catefollow-list">
					<div id="SubcateFollowed">
						<ul class="list-inline">
						{{#each categories}}
							<li>
								<i class="fa fa-close" data-catName="{{this.catName}}"></i>
								<a href="#">{{this.catName}}</a>

							</li>
						{{/each}}
						</ul>
						</div>
					  </div>
					</div>
		    	</div>
		  </div>
	 </div>

	</div>
	


	<div class="col-lg-4 col-md-4">

	<div class="follwed-by">
			<h1 class="title-underlined">Followed by:</h1>
				<div id="FollowBy">
				<ul class="list-inline">
				{{#each followedBy}}
					<li>
						<div class="follwedby-pic">
							<img src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" class="img-responsive follwedby-image">
						</div>
						<span class="txtdot">{{this.name}}</span>
					</li>
				{{/each}}
				</ul>
				</div>

		</div>

		<div class="Following">
			<h1 class="title-underlined">Following:</h1>
			<div id="Following">
			<ul class="list-inline">
				{{#each following}}
					<li>
						<div class="Following-pic">
							<img src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" class="img-responsive Following-image">
								<div class="Following-overlay">
									<div class="Following-text "><i class='fa fa-close' data-name='{{this.name}}'></i></div>
									<div class="Following-text datahide"><i class='fa fa-plus'></i></div>
								</div>
						</div>
						<span class="txtdot">{{this.name}}</span>
					</li>
				{{/each}}
			</ul>
			</div>
		</div>

		
		


	</div>

</div></div>

<!-- start my profile content !-->