<div class="inpage-wrap inpage-wrap-with-date">
  <div class="container"><div class="row">


<div class="col-sm-8 col-sm-push-4 inpage-banner-content">
        <h5>CATEGORY NAME:</h5>
        <h1>CONGRESS TITLE</h1>
      </div>
      
    <div class="col-sm-4 col-sm-pull-8 banner-title-image">
        <img class="" src="{{ ./imgDir }}/assets/img.png" alt="SKINALLIANCE" />
        <div class="congress-schedule">
          <p class="congress-month">MAY</p>
          <p class="congress-date">10</p>
        </div>
      </div>

      
      
      </div>
  </div>
</div>
