<!DOCTYPE html>
<html dir="ltr" lang="ar" xml:lang="ar">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="{{ path '/themes/skinalliance/styles/bundle.css' }}">
    <title>Preview</title>
    <style>
        /* Fractal only */
        body {
            //background-image: url({{ path '{{ imgDir }}/assets/main-background.jpg' }});
            background: #FFF;
            background-size: cover;
            padding-top: 0;
        }
    </style>
</head>
<body>
    <div id="wrapper" class="">
    {{{ yield }}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>    
    <!-- <script src="{{ path '/themes/skinalliance/scripts/player.js' }}"></script> -->
	<script src="{{ path '/themes/skinalliance/scripts/bundle.js' }}"></script>
    <!-- Google Tag Manager -->
    <script>dataLayer=[];</script>
    <!-- End Google Tag Manager -->
</body>
</html>