﻿@using System.Web.Mvc.Html
@using Sitecore.Globalization
@using Loreal.Feature.ContactUs
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc

@model Loreal.Feature.ContactUs.Models.ContactUsViewModel

<div class="container contact-us">
    <div class="row">
        <div class="col-sm-8 contact-us-left">
            <p>@Model.Title</p>
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "contactusform" }))
            {
                if (Request["success"] == "false")
                {
                    <div class="error-message">
                        @Model.FailureText
                    </div>
                }
                if (Request["success"] == "true")
                {
                    <div class="success-message">
                        @Model.SuccessText
                    </div>
                }
                <div class="form-group">
                    @Html.TextBoxFor(x => x.FirstName, new
               {
                   @class = "form-control",
                   required = "required",
                   id = "contact_firstname",
                   @placeholder = @Model.FirstNameLabel,
                   data_firstname = @Model.FirstNameRequired,
                   @aria_label = @Model.FirstNameLabel
               })
                    @Html.ValidationMessageFor(m => m.FirstName, Model.FirstNameRequired, new { @class = "error-message" })


                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.LastName, new
               {
                   @class = "form-control",
                   required = "required",
                   id = "contact_lastname",
                   @placeholder = @Model.LastNameLabel,
                   data_lastname = @Model.LastNameRequired,
                   @aria_label = @Model.LastNameLabel
               })
                    @Html.ValidationMessageFor(m => m.LastName, Model.LastNameRequired, new { @class = "error-message" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new
               {
                   @class = "form-control",
                   required = "required",
                   id = "contact_email",
                   @placeholder = @Model.EmailLabel,
                   data_email = @Model.EmailRequired,
                   data_invalidemail = @Model.InvalidEmail,
                   @aria_label = @Model.EmailLabel
               })
                    @Html.ValidationMessageFor(m => m.Email, Model.EmailRequired, new { @class = "error-message" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.PhoneNumber, new
               {
                   @class = "form-control",
                   id = "contact_phonenumber",
                   @placeholder = @Model.PhoneNumberLabel,
                   data_phonenumber = @Model.PhoneNumberRequired,
                   data_invalidPhoneNumber = @Model.InvalidPhoneNumber,
                   @aria_label = @Model.PhoneNumberLabel
               })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, Model.PhoneNumberRequired, new { @class = "error-message" })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(x => x.Message, new
               {
                   @class = "form-control",
                   required = "required",
                   id = "contact_message",
                   @placeholder = @Model.MessageLabel,
                   data_message = @Model.MessageRequired,
                   @aria_label = @Model.MessageLabel
               })
                    @Html.ValidationMessageFor(m => m.Message, Model.MessageRequired, new { @class = "error-message" })
                </div>
                <input type="submit" value="@Model.ButtonLabel" aria-label="@Model.ButtonLabel" class="btn btn-primary" id="contactus_submit" />
            }
        </div>
        <div class="col-sm-4 contact-us-right">
            <h3 class="title-underlined">@Model.SiteInfoTitle</h3>
            <address>
                <p class="address">
                    @Html.Raw(Model.Address)
                </p>
            </address>
            <a class="phone" href="tel:+123456789">@Model.Phone</a>
            <a class="mail" href="mailto:@Model.SiteEmail">@Model.SiteEmail</a>
            <a class="web" href="@Model.Url">@Model.Url</a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
