/* alliance-member */
.AllianceMember {
	padding: 40px 0;
	margin: 0 0 20px;
	height: 100%;
	width: 100%;
	background: rgba(90,179,212,1);
	background: -moz-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(90,179,212,1)), color-stop(100%, rgba(143,205,206,1)));
	background: -webkit-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: -o-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: -ms-linear-gradient(top, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	background: linear-gradient(to bottom, rgba(90,179,212,1) 0%, rgba(143,205,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#5ab3d4', endColorstr='#8fcdce', GradientType=0 );

	.board-member-profile-pic {
		border: 6px solid #fff;
		width: 492px;
		height: 180px;
		margin: 0 auto;

		@include media ('>lg') {
			width: 492px;
			height: 180px;
		}
		@include media ('<md') {
			width: 339px;
			height: 236px;
		}
		@include media('>sm-min','<md'){
			width: 448px;
			height: 162px;
		}
		@include media ('<sm') {
			width: 252px;
			height: 348px;
			text-align: center;
		}

		.board-mem {
			float: left;
			width: 120px;
			height: 84px;
			margin: 0 auto;

			@include media ('>lg') {
				width: 120px;
				height: 84px;
			}

			@include media ('<md') {
				width: 109px;
				height: 75px;
			}

			@include media ('<sm') {
				width: 120px;
				height: 84px;
			}
		}
		&.board-member-profile-pic-small{
			width:372px;
			@include media ('<sm') {
				width: 252px;
				height: 264px;
			}
			@include media('>sm-min','<md'){
				width:339px;
			}
		}
	}

	.memtext {
		width: 80%;
		text-align: left;
		margin: 0 auto;

		@include media ('>lg') {
			width: 100%;
			text-align: left;
		}
		@include media ('<md') {
			margin: 0 auto;
		}
		@include media('>sm-min','<md'){
			margin:20px auto 0 auto;
			width:100%;
			text-align: center;
		}
		@include media ('<sm') {
			text-align: center;
			width: 100%;
		}



		h1 {
			font-size: 32px;
			font-family: $locatorultralight;
			color: #fff;

			@include media ('<sm') {
				text-align: center;
				width: 100%;
			}
		}

		p {
			color: #fff;
			font-size: 14px;
			font-family: $locator_regular;

			@include media ('<sm') {
				text-align: center;
				width: 100%;
			}
		}

		.readmore {
			background: #fff !important;
			color: #00ACC2;
			font-style: normal;
			font-weight: 100 !important;
			font-family: $locatorlight;
			font-size: 14px;
			@include media('>md','<xmd-max'){
				margin-top:10px;
			}
			@include media ('<sm') {
				text-align: center;
			}
		}
	}
}
