/* Article Details */
.Adetails-page {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px 0px;

	.article-details {
		float: left;
		width: 100%;
		margin-top: 0;
		margin-bottom: 30px;
		padding: 0 10px;
		@include media('<xmd-max'){
			margin-top:20px;
		}
		h1 {
			float: left;
			width: 100%;
			margin: 0 3px;
			padding: 2px 0;
			border-bottom: 1px solid #ececec;
			font-size: 18px;
		}

		img {
			width: auto;
			height: auto;
			display: inline-block;
			margin: 0 5px 5px 0;

			@include media ('<sm') {
				margin: 10px auto;
			}
		}

		img,
		p {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.panel-group{
			margin-top:30px;
		}
		img{
			float:left;
			margin-right:20px;
			margin-bottom:20px;
		}
		video{
			width:200px;
			margin-right:20px;
		}
		img.file-thumbnail{
			float:left;
			margin-right:5px;
		}
		.file-upload{
			width: 100%;
			display: inline-block;
			span{
				margin-top: 22px;
				display: inline-block;
			}
		}
		/*** WEBCAST ****/
		.webcast-wrap{
			float: left;
	    width: 100%;
	    height: 100%;
	    padding: 10px 0px;
	    margin: 5px 0px;
			img{
				width:100%;
			}
		}
		.panel-group{
			clear:both;
			margin-top:10px;
			margin-bottom:0;
			&:first-child{
				margin-top:20px;
			}
		}
	}

	.pdetail-title {
		float: left;
		width: 100%;
		margin-bottom: 30px;
		padding: 0;

		h1 {
			float: left;
			width: 100%;
			margin-bottom: 10px;
			padding: 0 0 5px;
			border-bottom: 1px solid #ececec;
			font-size: 18px;
		}

		.postby,
		.postcategory,
		.postdate {
			width: 100%;
			margin: 8px 0;
			float: left;
			padding-left: 30px;
			position: relative;

			i {
				color: #00ACC2;
				margin: 2px 0;
				padding: 2px 4px;
				font-size: 16px;
			}

			label {
				color: $black;
				font-size: 14px;
				font-weight: normal;
				font-variant: normal;
				font-style: normal;
				width: 100%;
				margin-bottom: 2px;

				span {
					color: #00ACC2;
					font-size: 14px;
					font-weight: normal;
					font-variant: normal;
					font-style: normal;
					font-family: $locator_regular;
				}
			}

			.follow {
				height: 20px;
				font-size: 10px;
				padding: 2px 4px;
				margin: 0 23px 0 0;
				text-transform: uppercase !important;
			}

			&:before {
				color: $header-blue;
				font-family: 'FontAwesome';
				font-size: 20px;
				position: absolute;
				left: 0;
				top: 10px;
			}
		}

		.postdate {
			&:before {
				content: '\f073';
				top: -4px;
			}
		}

		.postby {
			&:before {
				content: '\f007';
			}
		}

		.postcategory {
			&:before {
				content: '\f02b';
			}
		}
	}

	/** social share **/
	.social-share{
		display: inline-block;
		float:right;
		margin:0 10px 0 0;
		position: relative;
		top:14px;
		@include media('<sm'){
			float:left;
			padding:0;
			display:block;
			width:100%;
		}
		li{
			display: inline-block;
			+li{
				margin-left:3px;
			}
		}
	}
}

.Related-Posts {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
	@include media('<sm'){
	padding: 0 8px;
	}
	a{
		color:$black;
	}
	h1 {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		padding: 0 0 5px;
		border-bottom: 1px solid #ececec;
		font-size: 18px;
	}

	.relate-post-cont {
		float: left;
		width: 100%;
		border-bottom: 1px solid #ececec;
		padding: 12px 0;

		.related-post-thumb {
			width: 120px;
			height: 86px;
			display: inline-block;
			float: left;
			padding-right: 8px;
			margin-right:5px;
			a {
				img {
					height: 100%;
					margin: 0 auto;
					padding: 5px 0;
					width:auto;
				}
			}
		}

		.list-inline {
			margin: 0;
			padding: 0;

			li {
				font-family: $locator_regular;
				float: left;
				margin: 3px 0;
				padding: 0;
				width: calc(100% - 125px);
				float: left;

				p {
					font-size: 14px;
					font-family: $locator_regular;
					margin: 0;
					padding: 0;

					a {
						font-family: $locator_regular;
						color: #535353;
					}
				}

				span {
					color: $header-blue !important;
					display: inline-block;
					font-size: 14px;
					font-family: $locator_regular;
					width: 35px;

					> i {
						color: $header-blue;
						font-size: 14px;
						margin-right: 3px;
					}
				}
			}
		}

		.related-post-like-comment {
			padding-top: 5px;
		}
	}

	a {
		font-family: $locator_regular;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		font-variant: normal;

		&:focus,
		&:hover,
		&:link {
			font-family: $locator_regular;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			font-variant: normal;
		}
	}
}

.full-width {
	float: left;
	width: 100%;
	margin: 10px 0;
	padding: 0;
	@include media('<sm'){padding:0px 8px}
}

.Article-Comments {
	border-top:1px solid $light-grey-1;
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 8px;
	@include media('<sm'){
		padding:0px 8px
	}

	h1 {
		float: left;
		width: 100%;
		margin: 23px 3px 0 3px;
		padding: 2px 0;
		font-size: 18px;
	}

	.arti-post-cmnt {
		float: left;
		width: 100%;
		padding: 3px 0;
		margin: 5px 0;

		img {
			float: left;
			height: 42px;
			width: 42px;
			border-radius: 100%;
			margin: 0;
			padding: 3px;
		}

		.list-inline {
			float: left;
			margin: 0;
			padding: 0 3px;
			width: 90%;

			@include media ('<sm') {
				width: 84% !important;
			}

			li {
				float: left;
				font-family: $locator_regular;
				width: 100%;
				font-size: 14px;
				margin: 3px 0;
				padding: 0;
				color: #00ACC2;

				p {
					color: #515151;
					font-size: 14px;
					font-family: $locator_regular;
					margin: 0;
					padding: 0;
				}

				span {
					color: #515151 !important;
					font-size: 14px;
					font-family: $locator_regular;
				}
				.reply-comment,.edit-comment{
					padding-left: 10px;
			    margin-left: 10px;
			    border-left: 1px solid $grey;
				}
			}
		}
	}
}
.article-actions{
	width:100%;
	float: left;
	a{
		clear:both;
		float:left;
		padding-bottom:15px;
		text-transform: none !important;
		i{
			font-style: normal;
			margin-left:3px;
		}
	}
}
.btn-access{width:180px !important;}
.btn-like{width:130px  !important;}
.btn-follow{width:60px  !important;}

@media (max-width:320px){
	.btn-primary{padding: 10px 7px;}
	.btn-access{width:auto !important;}
}
