/* Articles Listing */
.article-listing {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;

	@include media ('<sm'){
			margin-top:0;
	}
	.m-tb{
		.container{
			padding-left: 0;
		}
	}
	.breadcrumb > li {
		display: inline-flex;
	}

	.breadcrumb > li + li:before {
		content: "> ";
	}

	.breadcrumb > li > a {
		color: #00ACC2 !important;
	}

	.artlistwid {
		float: left;
		width: 100%;
	}

	.artboxbt {
		margin-bottom: 20px;
	}

	.btn-primary {
		padding: 14px 30px;
	}

	img {
		width: 252px;
		height: 194px;
		@include media('>md'){
			width:100%;
		}
	}

	img,
	p {
		margin-bottom: 5px;
	}

	.date-author {
		color: #636363;
		font-weight: normal;
		font-style: normal;
		font-size:13px;
		padding-top:8px;
	}

	.btn-social,
	.date-author {
		margin-bottom: 5px;
	}
	.btn-social{
		.fa{
			margin-right:3px;
		}
	}
	.artbtn-align {
		margin: 10px 0 20px 0;
		float: right;
		width: 100%;
		text-align: right;
	}

	a {
		color: #000;
		text-transform: none;
	}

	@include media ('<md') {
		.artbtn-align {
			width: 100%;
		}

		.follow {
			margin: 5px 0;
			@include media('<xxs'){
				margin-top:10px;
			}
		}
	}
	@include media ('<sm') {
		.artbtn-align {
			margin: 20px auto;
			width: 100%;
			text-align: center;
		}

		img{
			margin: 0 auto;
		}
	}
	.article-list-content{
		.date-author{
			float:left;
			clear:right;
			width:100%;
			li{
				float:left;
				position:relative;
				&:first-child{
					margin-right:10px;
					&:before{
						content:"|";
						position:absolute;
						right:-7px;
					}
				}
				&:last-child{
					width:calc(100% - 105px);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
		p{
			float:left;
			width:100%;
		}
		@include media('<sm'){
			width:250px;
			margin:15px auto 0 auto;
		}
	}
}
