.breadcrumb {
  float: left;
  width: 66%;
  background: none;
  color: #000;
  margin: 20px 0;
  padding: 0;
  @include media (' > lg') {
    width: 66%;
  }
  @include media ('<sm') {
    padding: 0 20px;
  }
  > li {
    display: inline-flex;
    .breadcrumb-icon-home{
      height:auto;
      position:relative;
      top:2px;
      width:auto;
    }
    a{
      color:$header-blue;
      text-transform: none !important;
      &:hover,&:active{
        color: $blue;
      }
    }
    + li:before {
      content: "> ";
      color:$black;
    }
  }
}
