.category-slider{
	.categoryBox{
    margin:0px auto;padding:60px 0px;
  }

#mixedSlider {
  position: relative;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  width:calc(17% - 14px);
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 110px;
  white-space: normal;
  padding: 0px;
  border:1px solid #ECECEC;margin:5px;
	@include media('<sm'){
		width:calc(50% - 10px);
	}
	@include media('>sm-min','<md'){
		width:calc(25% - 10px);
	}
}

#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: center;
  color: #1B1B1B;
  font-size:12px;
  font-style: normal;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: normal;
  padding: 0;
}
#mixedSlider .MS-content .item .imgTitle img {

  height:60px;
  width: 60px;
  text-align: center;
  margin:10px auto;
}
#mixedSlider .MS-content .item p {
  font-size: 12px;
  margin: 2px 10px 0 5px;
  top:60px;
  }
#mixedSlider .MS-content .item a {

  font-size: 14px;
  font-style: normal;
  color: $black;
  font-weight: normal;
  transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {

}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
#mixedSlider .MS-controls .MS-left,#mixedSlider .MS-controls .MS-right{
	height:110px;
	margin-top:5px;
	top:0;
	@include media('<sm'){
		padding:0;
	}
}
#mixedSlider .MS-controls .MS-left {
  left: -20px;
	@include media('<sm'){
		left:-10px;
	}
}
#mixedSlider .MS-controls .MS-right {
  right: -20px;
	@include media('<sm'){
		right:-10px;
	}
}

#basicSlider { position: relative; }

#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}

#basicSlider .MS-content .item {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-content .item a {
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}


}



@media (min-width:1025px){
  .category-slider{
  .categoryBox{ padding-top:25px;padding-bottom:65px;  }
}
}

.category-slider{
	.categoryBox{
		@include media('<xmd-max'){
			padding-top:5px;
			padding-bottom:35px;
		}
	}
}
