.congress-listing{
  padding-top:18px;
  .congress-list-item{
    margin-bottom:20px;
    .congress-list-image{
      position:relative;
      width:252px;
      height:178px;
      @include media('<xmd'){
        margin:0 auto;
      }
      img{
        width:100%;
        max-height:100%;
      }
      .congress-schedule{
        position:absolute;
        bottom:0;
        right:0;
      }
    }
    .congress-list-info{
      text-align: left;
      color:$black;
      padding:18px 0;
      text-transform: none;
      a{color:#535353;}
      @include media('<sm'){
        width:252px;
        margin:0 auto;
        /*max-width: 260px;*/
        
      }
    }
  }
}
@media (max-width: 1023px){
.congress-list-info{  
    margin: 0 auto;
    text-align: left;
   }
}
@media (max-width: 1024px){
.congress-list-info{  
    width:252px;
   
    text-align: left;
   }
}
@media (max-width: 768px){
.congress-list-info{  
    width:252px;
    
     text-align: left;
   }
}
@media (min-width: 767px){
.congress-list-info{  
    width:252px;
    
     text-align: left;
   }
}
@media (max-width: 767px){
.congress-listing .congress-list-item .congress-list-info {
    /* width: 87%; */
    /* margin: 0 auto; */
    /* max-width: 260px; */
    }
  }

