.congress-detail{
  padding-bottom:30px;
  @include media('<xmd-max'){
    padding-top:20px;
  }
  .congress-detail-left{
    .congress-register{
      padding-top:20px;
    }
  }
  .congress-detail-right{
    .other-congresses{
      .other-congress-list{
        list-style:none;
        padding:18px 0 0;
        .other-congress-list-item{
          margin-bottom: 20px;
          padding-bottom:20px;
          border-bottom:1px solid $light-grey-1;
          .congress-info{
            display: inline-block;
            height:70px;
            width: calc(100% - 72px);
            padding: 10px;
            color:#535353;
            a{
              color:#535353;
            }
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
      .title-underlined{
        text-transform:capitalize;
      }
    }
    @include media('<md'){
      margin-top:30px;
    }
  }
}
