.contact-us{
  padding-bottom:60px;
  @include media('<xmd-max'){
    padding-top:30px;
  }
  .contact-us-left{
    p{
      margin-bottom:32px;
      line-height: 1.57;
      @include media('<sm'){
        margin-bottom:20px;
      }
    }
    .form-group{
      margin-bottom:10px;
	  .form-control{border-radius:0px;}
      textarea{
        height:135px;
      }
    }
    .btn-primary{
      margin-top:10px;
    }
  }
  .contact-us-right{
    @include media('>sm'){
      padding-left:40px;
    }
    @include media('<sm'){
      padding-top:30px;
    }
    address{
      margin-bottom: 0;
    }
    .fa{
      color:$title-blue;
      font-size:22px;
      margin-right:15px;
    }
    .address{
      margin-top:15px;
      span{
        display: block;
        line-height: 2;
        padding-left:35px;
      }
    }
    a{
      color:$black;
      display: block;
      margin-bottom:15px;
      text-transform: none;
    }
    .address,.phone,.mail,.web{
      position:relative;
      padding-left:35px;
      &:before{
        color:$title-blue;
        font-family: FontAwesome;
        font-size:20px;
        left:0;
        top:-4px;
        position:absolute;
        -webkit-font-smoothing: antialiased;
      }
    }
    .address{
      padding-left:0;
      &:before{
        content:'\f041';
        font-size:22px;
        top:28%;
      }
    }
    .phone{
      &:before{
        content:'\f095';
      }
    }
    .mail{
      &:before{
        content:'\f0e0';
      }
    }
    .web{
      &:before{
        content:'\f0ac';
      }
    }
  }
}
