/* congress landing */


.congress-landing{float:left;width:100%;padding:0px;margin:0px;
	.pbot{margin-bottom:25px;}
	.cong-header{float:left;width:100%;margin: 5px 4px 5px 0px;padding: 8px 11px 3px 17px;font-size:18px;color:#1B1B1B;border-bottom:1px solid #ECECEC;
		h1{float:left;margin:0px;padding:0px;font-size:18px;color:#1B1B1B;text-transform: uppercase;}
			a{font-size:14px;}
			}
	
	.cong-wrap{float:left;min-width:320px;max-width:100%;margin:14px 0px;padding:0;
		.cong-ddmm{background:#5AB4D4;width:70px;height:80px;float:left;padding:8px 0px;margin:0 auto;text-align: center;
			.cong-date{margin:0;padding:0;font-size:14px;font-family: 'locatorlight', Arial, sans-serif;color:#fff;font-style: normal;font-weight:normal;}
			.cong-month{margin:0;padding:0;font-size:38px;font-family:'locatorultralight', Arial, sans-serif;color:#fff;font-style: normal;font-weight:normal}
		         }
			.cong-comment{margin:7px 0px;padding:4px 0px;
				.cong-post {
					margin: 0; padding-left: 4px; color:#535353 !important; width: 70%;
					.txtdot {color:#535353 !important;
						p{ color:#535353 !important;
							a{color:#535353 !important;}
						}
					}
					    
					}
					
					
					
					
			}
		}
		
	}


@media (max-width:319){
	.cong-wrap{min-width: 290px;}
	.cong-post{
	width: 74%;
    float: left;
    }
	
}