/* create-post */
.create-post {
	float: left;
	width: 100%;
	margin: 0;
	padding-bottom:20px;
	@include media('>sm-min','<xmd-max'){
		padding-top:20px;
	}
	.file-icon{content:"\f067";}
	.plus-icon{content:"\f067";}
	.post-thumbnail{
		width:150px;
		float:left;
		@include media('<sm'){
			float:none !important;
			margin:0 auto;
		}
		.inputfile {
		    width: 0.1px;
		    height: 0.1px;
		    opacity: 0;
		    overflow: hidden;
		    position: absolute;
		    z-index: -1;
		}
		.inputfile + label {
		    font-size: 13px;
		    font-weight: 700;
		    cursor: pointer;
		    display: inline-block;
		    overflow: hidden;
				padding: 25px 20px;
				text-align: center;
				.fa{
					color:$background;
					font-size:20px;
					display: block;
					margin-bottom:6px;
				}
		}
		.no-js .inputfile + label {
		    display: none;
		}
		.inputfile:focus + label,
		.inputfile.has-focus + label {
		    outline: 1px dotted #000;
		    outline: -webkit-focus-ring-color auto 5px;
		}
		.inputfile + label * {
		    /* pointer-events: none; */
		    /* in case of FastClick lib use */
		}
		.inputfile-1 + label {
		    color: $black;
		    background-color: $light-grey-2;
		}
		.inputfile-1:focus + label,
		.inputfile-1.has-focus + label,
		.inputfile-1 + label:hover {
		    background-color: $background;
				color:$white;
				.fa{
					color:$white;
				}
		}
		.dropify-wrapper{
			background:$light-grey-2;
			border:0;
			color:$white;
			width: 150px;
			height:100px;
			.dropify-message{
				p{
					color:$black;
					margin:0;
				}
				.fa{
					color:$background;
					font-size:20px;
				}
			}
			.dropify-render{
				img{
					width:auto;
					height:100%;
					margin:0 auto;
				}
			}
			// touch devices fallback
			&.touch-fallback.has-preview{
				min-height:100px;
				.dropify-message{
					display:block;
					padding:20px 0;
				}
				.dropify-preview{
					position:absolute;
					padding:0;
					.dropify-render{
						display: inline;
						img{
						}
					}
					.dropify-infos{
						display: none;
					}
				}
			}
		}
	}
	.create-post-top{
		border-bottom: 1px solid $light-grey-1;
		float: left;
		width: 100%;
		padding-bottom: 20px;
	}
	.crp-input {
		width: 100%;
		margin: 20px 0;
	}
	.create-post-title{
			width:calc(100% - 150px);
			margin:25px 0;
			padding-left:20px;
			@include media('<sm'){
				width:100%;
				float:left;
				padding-left:0;
			}
	}
	.form-control {
		height: 45px;
	}

	.addmedia {
		float:left;
		width:100%;
		.custom-file-upload-btn{
			display: inline-block;
			position: relative;
			padding: 20px 2px 0 2px;
			width:150px;
			span.fa{
				margin-right:5px;
				opacity: 1;
			}
		}
		.uploaded-files{
			.file-wrapper{
				border: 1px solid #cbcbcb;
			    border-radius: 0px;
			    /* text-align: center; */
			    margin: 10px auto;
			    min-height: 70px;
			    min-width: 200px;
			    width: 100%;
			    float: left;
			    /* display: inline-block; */
			    position: relative;
			    height: 70px !important;
			    text-align: left;
			    vertical-align: middle;
			    /* display: inline-block; */
			    top: 0;
			    left: 2px;
				img, video{
					    margin: 0px;
					    width: 100px;
					    height: 70px;
					    float: left;
					    padding: 5px;
				}
				.file-name{
					    /* width: 100%; */
					    white-space: nowrap;
					    padding: 2px 12px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    float: left;
					    height: 60px;
    					line-height: 60px;
				}
				.file-close{
						cursor: pointer;
				    position: absolute;
				    right: 0;
				    top: 0;
				    background: rgba(0, 0, 0, 0.8);
				    color: #fff;
				    width: 22px;
				    height: 22px;
				    line-height: 22px;
				    padding-left: 5px;
					.fa{
						font-size:14px;
					}
				}
				.file-type-thumb{
					width:auto;
				}
			}
		}
	}
	.form-hint{
		color: $grey;
		margin-left:10px;
	}
	.addquestion {
		color: #5AB4D4;
	}

	.crp-category {
		float: left;
		margin: 0 0 10px 0;
		padding: 0;
		width: 100%;
		background: #00ACC2;

		h1 {
			margin: 0;
			padding: 8px 10px;
			color: #fff;
			font-size: 18px;
			font-family: $locatorultralight;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;
		}

		.crp-cate-box {
			padding: 15px;
			margin: 0;
			background: #F4F2F2;
			width: 100%;
			height: 100%;
			position:relative;
			.post-main-category{
				padding:10px 0;
			}
			.post-main-category,.post-sub-category-title{
				color: $black;
				font-size: 14px;
				font-family: $locatormedium;
			}
			.post-sub-category{
				.post-sub-category-title{
					padding: 0 0 10px 30px;
					position:relative;
					cursor:pointer;
					&:before{
						position:absolute;
						left:10px;
					}
				}
				.post-sub-category-title[aria-expanded="true"]{
						&:before{
							content:'-';
						}
					}
					.post-sub-category-title[aria-expanded="false"]{
							&:before{
								content:'+';
							}
						}
				.post-sub-category-list{
					padding-left:30px;
					li{
						padding:5px 0;
					}
				}
			}
			.list-inline {
				margin-left: 8px;

				> label {
					font-size: 14px;
					padding: 0;
					margin: 0;
				}

				> li {
					margin-left: 8px;
					width: 100%;
					padding: 0;
					margin-top: 3px;
					margin-bottom: 3px;

					> .btn-group {
						margin: 3px 0;
						width: 100%;
					}

					.btn {
						border-radius: 0;
						padding: 0 3px;
					}
				}
			}
		}
	}
	.text-editor{
		.Editor-container{
			.Editor-editor{
				.file-upload{
					width: 100%;
					display: inline-block;
					span{
						margin-top: 22px;
						display: inline-block;
					}
				}
			}
			video{
				width:200px;
				margin-right:20px;
			}
			img{
				margin-right:20px;
				margin-bottom:20px;
			}
			img.file-thumbnail{
				float:left;
				margin-right:5px;
				width:auto;
				height:auto;
			}
		}
	}
}
.preview-publish-mobile{
	float:left;
}

.create-post .crp-category .crp-cate-box .list-inline > li > .btn-group {
	width: 100%;
}
.saved-questions{
/*	border-bottom:1px solid $borderGray; */
	margin-bottom:15px;
	padding-bottom:15px;
	display:none;
	.saved-questions-list{
		margin:0;
		li{
			color:$header-blue;
			cursor: pointer;
			.fa{
				color:$grey;
				cursor: pointer;
				float:right;
				&:hover{
					color:$blue;
				}
			}
			&:not(:first-child){
				margin-top:10px;
			}
		}
	}
}
.is-question-exist{
	border-bottom:1px solid $borderGray;
	display:block;
}
.add-questionnaire-link{
	cursor:pointer;
	.fa{
		margin-right:8px;
	}
}
.add-question{
	padding-top:10px;
	.add-question-input{
		margin-bottom:15px;
	}
	.add-answers-title{
		@include media('<sm'){
			width:80%;
		}
		span{
			color:$grey;
			margin-left:5px;
		}
	}
	.answers-input-list{
		width:100%;
		float:left;
		li{
			padding-bottom:8px;
			float:left;
			clear:both;
			width:100%;
		}
		.add-answer-input,.add-answer-correct{
			float:left;
		}
		.add-answer-input{
			width:90%;
			.answer-option{
				color:$background;
				display: inline-block;
				font-family: $locatorbold;
				font-size:18px;
				float:left;
				line-height: 45px;
				text-transform: uppercase;
				width:25px;
			}
			.form-control{
				width:calc(100% - 25px);
			}
		}
		.add-answer-correct{
			width:10%;
			text-align:center;
			.custom-checkbox{
				padding:10px 30px;
				@include media('<md'){
					padding:10px;
				}
			}
			.btn-group > .btn:first-child{
				margin-right:0;
			}
			.disabled {
				pointer-events:none;
			}
		}
	}
	.user-response{
		textarea{
			height:90px;
		}
	}
	.question-footer{
		padding-top:12px;
		.custom-checkbox{
			width:60%;
			.check-label{
				display: inline-block;
				width:calc(100% - 30px);
			}
		}
	}
}

/** ADD IMAGE MODAL **/

#InsertImage.modal, #InsertLink.modal, #InsertTable.modal {
	.tab-content{
		padding:20px 0;
	}
	.input-group{
		.btn-success{
			padding:13px 10px;
		}
	}
	.btn-success{
		background: $background;
		border:0;
	}
	.modal-footer{
		display: block;
		border:0;
		padding:20px;
	}
}
.custom-file-upload-btn:hover{background:none}
.btn-primary:hover{background:#66D5E3}

@media (min-width: 1200px){
.btn-primary {
    padding: 12px 30px;
    font-size: 14px;
    }
}

@media (max-width: 992px) and (min-width: 768px){
.btn-primary {
    padding: 12px 36px;
    font-size: 12px;
    }
 }

@media (max-width: 1199px) and (min-width: 992px){
.btn-primary {
    padding: 10px 30px;
    font-size: 14px;
   }
}
