/* DermoCosmetic */
.DermoCosmetic {
	float: left;
	margin: 10px 0 30px;
	padding: 0;
	width: 100%;
	height: 100%;
	.category {
		float: left;
		margin: 0;
		padding: 0;
		width:100%;
		@include media('>sm-min','<md'){
			min-height:295px;
		}
		.category-logo {
			float: left;
			padding: 0;
			margin: 0;
			width: 60px;
			height: 40px;
			img {
				width: 44px;
				height: 44px;
				padding: 0;
				margin: auto;
			}
		}
		.category-title {
			float: left;
			padding: 6px 0;
			margin: 4px 0 0;
			width:calc(100% - 60px);
			h2 {
				font-family: $locator_regular;
				font-size: 18px;
				color: #1B1B1B;
				font-style: normal;
				font-weight: normal;
				padding-bottom: 8px;
				border-bottom: 1px solid #ECECEC;
			}

			.subcategory {
				float: left;
				padding: 6px 0;
				margin: 4px 0;
				min-height:220px;
				@include media('<sm'){height:auto;}
				.list-inline {
					margin-left:0;
					> li {
						padding: 6px 0;
						color: #00ACC2;
						width: 100%;

					}
				}
			}
		}
	}
}

 @media (max-width: 767px) {
          .DermoCosmetic .category .category-title .subcategory {
            min-height: 100px;
			.list-inline {
				height: 100px !important;
			}
			
            } 
		  .slimScrollDiv {
			height: auto !important;
		  }	
			
			}


/* DermoCosmetic */
