/* directory */

.DirectoryList{
	float:left;margin:10px 0px;padding:0px;width:100%;
		.no-result-found {
		position:absolute; width:100%; margin:20% auto; text-align:center; display:none;
		@include media('<sm'){
			position:relative;
			float:left;
		}
		 }
		 .directory-expand-collapse{
			 	@include media('<sm'){
					clear: both;
					float: left;
					text-align: center;
					width:100%;
				}
				 .dir-expand, .dir-collapse{
		 				float:left;
						margin:4px 10px;
						padding:4px 20px 4px 0;
						position: relative;
						color:#515151;
						@include media('<sm'){
							float:none;
							display: inline-block;
						}
						a{
							color:#515151;
						}
		 			.expandicon, .collapseicon{
		 					color:#00ACC2;
							font-size:21px;
							position:absolute;
							right:0;
							top:3px;
							cursor:pointer;
		 			}
		 		}
		 }


	.Dir-List{float:left;margin:10px 0px;padding:0px;width:100%;
		.title-header{
			border-bottom:1px solid #ECECEC;margin:4px;padding:6px 4px;position:relative;
		  h1{
		  	padding:0px;color:$black;font-size:18px;
		  	font-family: $locator_regular;font-weight: normal;font-style: normal;font-variant: normal;
		  }

		  .expcollap{
		  	cursor:pointer;color:#00ACC2;font-size:25px;
				position: absolute;
				right: 0;
				top: 0;
		  }

		}

	.list-inline { margin: 0 auto;float:left;width:100%;
					@include media('<xxs'){
						text-align: center;
					}
				  > li
				    {
							width:auto;
							margin: 16px 0px;
							float: left !important;
							font-size: 14px;
							height: 120px;
							margin-bottom: 20px;
							@include media('>=xxs',"<=400"){
								width:33%;
							}
							@include media('<xxs'){
								float:none !important;
							}
				  	 span
				  	 {
							color:$black;
				  	 	display: inline-block;
				  	 	padding: 4px 0px;
				  	 	margin: 0;width: 110px;
				  	 	word-wrap: break-word;
				  	 	word-break: break-word;
				  	 	text-align: center;
				  	 }
				    &:nth-child(0+n) {
				      margin-left: 0px;
				      margin-top:10px;
				      margin-bottom:20px;
				    }
				    &:last-child {
				      margin-right: 0px;
				    }
				  }
				}


	    .Dir-List-pic{
					position: relative;
					width: 86px;
					height:86px;
					margin:0 auto;
					border-radius: 50%;
					border: 1px solid #898989;
					overflow: hidden;
	       	span{
	    	  	word-wrap: break-word;
						word-break: break-all;
	        }
					.Dir-List-image {
						display: block;
						width:auto !important;
						height:100% !important;
						margin: 0 auto;
						transform: scale(1.5);
					}
	    }
	    .Dir-List-overlay {
	    	float: left; position: absolute; top: 0; bottom: 0; left: 0;  right: 0; height: 100%; width: 100%; opacity: 0;
		  transition: .5s ease; background-color: #fff; border-radius:100%;
		}
		.Dir-List-pic:hover .Dir-List-overlay {
			opacity: .6;
		}
		.Dir-List-text {
			color: #008CBA !important; opacity: 1;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);font-size: 20px;
			position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
		}
	}


}


.Filterby-Country{float:left;margin:10px 0 5px 0;padding:0;width:100%;background:#00ACC2;
	 @include media('<sm'){
		 margin-bottom:0;
	 }
		h1{position:relative;margin:0px;padding:14px 16px;color:#fff;font-size:14px;font-family:$locatorlight;
		   font-weight: normal;font-style: normal;font-variant: normal;
			 .fa{
				 transition: all .30s linear;
			 }
			 @include media('>=sm'){
				 pointer-events: none;
			 }
		 }
		.countrybox{padding:15px;margin:0;background:#F4F2F2;width:100%;height:100%;

				.list-inline {
					  margin: 0;
					  > li {
					    width: 100%;
					    padding: 0;
					    margin: 0;
					  }
					}
				.btn-group, .btn-group-vertical{
					padding:3px 0px;
				      }
				.btn{padding: 0px 4px;}
				.btn span.fa {
					opacity: 0;
				}
				.btn.active span.fa {
					opacity: 1;
				}
		}

}
.Filterby-Country[aria-expanded='true']{
	.fa-angle-down{
		transform: rotate(180deg);
	}
}
.Filterby-speciality[aria-expanded='true']{
	.fa-angle-down{
		transform: rotate(180deg);
	}
}


.Filterby-speciality{float:left;margin:10px 0px;padding:0;width:100%;background:#00ACC2;
		h1{position:relative;margin:0px;padding:14px 16px;color:#fff;font-size:14px;font-family:$locatorlight;font-weight: normal;font-style: normal;font-variant: normal;
			.fa{
				transition: all .30s linear;
			}
			@include media('>=sm'){
				pointer-events: none;
			}
		}
		.specialitybox{padding:15px;margin:0;background:#F4F2F2;width:100%;height:100%;

				.list-inline {
					  margin: 0;
					  > li {
					    width: 100%;
					    padding: 0;
					    margin: 0;
					  }
					}
				.btn-group, .btn-group-vertical{padding:3px 0px;}


				.btn{padding: 0px 4px;}
				.btn span.fa {
					opacity: 0;
				}
				.btn.active span.fa {
					opacity: 1;
				}
		}

}


.collbtn{
	float:right;
	padding:0px 6px;
	margin:0px 2px;
	a{
		color:#fff !important;
		.fa{
			font-size:32px;
			position:absolute;
			right:15px;
			top:5px;
		}
	}
}

	@media (min-width: 767px) and (max-width: 768px){
	.collbtn{display:none !important;
	a{color:#fff !important;}
	}
	}

	@media (min-width: 768px) and (max-width: 1024px){
	.collbtn{display:none;
	a{color:#fff !important;}
	}
	}


@media (min-width: 992px) and (max-width: 1025px){
	.collbtn{display:none;
	a{color:#fff !important;}
	}
	}



	@media (max-width:767px){
	.directory .dir-userinfo{width:100% !important;}
	.directory .dir-user-pic{float:none !important;}
	.directory .dir-user-pic .dir-usr-pic{margin:0 auto;}
	.directory .dir-userinfo .list-inline > h1{width:200px !important;font-size:30px;}
	.btn-primary{padding:7px 20px; font-family: "locatorultralight", Arial, sans-serif;}
	.directory .dir-userinfo .list-inline > li{margin: 9px 0px;}
	}
	@media (max-width:320px){
	.directory .dir-userinfo{width:100% !important;}
	.directory .dir-user-pic{float:none;}
	.directory .dir-user-pic .dir-usr-pic{margin:0 auto;}
	.directory .dir-userinfo .list-inline > h1{width:150px !important;font-size:25px;}
	}
