/* Directory Detail */

.directory{float:left;width:100%;padding:10px 0px;
	.dir-user-pic{float:left;padding:0px;margin:4px 0px;
 		.dir-usr-pic{width:248px;height:245px;border:1px solid #e5e5e5;}
 		.dir-usr-region{width:22px;height:22px;}
	}
	.title-underlined{
		margin-bottom: 10px;
	}
.dir-userinfo {
		  float: left;
		  padding: 0px;
    margin: 0px 0px 0px 15px;
 width: calc(100% - 265px);

		.list-inline {padding-left:6px;
		  margin: 0;
		  float: left;
		  > {
		    h1 {
				
				float:left;
				width:calc(100% - 140px);
				/*width: 250px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;*/
		      font-size: 30px;
		     /* margin: 2px 0px;*/
		      padding: 0px;
		      font-weight: normal;
			  @include media('<sm'){
				  width:calc(100% - 140px)!important;
			  }
		    }
		    li {
		      margin: 0px 0px 20px 0px;
		      float: left;
		      width: 100%;
		      padding-left:2px;

		      > {
		        p {
		          float: left;
		          margin: 0;
		          font-size: 12px;
		          padding-right: 0px;
		        }
		        img {
		          float: left;
		          margin: 0px;
		          padding-right: 5px;
		          height:20px;
		        }
		        }
				hr{margin-bottom:0px;}

		    	}
		    	li{float: left;
		        > {
		        i {
		          float: left;
		          margin: 0;
		          color: #00A3B9;
		          font-size: 18px;
		          padding-right: 5px;
		        }
				.user-phone {
					margin-right: 22px;
				}
		        span {
		          
		          margin: 0;
		          padding-left: 0px;
		          padding-right: 5px;
		          color: #515151;
		          width:100%;
				      /*margin-left: 33px;*/
		          > i {
		            
		            margin: 0;
		            padding-right: 5px;
		            color: #00A3B9;
		            font-size: 18px;
		          }
		          }
		        }
		      
		    }
		  }
		}
	}

.follwed-by{margin-top:0px;.title-underlined{ margin-top:0px;padding-top:0px}}
}
@media (max-width:320px){
	.directory .dir-user-pic .dir-usr-pic{margin: 0 auto;}
}
			
@media (max-width:320px){
.directory .dir-user-pic {width:100%;}
}

@media (max-width:767px){
	.directory .dir-userinfo{
		margin:30px 0px 0px 0px;
	}
	.directory .dir-userinfo .list-inline{padding-left:0px;}
}

@media (min-width:768px){
	.directory .dir-userinfo{
		margin:0 0 0 0;
	}
	.directory .dir-user-pic{margin-right:15px;}
	/*.directory .dir-userinfo{width:60%;}*/
}
 
	
	
	






