.error-page{
  font-size: 25px;
  line-height: 170%;
  color: #000;
  text-align: center;
  height: 285px;
  .error-content{
    margin: 50px auto 50px;
    .error-title{
      display: block;
      margin-bottom: 15px;
      font-size: 39px;
    }
    a{
        color: #d62c7d;
    }
  }
}

form label.error {
	color: red;
	font-style: italic;
	font-weight: normal;
}

.error-message {
	color: red;
	font-style: italic;
	font-weight: normal;
}
