.fav-posts {
	width:100%;
}

.fav-posts-head {
	width:100%;
	border-bottom: 1px solid #b1adad;	
}

.fav-posts {
	img {
		display: inline-block;
		height: auto;
		max-width: 100%;
		width: 120px;
		margin: 20px 40px;
		border-radius: 50%;
		float: left;
	}
	li{
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
	}
}	

.fav-posts { 
	h4 {
		margin-top: 50px;
	}
}

.fav-posts { 
	p {
		
	}
}

.heading1 {
	display: inline-block;
    font-weight: 600;
    margin: 10px 5px 5px 40px;
}

.view-all, .read-more {
	display: inline-block;
    float: left;
	margin: 10px 40px 5px 5px;
	color: #00A3B9;
}
.view-all{
	float: right;
}

.articles {
	img {
		width : 200px
	}
}