


/* model popup */
.HomeModal{
.modal-header{background:#5AB4D4;}
.list-inline > li{padding:12px 5px;font-family: $locator_regular;font-style: normal;font-weight: normal;}
.btn span.fa {
  opacity: 0;
}
.btn.active span.fa {
  opacity: 1;
}
.btn-sm, .btn-group-sm > .btn{padding: 0px 2px;}
.btn-group > .btn:first-child{margin-right: 8px;}

.btn-group > label{background:#fff;color:#269abc;}
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus{background:#fff;color:#269abc;}
}
.welcome-popup{
  .modal-dialog{
    width:40%;
    @include media('>sm-min','<xmd-max'){
      width:75%;
      max-width:750px;
    }
    @include media('>xmd-max'){
      min-width:750px;
    }
    @include media('<sm'){
      width:90%;
      margin:0 auto;
    }
    .modal-header{
      min-height:50px;
    }
  }
  ol{
    padding-left:0;
    list-style-position: inside;
    li{
      padding:15px 0;
    }
  }
  .dont-show-check{
    padding:15px 0 10px 0;
    .btn{
      border:1px solid $borderGray;
    }
  }
}
