#latest-articles {
      max-width: 970px;
      margin: 20px auto 0;
      padding:0;

    .latest-articles {
        position:relative;
        width:100%;

        .item {
            text-align:center;
        }
   
        ul{
            clear:both;
            margin:0 auto;
            display:inline-block;

            li{
                float:left;
                padding: 0 10px;
                margin: 0 auto;

                &:last-child {
                    padding: 0 10px;
                    margin: 0 auto;
                }

                .article {
                    margin: 0 auto;
                    max-width: 176px;

                    a {
                        display:inline-block;
                        position:relative;

                        img {
                            -moz-opacity: .98;
                            -ms-filter: "alpha(opacity=98)";
                            filter: alpha(opacity=98);
                            opacity: .98;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            transition: all .3s ease;
                            -ms-transition: all .3s ease;

                        }

                        .play--button{
                            position:absolute;
                            width:45px;
                            height:45px;
                            left:0;
                            top:0;
                            right:0;
                            bottom:0;
                            margin:auto;
                            -moz-opacity: 0.6;
                            -ms-filter: "alpha(opacity=60)";
                            filter: alpha(opacity=60);
                            opacity: 0.6;
                        }
                    }

                   .title{
                        a{
                            color: #000;
                            font-size:16px;
                            margin: 10px 0 0;
                            height:70px;
                            line-height:22px;
                            border: none;
                        }
                   }


                }
            }
        }

        .icon {
            &.icon-arrow-left{
                width:30px;
                height:57px;
            }
        }

    }

    .carousel-inner{
            text-align:center;
        }

    .carousel-control {
        background: 0;
        width: 3%;
        opacity: 1;
        filter: alpha(opacity=100);
        top: 0;
        bottom: 28%;
        margin: auto 0;
        max-height: 57px;

        &.left{
           left: 0;
           right: auto;
        }

        &.right{
            right: 0;
            left: auto;
        }

        .icon-arrow-left {
            text-align: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            width:30px;
            height:57px;
        }
    }
    .carousel-indicators{
        bottom:0px;
        position: static;
        margin: 50px auto 0;
        padding: 0;
        width: auto;
        max-height: 20px;
        li{
            margin: 0 2px;
            width: 10px;
            height: 10px;
            border: 1px solid #d62c7d;
            background: 0;
            direction: ltr;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; 

            &.active{
                background: #d62c7d;
            } 
        }
    }
       
}

   