/* my profile */
.my-profile {margin-top:20px;
	/* margin-bottom: 30px; */
	.title-underlined{
		margin-bottom: 18px;
	}

	.myprobtn  {
		.btn-primary{margin-bottom:10px;}
		@include media('<sm','<=sm'){margin:10px 0px;padding-left:10px;padding-right:10px;
			.btn-primary{padding: 12px 23px;font-size:14px;}

			@media (max-width: 767px) and (max-width: 768px)
				{
					.btn-primary {  padding: 12px 14px;  font-size: 13px;}
				}
		}
		}

	.user-pic {
		float: left;
		padding: 0;
		margin: 4px 0;
		padding-right:25px;
		@include media('<sm'){
			width:100%;
			padding-right:0px;
		}
		.usr-pic {
			width: 248px;
			height: 245px;
			border: 1px solid #e5e5e5;
			@include media('<sm'){
				margin:0 auto;
			}
		}

		.usr-region {
			width: 22px;
			height: 22px;
		}
	}

	.mypro-btn {

		@include media('<xs'){
			float:left;
			padding:0px 20px;
			margin: 5px auto;
		    text-align: center;
		    width: 100%;
		}

		@include media('<md','<=md'){
			.btn-primary{padding: 10px 15px;font-size:14px;}
			}



		.btn-chnpwd,
		.btn-edtpro {
			display:block;
			padding-left: 34px;
			padding-right: 34px;
			margin-bottom:10px;
			/*font-family: $locatorultralight;*/
			font-family: $locator-regular;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;
			text-transform: uppercase;
			@include media('<xs'){
				margin-right:5px;
				padding-left:15px;
				padding-right:15px;
			}

			@include media('>xs','<md'){
				display:block;
				width:100%;
				margin-bottom:15px;

			}


			@include media('<lg'){
				padding-left: 16px;
				padding-right: 16px;

			}
		}
	}

	.userinfo {
		float: left;
		padding: 0;
		margin: 4px 0;
		width: 60%;

		h1{
			@include media('<sm'){
				margin-top:25px !important;
			}
		}
		@include media('<sm'){
			width:100%;
		}
		li{
			img{
				/*width:20px !important;*/
				height:20px !important;
				width:auto !important;
				background:none !important;
			}
			.user-phone{
				margin-right:22px;
			}
			&.user-phone-mail{
				padding:15px 0;
				a{
					color:$black;
				}
			}
		}
	}

	.list-inline {
		padding-left: 0px;
		margin: 0;
		float: left;

		> {
			h1 {
				font-size: 30px;
				margin: 2px 0;
				padding: 0;
				font-weight: normal;
				width: 100%;
				word-break:break-all;
				word-wrap: normal;
				overflow: hidden;
				text-overflow: ellipsis;
				 font-family: $locator-regular;
				 color: $black-dark;
			}

			li {
				margin: 5px 0;
				float: left;
				width: 100%;
				padding-left: 0px;

				> {
					p {
						float: left;
						margin: 0;
						font-size: 14px;
						padding-right: 0;
						 font-family: $locator-regular;
						  color: $black;

					}

					img {
						float: left;
						margin: 0;
						padding-right: 5px;
					}
				}
			}

			li {
				float: left;

				> {
					i {
						float: left;
						margin: 0;
						color: #00A3B9;
						font-size: 18px;
						padding-right: 5px;
					}

					span {
						margin: 0;
						color: $black;

						> i {
							margin: 0;
							padding-right: 5px;
							color: #00A3B9;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
	.category-followed {
		float: left;
		width: 100%;
		padding: 0 4px;
		margin: 10px 0;

		.catefollow-list {
			float: left;
			width: 100%;

			.list-inline {
				margin: 0;
				float: left;
				width:100%;
				> {
					li {
						width:50%;
						margin: 5px 0;
						float: left;
						font-size: 15px;
						color: #00ACC2;

						&:first-child(0) {
							margin-left: 0;
						}

						&:nth-child(0+n) {
							margin-left: 0;
						}

						&:last-child {
							margin-right: 0;
						}

						> {
							i {
								float: left;
								margin: 2px 0;
								color: #8A8A8A;
								font-size: 15px;
								padding-right: 5px;
							}
						}
					}
				}
			}
		}
	}

	.Following,
	.category-followed,
	.follwed-by,
	.summary {
		float: left;
		margin: 10px 0;
		padding: 0;
		 line-height: 1.57;

		h1 {
			font-weight: normal;
			font-style: normal;
			font-variant: normal;
			margin-bottom:18px !important;
		}
	}
	.follwed-by,.Following{
		width:100%;
	}
	.summary {
		width: 100%;float:left;
	}
	.user-attachment{
		margin-top:30px;width:100%;float:left;
		ul{
			li{
				padding:3px 0;
			}
		}
		a{
			padding-left:20px;
			position:relative;
			&:before{
				content:'\f0c6';
				font-family: 'FontAwesome';
				font-size:16px;
				position:absolute;
				left:0;
			}
		}
	}
	.Following,
	.follwed-by {
		.list-inline {
			margin: 0 auto;float:left;

			> li {padding:0px;
				width: 80px;
				margin: 10px 4px;
				float: left !important;
				font-size: 14px;
				height:114px;text-align:center;

				span {
					color:$black;
					display: inline-block;
					padding: 0;
					margin: 0;
					width: 80px;

				}

				&:first-child(0) {
					margin-left: 0;
				}

				&:nth-child(0+n) {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

		.Following-pic,
		.follwedby-pic {
			position: relative;
			width: 60px;
			height: 60px;
			margin:0 auto;
		}

		.Following-image,
		.follwedby-image {
			float: left;
			display: block;
			width: 60px !important;
			height: 60px !important;
			border-radius: 100%;
			border: 1px solid #898989;
		}

		.Following-overlay,
		.follwedby-overlay {
			float: left;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: 0.5s ease;
			background-color: #fff;
			border-radius: 100%;
		}

		.Following-pic:hover .Following-overlay,
		.follwedby-pic:hover .follwedby-overlay {
			opacity: 0.6;
		}

		.Following-text,
		.follwedby-text {
			color: #008CBA !important;
			opacity: 1;
			text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		}







.Myprofile-modal {
	.image-preview-input {
		position: relative;
		overflow: hidden;
		margin: 0;
	}
	.btn-primary{
		span.fa{
			opacity:1;
		}

	}

	.image-preview-input input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 14px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.image-preview-input-title {
		margin-left: 2px;
	}

	.modal-title {
		h4 {
			font-family: '$locatorlight';
		}
	}
	.popover-title{
		color:$black;
		font-family:$locator_regular;
		.close{
			color:$black;
		}
	}
	.upload-resume{
		float:left;
		width:100%;
		.custom-file-upload-btn{
			display:inline-block;
			position: relative;
			&:hover{
				background: $background;
			}
		}
		.form-hint{
			margin-left:10px;
		}
	}
	.edit-profile-check{
		.custom-check{
			label{
				span{
					width:calc(100% - 26px);
				}
			}
		}
	}
	#edit-profile {
		overflow-x: hidden;
    	overflow-y: auto;
	}
}

.uploadpic-chkbxgrp{float:left;}
.uploadpic-chkbxlbl{float:left;}
.uploadpic-chkbxpara{ 	float:right;width:95%;text-align:left;
		@include media('<sm'){
			width:95%;text-align:left;
		}
	}





@media (min-width: 1200px){
			/*.btn-primary{padding: 12px 34px !important ;font-size:14px;}*/
			}

@media (max-width: 1199px) and (min-width: 992px){
		 	.btn-primary{
		 		padding: 8px 13px !important;font-size:14px;

		 	}
		 }

@media (max-width: 992px) and (min-width: 768px){
		 .myprobtn {
		 	display: none !important;
		 }
		 .userinfo{width:50%;}

		 .btn-primary{padding: 12px 36px;
    			font-size: 12px;
    			margin: 10px auto;

		}
			}

@media (max-width: 1024px) and (min-width: 992px){
		 .myprobtn {
		 	display: none !important;
		 }
		}

.dropify-wrapper .dropify-preview .dropify-render img{top:0;}


@media (max-width: 320px)
{
	.my-profile .myprobtn .btn-primary {
	    padding: 12px 11px;
	    font-size: 13px;
	    }
  }

  @media (min-width: 375px)
{
	.my-profile .myprobtn .btn-primary {
	    padding: 15px 24px;
	    font-size: 13px;
	    }
  }

 @media (min-width: 414px)
{
	.my-profile .myprobtn .btn-primary {
	    padding: 15px 34px;
	    font-size: 13px;
	}
}

 @media(max-width:767px){
	 .my-profile .myprobtn {float:left;}
	 .my-profile .myprobtn .btn-chnpwd {
	    float:left;margin-right:6px;
	}
		 .my-profile .myprobtn .btn-edtpro{
	    float:left;
	}
 }
	 @media (max-width: 1024px) and (min-width: 768px){
	 .mypro-btn {float:left;}
	 .mypro-btn .btn-chnpwd {
	    float:left;margin-right:6px;
	}
	.mypro-btn .btn-edtpro{
	    float:left !important;
	}

 }

  @media (min-width: 1025px){
	  .mypro-btn {float:left;}
	 .mypro-btn .btn-chnpwd {
	    float:left;margin-right:3px;
	}
	.mypro-btn .btn-edtpro{
	    float:left;
	}
  }
@media (min-width: 768px) {
		.myprobtn .btn-primary {width:100%;}
				}
@media(max-width:768px){
	.mypro-btn .btn-chnpwd, .mypro-btn .btn-edtpro{width:100%;}
}

@media(max-width:768px){

	.category-followed .catefollow-list {
		min-height: 100px;
		.slimScrollDiv {
			min-height:50px;
				#SubcateFollowed {
					height:auto !important;
				}
		}
		.list-inline {
			height:100px
		}
	}
}
