.notification {
	margin-bottom: 30px;
	@include media('>sm-min','<md'){
		min-height: 620px;
	}
	@include media('>md','<xmd-max'){
		min-height:400px;
	}
	@include media('<xmd-max'){
		margin-top:20px;
	}
	.notification-container {
		background-color: #f4f2f2;
		list-style-type: none;
		overflow: hidden;
		margin-bottom: 30px;
		padding-left: 0;
		display: table;
		width: 100%;
		border-spacing:5px 0px;
		position:relative;
		left:-10px;
		li {
			/*float: left;*/
			margin-right: 7px;
			display: table-cell;
			vertical-align: middle;
			&:nth-child(1) {
			background: #5ab4d4;
			position:relative;
			left:-5px;
			width: 30px;
			}
			&:nth-child(2) {
			width: 60px;
			position:relative;
			left:-1px;
			}
			&:nth-child(3) {
			padding:10px 10px 10px 0px;
			}
			.title-image {
				width: 37px;
				height: 79px;
				/*background-color: #5ab4d4;*/
				display: table;
				@include media('<xxs'){
					height:94px;
				}
				.user {
					vertical-align: middle;
					display: table-cell;
					text-align: center;
					color: #fff;
					font-size: 18px;
				}
			}

			img {
				height: 58px;
				width: 58px;
				border-radius: 100%;
				/*margin-top: 10px;*/
			}

			p {
				font-family: $locator_regular;
				font-size: 14px;
				line-height: 1.57;
				text-align: left;
				color: #000;
				margin: 0;

				strong {
					font-family: $locatormedium;
					/*margin-top: 20px;*/
					display: block;
					@include media('<sm'){
						margin-top:0;
					}
				}

				span {
					color: #00acc2;
				}
				span.timeline-time-format {
					color: #000;
					text-transform: lowercase;
					}
			}

			&:last-child {
				width: calc(100% - 118px);
				@include media('<sm'){
					/*padding:5px 0;*/
				}
			}
		}
	}

	.manage-notification {
		text-align: right;
		width: 100%;
		@include media('<sm') {
			text-align: center;
			margin:15px 0 20px 0;
		}
		.btn-primary {
			padding: 15px 30px;
			font-family: $locator_regular;
		}
	}

	.side-panel {
		margin-top: 18px;
		background: #f4f2f2;
		h5 {
			padding: 15px;
			position: relative;
			margin-bottom: 5px;
			background-color: #00acc2;
		}
		.remember-me-check {
			margin-bottom: 5px;

			label {
				padding: 3px 6px;
				margin: 0;
				@include media('>sm-min','<md'){
					width:100%;
				}
				span {
					margin: 0;
					font-family: $locator_regular;
					font-size: 14px;
					text-align: left;
					color: #000;
				}
			}
		}
		.notification-filter {
			padding: 15px 12px;
			.custom-check{
				input[type=checkbox] + label:before{
					margin-right:10px;
				}
				label{
					min-height:28px;
					height:auto;
					@include media('>sm-min','<md'){
						width:100%;
					}
				}
				span{
					@include media('>sm-min','<md'){
						width:calc(100% - 30px);
					}
				}
			}
		}
		&.side-panel-mobile{
			margin-top:0;
			h5[aria-expanded='true']{
				.fa{
					transform: rotate(180deg);
				}
			}
			.fa{
				font-size: 32px;
				position: absolute;
				right: 10px;
				top: 5px;
				transition: all 0.30s linear;
			}
		}
	}

	.load-more {
		font-family: $locator_regular;
		font-size: 14px;
		color: #8a8a8a;
		text-align: center;
	}
}
/**** MANAGE NOTIFICATION POPUP ****/
.manage-notification-popup {
	.modal-dialog {
		width: 570px;
		margin: 30px auto;

		@include media('<sm') {
			width: 90%;
			max-width: 570px;
		}

		.modal-body {
			@include media('<sm') {
				padding: 25px 20px;
			}
		}
	}

	.modal-header {
		.close {
			font-size: 24px;
		}
	}

	.popup-content {
		margin-bottom: 10px;
		text-align: right;

		@include media('<sm') {
			text-align: center;
		}

		span {
			font-family: $locator_regular;
			font-size: 14px;
			line-height: 1.64;
			text-align: right;
			color: $black;
			display: inline-block;

			@include media('<sm') {
				width: 100%;
				text-align: center;
			}
		}

		select {
			background: transparent url("/themes/skinalliance/images/assets/select-arrow.png") no-repeat 95% 14px/21px 11px;
			min-width: 144px;
			width: auto;
			margin-left: 18px;
		}
	}

	.btn-save {
		input {
			margin: 30px 0 0;
		}
	}
}
