

/* Feature Post */
.SAPost{float:left;width: 100%;margin-bottom:10px;
	.LatestPost{float:left;width:100%;margin:4px 0px;padding:4px 0px;border-bottom:1px solid #ECECEC;height: 100%;
		.title{margin-bottom:4px;padding:2px;font-size:18px;color:#1B1B1B;text-transform:uppercase;}
    	.viewall {margin:0px !important;padding-top:2px;font-size:12px;color:#00ACC2;clear:right;}
   	}
   	.list-inline > li{width:100%;
   			> a{  
   				
   			}
   			&:first-child{
   				border-bottom:1px solid #ECECEC;
   			}
   			&:nth-child(0+n){
   				border-bottom:1px solid #ECECEC;
   			}
   			&:last-child {
				     border-bottom:none;
				    }




   	}
	.postImg{float:left;width:100%;margin:4px 0px;padding:4px 0px 10px;clear:both;height:100%;
		
		.PImg{float:left !important;width:120px !important;height:80px !important;margin: 0px;}

		.post-comment{float:left !important ;margin: 0px 0px 0px 4px;;padding:0;width: 53%;
			@include media('<sm'){
				width: 53%;
			}	
			}
			
		
		.pDate{margin:0;padding:0;font-size:13px;color:#636363;}
		a{color:#535353;}
		.pwrite{color:#535353;margin:0;padding:0;width:100%;font-size:14px;


		}
		
		.plike{float:left !important;width:150px;margin:0;padding:0;		
			.pStar {float:left !important;width:50px;margin:0;padding:0;color:#00ACC2;}
			.pComment {float:left !important;width:50px;margin:0;padding:0;color:#00ACC2;}

			p {font-size:14px;font-weight:normal;color:#1B1B1B; word-break: break-all; white-space: normal;}

		}

	}
}

  @media (min-width: 993px){
  	
  	.post-comment{width: 53%;}
  }
	@media (min-width: 992px){
		.post-comment{width: 50%;}
	}
	@media (min-width: 1024px){
  	
  	.post-comment{width: 53%;}
  }
	
