.scientific-board-members {
  clear:both;
  padding: 0 15px 50px 15px;
  @include media('<xmd-max'){
    padding-top:20px;
  }
  .scientific-board-desc {
    border-bottom: 1px solid $light-grey-1;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .scientific-board-members-list {
    padding-top: 22px;
    a{
      color:inherit;
      text-transform: none;
    }
    .board-member {
      margin-bottom: 26px;
      .board-member-profile-pic {
        width: 176px;
        height: 194px;
        padding:0;
        @include media('<sm') {
          margin: 0 auto;
        }
        img {
          margin: 0 auto;
          width:100%;
          height:100%;
        }
      }

      .board-member-detail {
        padding-top: 45px;
        padding-bottom: 45px;

        @include media('>sm-min') {
          padding-left:25px;
          width: calc(100% - 176px);
          /* calculating member detail width subtracting the profile pic from 100% */
        }

        @include media('<sm') {
          padding-top: 20px;
          padding-bottom: 0;
        }

        .board-member-name {
          color: $title-blue;
          font-size: 24px;
          font-family: $locator_regular;
          margin:0;
          @include media('<sm') {
            text-align: center;
            display: block;
          }
        }

        .board-member-position {
          @include media('<sm') {
            text-align: center;
          }
        }

        .board-member-desc {
          padding-top: 5px;
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
