.simply-scroll-container {
  position: relative;
}
.facebook_scroll{
  padding: 0 30px 0 0;
}
.install_scroll
{
  padding: 0 0 0 30px;
}
.simply-scroll-clip {
  position: relative;
  overflow: hidden;
}
.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    img {
      border: none;
      display: block;
    }
  }
}
.simply-scroll {
  height: 200px;
  margin-bottom: 1em;
  .simply-scroll-clip {
    height: 200px;
  }
  .simply-scroll-list li {
    float: left;
    /* Horizontal scroll only */
    /*width: 290px;*/
    height: 200px;
  }

  .simply-scroll-btn {
    width: 55px;
    height: 115px;
}
  
.simply-scroll-btn-left {
  cursor:pointer;
  left: -11px;
  top: 10px;
  background-image: url(../images/icons/icn_shareInstgram.png);
  display: inline-block;
  position: absolute;
  z-index: 10;
}
.simply-scroll-btn-left.disabled {
  /*background-position: 0 0 !important;*/
}
.simply-scroll-btn-left:hover {
  /* background-position: 0 -88px; */
}

.simply-scroll-btn-right {
  cursor:pointer;
  right: -13px;
  bottom: 6px;
  background-image: url(../images/icons/icn_shareFcbook.png);
  display: inline-block;
  position:absolute;
  z-index:10;
}
.simply-scroll-btn-right.disabled {
  /*background-position: 84px 0 !important;*/
}
.simply-scroll-btn-right:hover {
  /*background-position: 84px -88px;*/
}
}


