/* subcategory-listing */
.subcategory-listing {
	float: left;
	margin: 10px 0 30px;
	padding: 0;
	width: 100%;
	height: 100%;
	.col-lg-6.col-md-6{
		&:nth-child(odd){
			clear: both;
		}
	}
	.subcategory-follow{
		@include media('<sm'){
			width:100%;
		}
	}
	.sub-category {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		margin-top: 10px;

		.sub-categoryPost {
			float: left;
			width: 100%;
			margin: 4px 0;
			padding: 4px 0;
			border-bottom: 1px solid #ECECEC;
			height: 100%;

			.sub-title {
				margin-bottom: 4px;
				padding: 2px;
				font-family: $locator_regular;
				font-size: 18px;
				color: $black;
				text-transform:uppercase;
			}

			.sub-viewall {
				margin: 0 !important;
				padding-top: 2px;
				font-size: 12px;
				color: #00ACC2;
				clear: right;
				span{
					margin-left:3px;
				}
			}
		}

		.subpostImg {
			float: left;
			width: 100%;
			margin: 4px 0;
			padding: 4px 0 10px;
			clear: both;
			border-bottom: 1px solid #ECECEC;
			height: 100%;

			.subPImg {
				float: left !important;
				width: 120px !important;
				height: 80px !important;
				margin: 0;
			}

			.subpost-comment {
				float: left !important;
				margin: 10px 0 0 15px;
				padding: 0;
				width:calc(100% - 135px);
				@include media ('<sm'){
					width:calc(100% - 135px);
				}
			}

			.subpDate {
				margin: 0;
				padding: 0;
				font-size: 13px;
				color: #636363;
			}

			.subpwrite {
				color:$black;
				margin: 0;
				padding: 0;
				width: 100%;
				word-break:break-word;
				white-space: normal;
				font-size: 14px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.subplike {
				float: left !important;
				width: 150px;
				margin: 0;
				padding: 0;

				.subpStar {
					float: left !important;
					width: 38px;
					margin: 0;
					padding: 0;
					color: #00ACC2;
					@include media('<sm'){
						width:35px;
					}
				}

				.subpComment {
					float: left !important;
					width: 38px;
					margin: 0;
					padding: 0;
					color: #00ACC2;
				}

				p {
					font-size: 14px;
					font-weight: normal;
					color: #1B1B1B;
					word-break: break-all;
					white-space: normal;
				}
			}
		}
	}
	.follow{
		margin:18px 0 0 0;
		font-family: $locator_regular;
	}
}
@media(max-width:767px){
				.sub-category  div:nth-child(4).subpostImg{border-bottom:none;}
			}
