/* upcoming-congress

.upcoming-congress, .congress-landing {float:left;width:100%; height:100%;margin:20px 0px;padding:10px 0px;
	.upcoming{float:left;width:100%;margin:4px 0px;padding:4px 0px;border-bottom:1px solid #ECECEC;height: 100%;
		.title{margin-bottom:4px;padding:2px;font-size:18px;color:#1B1B1B;}
		}
		.upcoming-event{float: left; height: 100%; margin: 10px 0px; padding: 0;text-align:left;
			.calender{float:left;background:#5AB4D4;margin:0px;padding:10px 0px;width:72px;height:78px;
				p{margin:0px;padding:0px;font-size:14px;color:#fff;font-family: '$locator_regular';font-weight: normal;font-style: normal;text-align:center;}
				h1{margin:0px;padding:0px;font-size:38px;color:#fff;font-family: '$locatorlight';font-weight: normal;font-style: normal;text-align:center;}
			}


		.UPEpost{float:right;height: 100%;margin: 0;padding: 0px 6px 0px 6px;clear:both;
			p{float:left;padding:0px;margin:0px;word-break: break-all;white-space: normal;font-size:14px;overflow:hidden;text-overflow: ellipsis;}

		}
		}
}

*/

.upcoming-congress{float:left;width:100%;padding:0px 0px 20px;margin:55px 0px;
	.upc-header{float:left;width:100%;margin: 5px 4px 20px 0px;padding: 8px 0px 3px 2px;font-size:18px;color:#1B1B1B;border-bottom:1px solid #ECECEC;
		h1{float:left;margin:0px;padding:0px;font-size:18px;color:#1B1B1B;text-transform: uppercase;}
		 a{font-size:14px;}
			}

	.upc-wrap{float:left;padding:0;
		.upc-ddmm{background:#5AB4D4;width:70px;height:80px;float:left;padding:8px 0px;margin:0 auto;text-align: center;
			.upc-date{margin:0;padding:0;font-size:14px;font-family: 'locatorlight', Arial, sans-serif;color:#fff;font-style: normal;font-weight:normal;}
			.upc-month{margin:0;padding:0;font-size:38px;font-family:'locatorultralight', Arial, sans-serif;color:#fff;font-style: normal;font-weight:normal}
		         }
			.upc-comment{padding:10px;float: left;width:calc(100% - 90px);
					a{color:#535353;}
				.upc-post { margin: 0;}
				}
				@include media('<xmd-max'){
					margin-bottom:15px;
				}

			}
}

// @media (max-width:319px){
// 	.upc-wrap{min-width: 290px;}
// 	.upc-post{width: 70%;}
// }

@media (max-width:768px){
	.upcoming-congress{margin:10px 0px;}
}
