#webCasting{
  .modal-dialog{
    width: 80%;
    margin: 30px auto;
    @include media('<xmd-max'){
      width:90%;
      max-width:800px;
    }
    @include media('<sm'){
      width:95%;
      max-width: 600px;
      margin:10px auto;
    }
    .modal-header{
      .modal-title{
        @include media('<sm'){
          width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .modal-body{
      background: $white;
      float:left;
    }
  }
}

/*LOADER*/

.alert_loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('./../image/loader-background.png') repeat 0 0;
  z-index: 2000;
  text-align: center;
  i {
    font-size: 8em;
    color: #fff;
    margin-top: 110px;
  }
}
/*TOP PLAYER*/

 .webcast-player{
    .webcast-slides{
      background:$articleborder;
      float:left;
      padding-top:10px;
      width:100%;
      .player {
        width: 50%;
        display: inline-block;
        float: left;
        border: 10px solid #fff;
        z-index: 2;
        background: transparent;
        margin: 0 0 0 10px;
        position: relative;
        z-index: 2;
        @include media('<sm'){
          width:95%;
          margin: 0 auto;
          float: none;
          display: block;
        }
        .slides .selectable {
          width: 100%;
          height: auto;
          display: none;
          border: none;
          margin: 0;
          padding: 0;
          float: none;
          border-radius: 0;
          background: none;
          position: relative;
          z-index: 2;
          &.selected {
            &:hover {
              border: none;
            }
            display: block;
            margin: 0 auto;
          }
        }
      }

      .shadow_player {
        background: url("../images/webcast/shadow-player.png") no-repeat center 0;
        width: 100%;
        height: 45px;
        background-size: 70%;
        z-index: 0;
      }
    }
 }
 .video-player{
   width:48%;
   display: inline-block;
   float:left;
   @include media('<sm'){
       width:95%;
       margin: 0 auto;
       float: none;
       display: block;
   }
   .mover_controls{
     text-align: center;
     .list_controls{
       display: inline-block;
     }
     .button_player {
       background: $white;
       display: inline-block;
       width: 50px;
       height: 24px;
       line-height: 27px;
       margin: 0;
       border: none;
       background-repeat: no-repeat;
       text-align: center;
       .fa{
         font-size:15px;
       }
       &.sound {
         .fa-volume-off{
           display:none;
         }
       }
       &.mute{
         .fa-volume-up{
           display:none;
         }
       }
       &.previous {

       }
       &.play {
         .fa-pause{
           display: none;
         }
       }
       &.pause {
         .fa-play{
           display: none;
         }
       }
       &.next {

       }
       &:hover,&:focus{
         background:$header-blue;
         .fa{
           color:$white;
         }
       }
     }
   }
 }



 .webcast-controls {
   width:100%;
   height: 120px;
   overflow: hidden;
   z-index: 4;
   position: relative;
   background: $grey;
   @include media('<sm'){
     height:auto;
   }


   .player_infos {
     color: gray;
     width: 176px;
     position: relative;
     top: 2px;
     left: 6px;
     float:left;
     @include media('<sm'){
       float:none;
       left:0;
       margin:0 auto;
     }
     .infos {
       margin-bottom: 25px;
       .title {
         font-size: 21px;
         text-align: center;
         line-height: 42px;
       }
       .description {
         font-size: 20px;
       }
     }
   }

   .mover {
     .infos {
       background-color: black;
       padding-bottom: 10px;
       padding-left: 8px;
       padding-right: 8px;
       padding-top: 10px;
       margin-top: 0;
       margin-left: 0;
       margin-right: 0;
       margin-bottom: 3px;
     }
     position: relative;
   }

   .mover_controls {
     height: 30px;
     line-height: 30px;
     background-color: $white;
   }
   .webcast-slider{
     .MS-content{
       height:68px;
       overflow: hidden;
       ul{
         display: block;
         float: left;
         clear: both;
         padding: 0;
       }
     }
     .selectable{
       width:19%;
       display:inline-block;
       margin-right:1%;
       img{
         width:100%;
       }
     }
     .MS-left,.MS-right{
       position:absolute;
       top:20%;
       background:$white;
       border-radius: 100%;
       border: 0;
       box-shadow: 1px 2px 2px $black;
       padding: 0;
       width: 40px;
       height: 38px;
       .fa{
         color:$background;
         font-size:33px;
       }
     }
     .MS-left{
       left:0;
     }
     .MS-right{
       right:0;
     }
   }

 }

.shadow_chapter {
  background: url("../images/webcast/shadow-chapter.png") no-repeat 0 2px;
  width: 75px;
  height: 20px;
  margin-top: -3px;
  display: none;
}




/*miniature des slides*/

.chapters_interface {
    position: relative;
    top: 35px;
    width:100%;
    height: 100px;
    display: inline-block;
    float: left;
    @include media('<sm'){
      width:100%;
      top:0;
      height:auto;
      margin-left:0;
    }
}
#webcastWrapper {
  display: block;
  position: static;
  top: 0;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @include media('<sm'){
    padding-left:40px;
    padding-right:40px;
  }
  li {
    &.selectable {
      margin: 5px 3px;
      height: auto;
      width: 106px;
      float: left;
      list-style-type: none;
      border-radius: 2px;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid #23cdff;
      }
    }
    img {
      height: auto;
      width: 100%;
      display: block;
      background: #000;
    }
    &.selected {
      border: 2px solid #23cdff;
    }
  }
}

/* FULLSCREEN */

.fullscreen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: 200;
  .selectable {
    width: 100%;
    margin: auto;
    display: none;
    height: auto;
    /*max-width: 691px;*/
    cursor: zoom-out;
  }
  .selected {
    display: block;
  }
}

.fullscreen-button {
  color: #999;
  cursor: zoom-in;
  margin-top: -13px;
  z-index: 3;
  position: relative;
  &:hover {
    color: #000;
  }
}

.fullscreen span.normalscreen {
  display: block;
  color: #bbb;
  border: 1px solid #bbb;
  padding: 4px 6px;
  margin: 10px auto;
  width: 196px;
  text-align: center;
  cursor: zoom-out;
  &:hover {
    color: #393939;
    border: 1px solid #393939;
  }
}






/*#player{height:102px !important;}*/

#endScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
  div {
    margin-top: 50%;
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transform: translateY(-150%);
    text-align: center;
  }
  &.continue {
    div {
      width: 20%;
      float: left;
    }
    > div:last-child {
      position: absolute;
      width: 280px;
      left: 294px;
      float: none;
      -webkit-transform: translateY(-125%);
      -moz-transform: translateY(-125%);
      -ms-transform: translateY(-125%);
      -o-transform: translateY(-125%);
      transform: translateY(-125%);
    }
  }
  a {
    color: #FFF;
    text-decoration: none;
    .fa {
      font-size: 80px;
      display: block;
    }
  }
  &.continue > div:last-child a {
    font-size: 20px;
    .fa {
      font-size: 120px;
    }
  }
}


/* carousel */
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 0;
  .item{
    @include media('<sm'){
        margin-top:33px;
    }
  }
  .thumb{
    text-align: center;
    @include media('>sm-min','<md'){
      margin-top:8px;
    }
  }
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 5px;
  @include media('<sm'){
    top:30%;
  }
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 5px;
  @include media('<sm'){
    top:30%;
  }
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 74px;
  height: auto;
}

.media-carousel .thumb:first-child a {
	border: 2px solid $header-blue;
}

.media-carousel .thumb a {
	display:inline-block;
}
.media-carousel .thumb .thumbnail{
  @include media('<sm'){
    margin-bottom:0;
  }
}
.media-carousel .thumb .thumbnail img {
	margin-bottom: 0px;
}

@media (max-width: 767px) {
      .plyr .plyr__video-embed iframe,
      .plyr__tooltip {
          pointer-events: auto !important;
      }
  }


/* End carousel */
