﻿@using Sitecore.XA.Feature.Navigation.Models
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions

@model Sitecore.XA.Feature.Navigation.Models.LinkRenderingModel

<div @Html.Sxa().Component("link", Model.Attributes)>
    <div class="component-content">
        @Model.MessageIsEmpty  
        
        @if (@Model.HyperlinkLinkType == LinkType.Specific)
        {
             @Html.Sitecore().Field("Link", Model.GetRenderingWebEditingParams())
        }
        else
        {
            if (Model.AdjacentItemHyperlink != null)
            {
                @Model.AdjacentItemHyperlink
            }
        }          
      </div>
</div>