@using Sitecore.Data.Items
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Foundation.RenderingVariants.Models.VariantListsRenderingModel

<div @Html.Sxa().Component("page-list", Model.Attributes)>
    <div class="component-content">
        @if (Model.Items.Any() && Model.VariantFields != null)
        {
            <ul class="items">
                @foreach (Item item in Model.Items)
                {
                    <li class="item">
                        @foreach (VariantFieldBase variantField in Model.VariantFields)
                        {
                            @Html.RenderingVariants().RenderVariant(variantField, item, Model.RenderingWebEditingParams)
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            @Model.MessageIsEmpty
        }
    </div>
</div>