<div class="container">
<section class="congress-listing">
  <div class="row">
    {{#each congress-list}}
     
        <div class="col-lg-3 col-sm-6 col-md-4 congress-list-item">
          <div class="congress-list-image">
             <a href="#"><img  class="img-responsive" src="{{../imgDir}}/assets/{{this.src}}" alt= {{this.alt}}></a>
            <div class="congress-schedule">
      	    	<p class="congress-month">{{this.congress-month}}</p>
      	    	<p class="congress-date">{{this.congress-date}}</p>
      	    </div>
          </div>
          <p class="congress-list-info txtdot">
            <a href="#">{{this.congress-info}}</a>
          </p>
        </div>
    
    {{/each}}
  </div>
</section>
</div>
