﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions

@model Loreal.Feature.Article.Models.ArticleDetailViewModel

@if (Model != null && Model.Article != null)
{
    <div class="container">
        <!-- start article details !-->
        <div class="Adetails-page">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <!-- Start Article Details content !-->
                    <div class="article-details">
                        <div class="visible-xs">
                            <!-- Start Post content !-->
                            <div class="pdetail-title visible-xs">
                                <div class="postdate">
                                    <label class="">@Model.Posted <span class="">@Model.Article.CreatedDate</span></label>
                                </div>
                                <div class="postby">
                                    <label class="">@Model.PostedBy <span class="">@Model.Article.CreatedBy</span></label>

                                    @if (Model.Article.Follow != null && !string.IsNullOrEmpty(Model.Article.Follow.UserFollowUrl))
                                    {
                                        <a href="@string.Concat(Request.Url.GetLeftPart(UriPartial.Authority), "/community/directory/userprofile?id=", Model.Article.Follow.UserFollowUrl)" class="btn btn-primary btn-follow follow">@Model.Article.Follow.UserFollowText</a>
                                    }
                                </div>
                                <div class="postcategory">
                                    <label class="">@Model.Category <span class="">@Model.Article.Category</span></label>
                                    @if (Model.Article.Follow != null)
                                    {
                                        <a href="@Model.Article.Follow.CategoryFollowUrl" class="btn btn-primary btn-follow follow">@Model.Article.Follow.CategoryFollowText</a>
                                    }
                                </div>
                            </div>
                        </div>
                        @Html.Raw(Model.Article.Body)
                        @if (Model.IsWebcast)
                        {
                            //Call webcast rendering
                            <span>
                                @Html.Sitecore().Rendering("{C1EC3CED-E96D-4F6D-B5D4-B190A9C9A112}")
                            </span>
                        }
                    </div>

                    <div class="clearfix"></div>

                    @Html.Sitecore().Placeholder("Quiz")

                    <div class="clearfix"></div>

                    <!-- Access website and Like button -->
                    <div class="full-width">
                        @if (!string.IsNullOrEmpty(Model.Article.ExternalUrl) && !string.IsNullOrEmpty(Model.Article.ExternalUrlText))
                        {
                            <a href="@Model.Article.ExternalUrl" data-download-url="@Model.Article.ExternalUrl" id="@(Model.IsDownload ? "btn_download": "btn_acceslink")" target="_blank" class="btn btn-primary btn-access pull-left">@Model.Article.ExternalUrlText</a>
                        }

                        @Html.Sitecore().Placeholder("ArticleLike")
                        <ul class="social-share">
                            <li>
                                <a href="@Model.SocialMediaShare.FBShareAPI?@string.Concat("u=", Request.Url)"
                                   title="@Model.SocialMediaShare.FBShareLinkText"
                                   onclick="javascript:window.open(this.href, '_blank', 'width=300,height=400');return false;">
                                    <img src="@Model.SocialMediaShare.FBShareIcon" alt="@Model.SocialMediaShare.FBShareLinkText">
                                </a>
                            </li>
                            <li>
                                <a href="@Model.SocialMediaShare.TwitterShareAPI?@string.Concat("text=", Model.Article.Name,"&", "url=", Request.Url)"
                                   data-size="small"
                                   data-via="twitterdev"
                                   data-related="twitterapi,twitter"
                                   title="@Model.SocialMediaShare.TwitterShareLinkText"
                                   onclick="javascript:window.open(this.href, '_blank', 'width=300,height=400');return false;">
                                    <img src="@Model.SocialMediaShare.TwitterShareIcon" alt="@Model.SocialMediaShare.TwitterShareLinkText">
                                </a>
                            </li>
                            <li>
                                <a href="@Model.SocialMediaShare.LinkedInShareAPI?@string.Concat("mini=true&url=", Request.Url, "&title=",Model.Article.Name, "&summary=",Regex.Replace(Model.Article.Body, "<[^>]*>", String.Empty))"
                                   title="@Model.SocialMediaShare.LinkedInShareLinkText"
                                   onclick="javascript:window.open(this.href, '_blank', 'width=300,height=400');return false;">
                                    <img src="@Model.SocialMediaShare.LinkedInShareIcon" alt="@Model.SocialMediaShare.LinkedInShareLinkText">
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="clearfix"></div>

                    <!-- Start Article comment content !-->

                    @Html.Sitecore().Placeholder("ArticleComments")

                    <!-- End Article comment content !-->
                </div>
                <!-- End Article details content !-->

                <div class="col-lg-4 col-md-4">
                    <!-- Start Post content !-->
                    <div class="pdetail-title hidden-xs">
                        <h1 class="title-underlined">@Model.PostDetails</h1>
                        <div class="postdate">
                            <label class="">@Model.Posted <span class="">@Model.Article.CreatedDate</span></label>
                        </div>
                        <div class="postby">
                            <label class="">@Model.PostedBy <span class="">@Model.Article.CreatedBy</span></label>

                            @if (Model.Article.Follow != null && !string.IsNullOrEmpty(Model.Article.Follow.UserFollowUrl))
                            {
                                <a href="@string.Concat(Request.Url.GetLeftPart(UriPartial.Authority), "/community/directory/userprofile?id=", Model.Article.Follow.UserFollowUrl)" class="btn btn-primary btn-follow follow">@Model.Article.Follow.UserFollowText</a>
                            }
                        </div>
                        <div class="postcategory">
                            <label class="">@Model.Category <span class="">@Model.Article.Category</span></label>
                            @if (Model.Article.Follow != null)
                            {
                                <a href="@Model.Article.Follow.CategoryFollowUrl" class="btn btn-primary btn-follow follow">@Model.Article.Follow.CategoryFollowText</a>
                            }
                        </div>
                    </div>
                    <!-- end Post content !-->
                    <div class="article-actions visible-xs">
                        @if (!string.IsNullOrEmpty(Model.ReportToMedrator))
                        {
                            <a href="javascript:void(0)" class="moderate-article" data-type="false" data-apiurl="@Request.Url.GetLeftPart(UriPartial.Authority)/saapi/articledetail/reporttomodarte">@Model.ReportToMedrator<i>></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.EditPost))
                        {
                            <a href="/create-post?=@Sitecore.Context.Item.ID.ToString()">@Model.EditPost<i>></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.DeletePost))
                        {
                            <a href="javascript:void(0)" class="moderate-article" data-type="true" data-apiurl="@Request.Url.GetLeftPart(UriPartial.Authority)/saapi/articledetail/reporttomodarte">@Model.DeletePost<i>></i></a>
                        }

                    </div>
                    <!-- Start Realted Post content !-->
                    @Html.Sitecore().Placeholder("RelatedArticles")
                    <!-- End Related Post content !-->
                    <div class="article-actions hidden-xs">
                        @if (!string.IsNullOrEmpty(Model.ReportToMedrator))
                        {
                            <a href="javascript:void(0)" class="moderate-article" data-type="false" data-apiurl="@Request.Url.GetLeftPart(UriPartial.Authority)/saapi/articledetail/reporttomodarte">@Model.ReportToMedrator<i>></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.EditPost))
                        {
                            <a href="/create-post?id=@Sitecore.Context.Item.ID.ToString()">@Model.EditPost<i>></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.DeletePost))
                        {
                            <a href="javascript:void(0)" class="moderate-article" data-type="true" data-apiurl="@Request.Url.GetLeftPart(UriPartial.Authority)/saapi/articledetail/reporttomodarte">@Model.DeletePost<i>></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- end article details !-->
    </div>
    <div class="ModerteModal ModerteModal-popup">
        <div class="modal fade in" id="ModerteModal" tabindex="-1" role="dialog" aria-labelledby="ModerteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>@Model.MedratorMessage</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">@Model.MedratorButtonText</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="plagiarismModal" tabindex="-1" role="dialog" class="modal fade" data-backdrop="static">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>
                        @Translate.Text("DownloadWaringText")
                        <div data-toggle="buttons" class="btn-group ">
                            <label class="btn btn-default btn-sm">
                                <input aria-label="Attachment I Agree Text" autocomplete="off" id="attachment_i_agree" name="attachment_i_agree" type="checkbox">
                                <span class="fa fa-check"></span>
                            </label> @Translate.Text("DownloadIAgreeText")
                        </div>
                    </p>

                    <button type="button" class="btn btn-primary disabled" id="articleDownloadOk">@Translate.Text("DownloadWaringOk")</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Translate.Text("DownloadWaringCancel")</button>
                </div>
            </div>
        </div>
    </div>
}
