﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Article.Models.ArticleDetailViewModel

@if (Model != null && Model.Article != null)
{
    <div class="inpage-wrap">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-sm-8 col-sm-push-4 inpage-banner-content">
                <h5>@Model.Article.Category</h5>
                <h1>@Html.Raw(Model.Article.Name)</h1>
            </div>
            <div class="col-lg-4 col-sm-4 col-sm-pull-8">@Html.Raw(@Model.Article.Image)</div>
                </div>
        </div>
    </div>
}
