﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Article.Models.ArticleListViewModel

@if (Model != null)
{
    <input type="hidden" id="listurl" value="@Request.Url.GetLeftPart(UriPartial.Authority)/@this.ViewContext.RouteData.Values["controller"].ToString()" />
    <input type="hidden" id="listpageid" value="@Sitecore.Context.Item.ID.ToString()" />
    <input type="hidden" id="listcount" value="@Model.Count" />
    <div class="container">
        <div class="article-listing">
            <div class="row">
                <div class="col-lg-8 m-tb hidden-xs">
                    @Html.Sitecore().Placeholder("ListBreadcurmb")
                </div>
                <div class="col-lg-4 col-xs-12 pull-right">
                    <div class="artbtn-align">
                        @if (Model.Sortby != null)
                {
                            <div class="input-group sort-by">
                                <div class="form-group">
                                    <label>@Model.SortByLabel</label>
                                    <select required="required" class="form-control-sbox" id="articlelistsortby">
                                        @foreach (var sort in Model.Sortby)
                                        {
                                            <option value="@sort.Id">@sort.Title</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        @if (Model.Articles != null && Model.Articles.Count > 0)
                        {
                            @Html.Sitecore().Placeholder("Follow")
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 artlistwid mbot" id="articlelistcontainer">
                    @if (Model.Articles != null && Model.Articles.Count > 0)
                    {
                        foreach (var article in Model.Articles)
                        {
                            <div class="col-lg-3 col-sm-4 col-md-4 artboxbt">
                                <a href="@article.Link"><img class="img-responsive" src="@article.Image" alt="@article.Name" /></a>
                                <div class="article-list-content">
                                    <ul class="list-inline date-author hidden-xs">
                                        <li>@article.CreatedDate</li>
                                        <li>@article.CreatedBy</li>
                                    </ul>
                                    <a href="@article.Link"><p class="txtdot">@article.Name </p></a>
                                    <ul class="list-inline date-author visible-xs">
                                        <li>@article.CreatedDate</li>
                                        <li>@article.CreatedBy</li>
                                    </ul>
                                    <a href="@article.Link">
                                        <ul class="list-inline btn-social">
                                            <li><i class="fa fa-star"> </i> @article.Like</li>
                                            <li><i class="fa fa-comment"> </i> @article.Comments</li>
                                        </ul>
                                    </a>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <h1 class="article-listing-notfound text-center">@Html.Raw(Model.NotFoundLabel)</h1>
                    }
                </div>
            </div>
        </div>
    </div>
}
