﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.Feature.Article.Models.CategoryViewModel

@if (Model != null)
{
    <div class="container">
        <!-- Start DermoCosmetic !-->

        <div class="DermoCosmetic">
            @foreach (var category in Model.Categories)
            {
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="category">
                        <div class="category-logo">
                            @if (!string.IsNullOrEmpty(category.Image))
                            {
                                <img class="" src="@category.Image" alt="@category.Name" />
                            }
                        </div>
                        <div class="category-title">
                            <a href="@category.Link"><h2 class="">@category.Name</h2></a>
                            <div class="subcategory">
                                <ul class="list-inline">
                                    @foreach (var subcategory in category.SubCategories)
                                    {
                                        <li> <a href="@subcategory.Link">@subcategory.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- End DermoCosmetic !-->
    </div>
}