﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.Feature.Article.Models.CategoryViewModel

@if (Model != null)
{
    <div class="container">
        <!-- Start category slider scrolling !-->
        <div class="category-slider">
            <div class="categoryBox">
                <div id="mixedSlider">
                    <div class="MS-content">
                        @foreach (var category in Model.Categories)
                        {

                            <div class="item">

                                <div class="imgTitle">
                                    <a href="@category.Link">
                                        <img src="@category.Image" alt="@category.Name" />
                                    </a>
                                    <p class="blogTitle">
                                        <a href="@category.Link"> @category.Name</a>
                                    </p>
                                </div>

                            </div>

                        }
                    </div>
                    <div class="MS-controls">
                        <button class="MS-left" value="Previous"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
                        <button class="MS-right" value="Next"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end category slider scrolling !-->
    </div>

}