﻿@using Sitecore.Globalization
@using Loreal.Feature.Account
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Article.Models.CreatePostViewModel

@if (Model != null)
{
    <input type="hidden" id="fromreq" value="@Sitecore.Context.User.Name" />
    <div class="overlay" id="loader-overlay">
        <div class="loader-box">
            <img src="/themes/skinalliance/images/assets/loader.gif" alt="loader">
        </div>
    </div>
	<!-- Start create-post Content !-->
    <div class="create-post" data-postUrl="@Model.PublishApiUrl" data-mediaUrl="@Model.MediaApiUrl" data-webclipurl="@string.Concat(Model.PublishInstanceUrl,"api/sitecore/WebClipper/SiteContent")">
        <form id="createPostForm" name="create-post" method="post">
            <div class="container">
                <div class="wrap bg-danger text-danger error-messages error-message">
                    <ul class="js-errors"></ul>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-sm-8 col-md-8">
                        <div id="mediaDiv" style="display:none">
                            <div class="create-post-top">
                                <div class="create-post-title input-group crp-input visible-xs">
                                    <input type="text" id="mcrptitle" name="crptitle" class="form-control" data-title="@Model.TitleValidationMessage" aria-label="@Model.TitleCaption" placeholder="@Model.TitleCaption">
                                </div>
                                <div class="post-thumbnail pull-left">

                                    @Html.TextBox("file", null, new
                               {
                                   type = "file",
                                   accept = Model.ImageFileFormat,
                                   id = "input-file-now",
                                   @class = "dropify",
                                   data_show_remove = "false",
                                   @aria_label= Model.ImageCaption,
                                   data_default_file="",
                                   data_default_label = (Model.Article != null && !string.IsNullOrEmpty(Model.Article.Image)) ?
                                                                    string.Concat(Request.Url.GetLeftPart(UriPartial.Authority), Model.Article.Image) : Model.ImageCaption, data_max_file_size="500K"
                               })

                                </div>
                                <div class="create-post-title input-group crp-input hidden-xs">
                                    @Html.TextBox("crptitle", (Model.Article != null) ? Model.Article.Name : string.Empty, new { @class = "form-control", data_title = Model.TitleValidationMessage, @arial_label=Model.TitleCaption, placeholder = Model.TitleCaption })
                                </div>
                            </div>
                            <div class="addmedia" data-article="@Model.ArticleMediaId" data-media-validate="@Model.AddMediaValidationMessage">
                                <div class="custom-file-upload-btn">
                                    <input type="file" id="file_1" name="file_1" class="file_multi_video inputfile" arial-label="@Model.MediaCaption">

                                    <label for="file[]" class="btn btn-primary"><span class="fa fa-file-image-o" aria-hidden="true"></span>@Model.MediaCaption</label>
                                </div>
                                <span class="form-hint">(images, videos, pdf, etc.)</span>
                                <div id="mediaList" class="uploaded-files"></div>
                            </div>
                            <button type="button" id="uploadFiles" class="btn btn-primary" title="@Model.UploadCapion">@Model.UploadCapion</button>
                            <div id="mediaValidation" class="error-message"></div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 nopadding text-editor">
                                <textarea id="postEditor" class="rich-txt-editor" title="post content" data-watermark="@Model.RTEWatermark">
                                    @if (Model.Article != null && !string.IsNullOrEmpty(Model.Article.Body))
                                    {
                                        @Html.Raw(Model.Article.Body)
                                    }
                                </textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-group crp-input">
                            @Html.TextBox("crpurl", (Model.Article != null && !string.IsNullOrEmpty(Model.Article.ExternalUrl)) ? Model.Article.ExternalUrl : string.Empty, new { type = "url", id = "crpWebsiteUrl", @class = "form-control", data_crpurl = string.Empty, placeholder = Model.WebsiteUrlCaption,@aria_label = Model.WebsiteUrlCaption })
                        </div>

                        <div class="panel panel-default noborder QuestionnaireSection">
                            <input type="hidden" id="QuestionJsonString" value="@Model.QuestionnaireJson" />
                            <div class="panel-heading noborder">@Model.QuestionnaireCaption</div>
                            <div class="panel-body noborder">
                                <div class="saved-questions">
                                    <ul class="saved-questions-list list-no-style">
                                        <!--<li>
                                            Question 1
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </li>-->
                                    </ul>
                                </div>
                                <div class="error-message quest-errmsg"></div>
                                <div class="error-message answer-errmsg"></div>
                                <div class="error-message chkbox-errmsg"></div>
                                <span id="questionnarieToggle" data-toggle="collapse" href="#add-question" title="add question" aria-expanded="false" class="add-questionnaire-link"><i class="fa fa-plus addquestion"></i>@Model.AddQuestionCaption</span>
                                <div id="add-question" class="collapse add-question">
                                    <div class="add-question-input">
                                        <input type="text" id="question" name="question"  class="form-control" aria-label="@Model.QuestionPlacehoderText" placeholder="@Model.QuestionPlacehoderText" data-question="@Model.IsQuestionRequired">
                                    </div>
                                    <div class="add-answers">
                                        <p class="add-answers-title pull-left">@Model.AnswerCaption</p>
                                        <span class="pull-right">@Model.CorrectCaption</span>
                                        <ul class="list-no-style answers-input-list" data-answer="@Model.IsAnswerRequired" data-checkbox="@Model.IsCheckBoxRequired">
                                            <li>
                                                <div class="add-answer-input">
                                                    <strong class="answer-option">@Model.AnswerACaption</strong>
                                                    <input type="text" id="optionA" name="optionA" class="form-control options" aria-label="@Model.AnswerACaption">
                                                </div>
                                                <div class="add-answer-correct">
                                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                                        <label class="btn btn-default">
                                                            <input type="checkbox" id="chkOptionA" name="chkOptionA" autocomplete="off">
                                                            <span class="fa fa-check"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="add-answer-input">
                                                    <strong class="answer-option">@Model.AnswerBCaption</strong>
                                                    <input type="text" id="optionB" name="optionB" class="form-control options" aria-label="@Model.AnswerBCaption">
                                                </div>
                                                <div class="add-answer-correct">
                                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                                        <label class="btn btn-default">
                                                            <input type="checkbox" id="chkOptionB" name="chkOptionB" autocomplete="off">
                                                            <span class="fa fa-check"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="add-answer-input">
                                                    <strong class="answer-option">@Model.AnswerCCaption</strong>
                                                    <input type="text" id="optionC" name="optionC" class="form-control options" aria-label="@Model.AnswerCCaption">
                                                </div>
                                                <div class="add-answer-correct">
                                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                                        <label class="btn btn-default">
                                                            <input type="checkbox" id="chkOptionC" name="chkOptionC" autocomplete="off">
                                                            <span class="fa fa-check"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="add-answer-input">
                                                    <strong class="answer-option">@Model.AnswerDCaption</strong>
                                                    <input type="text" id="optionD" name="optionD" aria-label="@Model.AnswerDCaption" class="form-control options">
                                                </div>
                                                <div class="add-answer-correct">
                                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                                        <label class="btn btn-default">
                                                            <input type="checkbox" id="chkOptionD" name="chkOptionD"  autocomplete="off">
                                                            <span class="fa fa-check"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="user-response">
                                        <textarea class="form-control" id="response" name="response" aria-label="@Model.ResponseCaption" placeholder="@Model.ResponseCaption"></textarea>
                                    </div>
                                    <div class="question-footer">
                                        <div class="btn-group custom-checkbox pull-left" data-toggle="buttons">
                                            <label class="btn btn-default">
                                                <input type="checkbox" id="userResponse" name="userResponse" autocomplete="off" title="@Model.ResponseInPercentageCaption">
                                                <span class="fa fa-check"></span>
                                            </label>@Model.ResponseInPercentageCaption
                                        </div>
                                        <input type="hidden" id="checkEditQuestion" value="-1" />
                                        <button type="button" class="btn btn-primary btn-small pull-right" id="saveQuestion" title="@Model.SaveCaption">@Model.SaveCaption</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group crp-input hidden-xs">
                            <input type="submit" id="createPostPreview" class="btn btn-primary" data-preview-url="@Model.PreviewUrl" value="@Model.PreviewCaption" aria-label="@Model.PreviewCaption">
                            <input type="submit" id="createPostPublish" class="btn btn-primary pull-right" data-isupdate="@Model.IsUpdate" value="@Model.PublishCaption" aria-label="@Model.PreviewCaption">
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <div class="crp-category">
                            <h1 class="">@Model.CategoryCaption</h1>
                            <div class="crp-cate-box categories-list" id="CreatePostCatelist" data-category="@Model.IsCategoryRequired">
                                @if (Model.CategoryList != null && Model.CategoryList.Count() > 0)
                                {
                                    int x = 1;
                                    foreach (var categoryGroup in Model.CategoryList)
                                    {
                                        int i = 1;
                                        <h4 data-categories="@categoryGroup.Key" class="post-main-category">@categoryGroup.Key</h4>
                                        foreach (var category in categoryGroup.Value)
                                        {
                                            <div class="post-sub-category">
                                                <h5 data-toggle="collapse" aria-expanded="true" data-target="#sub-cat-@i-@x" class="post-sub-category-title" data-subCategory="@category.ID">@category.Name</h5>
                                                <ul id="sub-cat-@i-@x" class="post-sub-category-list list-unstyled collapse in" expanded="true">
                                                    @foreach (var subCategory in category.SubCategories)
                                                    {
                                                        string active = string.Empty;
                                                        string isChecked = string.Empty;
                                                        if (Model.CategoryIds != null && Model.CategoryIds.Count() > 0)
                                                        {
                                                            var isExist = Model.CategoryIds.Contains(subCategory.ID);
                                                            active = isExist ? "active" : string.Empty;
                                                            isChecked = isExist ? "checked=checked" : string.Empty;
                                                        }
                                                        <li data-subCategoryId="@subCategory.ID">
                                                            <div class="btn-group custom-checkbox" data-toggle="buttons">
                                                                <label class="btn btn-default @active">
                                                                    <input @isChecked type="checkbox" name="subcat[]" autocomplete="off">
                                                                    <span class="fa fa-check"></span>
                                                                </label>@subCategory.Name
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            i++;
                                        }
                                        x++;
                                    }
                                }
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-group crp-input visible-xs">
                            <input type="submit" id="mcreatePostPreview" class="btn btn-primary" data-preview-url="@Model.PreviewUrl" value="@Model.PreviewCaption" aria-label="@Model.PreviewCaption">
                            <input type="submit" id="mcreatePostPublish" class="btn btn-primary pull-right" value="@Model.PublishCaption" aria-label="@Model.PublishCaption">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @Html.Raw(Model.SuccessMessage)
        @Html.Raw(Model.FailureMessage)
    </div>
	<!-- end create-post Content !-->
}
