﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<!-- Start Latest Post content !-->
<div class="container">
    <div class="row mtop">
         @Html.Sitecore().Placeholder("ArticleHomeWidgets")
      </div>
</div>
