﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Article.Models.ArticleListViewModel

@if (Model != null && Model.Articles != null && Model.Articles.Count > 0)
{
   <!-- Start Latest Post content !-->
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="SAPost">
            <div class="LatestPost">
                <h1 class="title pull-left">@Model.Title</h1>
                @if (Model.Articles.Count > 2)
                {
                    <p class="viewall pull-right"><a href="@Model.ViewUrl">@Model.ViewAll</a></p>
                }
            </div>
            <div class="clearfix"></div>
            <ul class="list-inline">
                @foreach (var article in Model.Articles.Take(2))
                {
                    <li>
                        <div class="postImg">
                            <div class="pull-left">
                                <a href="@article.Link"> <img class="img-responsive PImg lazy" src="@article.Image" alt="@article.Name" /></a>
                            </div>
                            <div class="post-comment pull-right">
                                <p class="pDate">@article.CreatedDate</p>
                                <a href="@article.Link">
                                    <p class="pwrite txtwodot">@article.Name</p>
                                </a>
                                <a href="@article.Link">
                                    <div class="plike">
                                        <p class="pStar"><i class="fa fa-star">  </i> @article.Like </p>
                                        <p class="pComment"><i class="fa fa-comment"> </i> @article.Comments</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- End  Latest Post  content !-->
}