﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Article.Models.ArticleListViewModel

@if (Model != null && Model.Articles != null && Model.Articles.Count > 0)
{
    <!-- Start Realted Post content !-->
    <div class="Related-Posts">
        <h1 class="title-underlined">@Translate.Text(Loreal.Feature.Article.Dictionary.RelatedPost.Title)</h1>
        @{
            int i = 0;
        }
        @foreach (var article in Model.Articles)
        {
            <div class="relate-post-cont">
                <span class="related-post-thumb">
                    <a href="@article.Link">   <img class="img-responsive" src="@article.Image" alt="@article.Name" /></a>
                </span>
                <a href="@article.Link">
                    <ul class="list-inline">
                        <li class="txtdot">
                            <p>@article.Name</p>
                        </li>

                        <li class="related-post-like-comment">
                            <span>
                                <i class="fa fa-star"></i>
                                @article.Like
                            </span>

                            <span>
                                <i class="fa fa-comment"></i>@article.Comments
                            </span>
                        </li>
                    </ul>
                </a>
            </div>
            i++;
            if (i == 2)
            {
                break;
            }

        }
    </div>
}