﻿@using Sitecore.Globalization
@using Loreal.Feature.Article
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Loreal.Feature.Article.Models.SubCategoryViewModel

@if (Model != null)
{
    <div class="container">
        <!-- Start Subcategory Listing !-->
        <div class="subcategory-listing">
            <div class="col-lg-8 m-tb hidden-xs">
                @Html.Sitecore().Placeholder("ListBreadcurmb")
            </div>
            <div class="pull-right subcategory-follow">
                @if (Model.SubCategories != null && Model.SubCategories.Count > 0)
                {
                    foreach (var subCategory in Model.SubCategories)
                    {
                        if (subCategory.Articles != null && subCategory.Count > 0)
                        {
                            <div class="col-lg-4 cent-align">
                                @Html.Sitecore().Placeholder("Follow")
                            </div>
                            break;
                        }
                    }
                }
            </div>
            @{
                bool hasArticles = false;
            }
            @foreach (var subCategory in Model.SubCategories)
            {
                if (subCategory.Articles != null && subCategory.Count > 0)
                {
                    hasArticles = true;
                    <div class="col-lg-6 col-md-6">
                        <div class="sub-category">
                            <div class="sub-categoryPost">
                                <h1 class="sub-title pull-left">@subCategory.Name</h1>

                                <p class="sub-viewall pull-right">
                                    @if (subCategory.Count > 2)
                                    {
                                        <a href="@subCategory.Link">@subCategory.ViewAll<span>></span></a>

                                    }
                                <p>

                            </div>
                            <div class="clearfix"></div>
                            @foreach (var article in subCategory.Articles.Take(2))
                            {
                                <div class="subpostImg">
                                    <div class="pull-left">
                                        <a href="@article.Link"> <img class="img-responsive subPImg" src="@article.Image" alt="@article.Name" /></a>
                                    </div>
                                    <div class="subpost-comment pull-right">

                                        <a href="@article.Link">
                                            <p class="subpwrite txtwodot"> @Html.Raw(article.Name)</p>
                                        </a>
                                        <a href="@article.Link">
                                            <div class="subplike">
                                                <p class="subpStar"><i class="fa fa-star">  </i> @article.Like </p>
                                                <p class="subpComment"><i class="fa fa-comment"> </i> @article.Comments</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            @if (!hasArticles)
            {
                <div class="col-lg-12 col-md-12">
                    <h1 class="article-listing-notfound text-center">@Html.Raw(Translate.Text(Dictionary.ArticlesNotFoundLabel))</h1>
                </div>
            }
        </div>
        <!-- End Subcategory Listing !-->
    </div>
 }
