﻿@using Sitecore.XA.Feature.Composites.Theming
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler

@{
    AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new CompositeThemesProvider());
}

<!DOCTYPE HTML>
<html>
<head runat="server">
    <meta charset="utf-8">
    <style type="text/css">
        .scChromeData {
            display: none;
        }
    </style>
    <title>Edit tab</title>
    @foreach (string style in assetLinks.Styles)
    {
        @Html.Raw(style)
    }
</head>
<body id="body" @Html.Sxa().Body().Decorate()>
    <form id="form">
        <div id="wrapper">
            <div id="content" class="main clearfix">
                <div class="row">
                    <div class="grid-12">
                        <div class="component tabs">
                            <div class="component-content">
                                <ul class="tabs-heading">
                                    <li>
                                        <a href='#'>
                                            @Html.Sitecore().Placeholder("section-title")
                                        </a>
                                    </li>
                                </ul>
                                <div class="tabs-container">
                                    <div class="tab">
                                        @Html.Sitecore().Placeholder("section-content")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @{
        foreach (string script in assetLinks.Scripts)
        {
            @Html.Raw(script)
        }
        if (!Sitecore.Context.PageMode.IsNormal)
        {
            <input type="hidden" id="hdPageMode" value="@(Sitecore.Context.PageMode.IsPreview ? "preview" : "edit")" />
        }
    }
</body>
</html>
