﻿@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Data.Items
@using Loreal.Feature.Congress
@using System.Globalization
@using System

@model Loreal.Feature.Congress.Models.CongressDetailViewModel

@if (Model != null)
{
    <div class="container congress-detail">
        <div class="row">
            <div class="col-lg-8 col-md-8 congress-detail-left">
                <div class="congress-detail-info">
                    <p>@Html.Raw(Model.Congress.Details)</p>
                </div>
                <div class="congress-register">
                    @Html.Raw(Model.Congress.RegisterLink)
                </div>
            </div>
            <aside class="col-lg-4 col-md-4 congress-detail-right">
                @if (Model.OtherCongress.Any())
                {
                    <div class="other-congresses">
                        <h3 class="title-underlined">@Html.Raw(Model.Congress.OtherText)</h3>
                        <ul class="other-congress-list">
                            @foreach (var category in Model.OtherCongress)
                            {
                                <li class="other-congress-list-item clearfix">
                                    <a href="@category.Link" class="congress-container">
                                        <div class="congress-schedule congress-schedule-big pull-left">
                                            <p class="congress-month">@category.Month</p>
                                            <p class="congress-date">@category.Day</p>
                                        </div>
                                        <div class="congress-info pull-left txtdot">
                                            @category.Description
                                        </div>
                                    </a>

                                </li>
                            }
                        </ul>
                    </div>
                }
            </aside>
        </div>
    </div>
}