﻿@using Sitecore.Globalization
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.Feature.Congress.Models.CongressCategoryViewModel

@if (Model != null)
{
    <section class="congress-listing container">
        <div class="row">
            @foreach (var category in Model.List)
            {
                <a href="@category.Link">
                    <div class="col-lg-3 col-sm-6 col-md-4 congress-list-item">
                        <div class="congress-list-image">
                            @Html.Raw(category.Image)
                            <div class="congress-schedule">
                                <p class="congress-month">@category.Month</p>
                                <p class="congress-date">@category.Day</p>
                            </div>
                        </div>
                        <p class="congress-list-info txtdot">
                            @category.Description
                        </p>
                    </div>
                </a>
            }
        </div>
    </section>
}