﻿@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Data.Items
@using Loreal.Feature.Congress
@using System.Globalization
@using System

@model Loreal.Feature.Congress.Models.CongressDetailViewModel

@if (Model != null)
{
    <div class="inpage-wrap inpage-wrap-with-date">
        <div class="container">
            <div class="row">

            <div class="col-lg-8 col-sm-8 col-sm-push-4 inpage-banner-content">
                    <h5>@string.Concat(Model.CategoryName, ":")</h5>
                    <h1>@Html.Raw(Model.Congress.Title)</h1>
                </div>

            <div class="col-lg-4 col-sm-4 col-sm-pull-8 banner-title-image">
                @Html.Raw(Model.Congress.Image)
                <div class="congress-schedule">
                    <p class="congress-month">@Model.Congress.Month</p>
                    <p class="congress-date">@Model.Congress.Day</p>
                </div>
            </div>



        </div>
            </div>
    </div>
}
