﻿@using Sitecore.Globalization
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.Feature.Congress.Models.CongressCategoryListViewModel

@if (Model != null)
{

    <div class="congress-landing">
        @foreach (var category in Model.List)
        {
            if (category.List != null && category.List.Count > 0)
            {
                <div class="container pbot">
                <div class="row">
                    <div class="cong-header">
                        <h1>@category.Name</h1>
                        @if (category.Count > 4)
                        {
                            <div class="pull-right"><a href="@category.Link"> @Translate.Text("viewalltext") ></a></div>
                        }
                    </div>

                    <div class="clearfix"></div>
                    @foreach (var catlist in category.List)
                    {

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="cong-wrap ">
                                <a href="@catlist.Link">
                                    <div class="cong-ddmm">
                                        <p class="cong-date">@catlist.Month</p>
                                        <p class="cong-month">@catlist.Day</p>
                                    </div>
                                </a>
                                <div class="cong-comment">
                                    <a href="@catlist.Link" class="congress-container"> <p class="cong-post txtdot">@catlist.Description</p></a>
                                </div>
                            </div>
                        </div>


                    }
                    </div>
                </div>
            }
        }
    </div>
}
