﻿@using Sitecore.Globalization
@using System.Web.Mvc
@using Sitecore.Mvc

@model Loreal.Feature.Congress.Models.CongressCategoryListViewModel

@if (Model != null)
{

    <div class="container">
        <div class="upcoming-congress">
            @foreach (var category in Model.List)
            {

                    <div class="upc-header">
                        <h1>@category.Name</h1>
                        <div class="pull-right"><a href="@category.Link"> @Translate.Text("viewalltext") > </a></div>
                    </div>

                    <div class="row">
                    @foreach (var catlist in category.List)
                    {
                            <div class="col-lg-3 col-md-6">
                                <div class="upc-wrap ">

                                    <div class="upc-ddmm">
                                        <p class="upc-date">@catlist.Month</p>
                                        <p class="upc-month">@catlist.Day</p>
                                    </div>

                                    <div class="upc-comment">
                                        <a href="@catlist.Link" class="congress-container"><p class="upc-post txtdot">@catlist.Description</p></a>
                                    </div>
                                </div>
                            </div>
                    }
                    </div>

            }
        </div>
    </div>

}
