<div class="container">
<!-- start article details !-->
<div class="Adetails-page">
	<div class="row">
		<div class="col-lg-8 col-md-8">
			<!-- Start Article Details content !-->
			<div class="article-details">
				<div class="visible-xs">
				<!-- Start Post content !-->
					<div class="pdetail-title">
						<div class="postdate">
							<label class="">Posted: <span class="" >20th March 2017</span></label>
						</div>
						<div class="postby">
							 <label class="">Posted by: <span class="">Community Manager</span></label><a href="#" class="btn btn-primary follow">follow</a>
						</div>
						<div class="postcategory">
							<label class="">Category: <span class="">: Sub-Category Name</span></label><a href="#" class="btn btn-primary follow">follow</a>
						</div>
					</div>
				</div>
				<h1 >{{articleDetails.title}}</h1>
				<p>{{articleDetails.desc}}</p>
				{{#each articleDetails.articleList}}
					<img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" />
				{{/each}}

				<div class="clearfix"></div>

				<p>{{articleDetails.desc1}}</p>
				<p>{{articleDetails.desc2}}</p>
			</div>

			<div class="clearfix"></div>

			<!-- Access website and Like button -->
			<div class="full-width">
				<a href="#" class="btn btn-primary pull-left btn-access">Access website</a>
				<a href="#" class="btn btn-primary pull-right btn-like"><i class="fa fa-star"></i> Like (6) </a>
				<ul class="social-share">
					<li><a href="#" title="Share in Facebook"><img src="{{ ./imgDir }}/assets/share-facebook.svg"></a></li>
					<li><a href="#" title="Share in Twitter"><img src="{{ ./imgDir }}/assets/share-twitter.png"></a></li>
					<li><a href="#" title="Share in Linkedin"><img src="{{ ./imgDir }}/assets/share-linkedin.svg"></a></li>
				</ul>
			</div>

			<div class="clearfix"></div>

			<!-- Start Article comment content !-->

			<div class="Article-Comments">
			<h1>Comments:</h1>
				{{#each articleDetails.articleComments}}
					<div class="arti-post-cmnt">
						<img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" />
						<ul class="list-inline">
							<li>{{this.username}}</li>
							<li class=""><p> {{this.desc}} </p> </li>
							<li><span>{{this.date}}</span>
									<a class="reply-comment" href="#" data-toggle="modal" data-target="#reply-comment-2">Reply </a>
									<a class="edit-comment" href="#" data-toggle="modal" data-target="#edit-comment-2">Edit</a></li>
						</ul>
					</div>
				{{/each}}

				<div class="input-group inpaddsp usrinput">
				<label for="post-comment"> Comments</label>
				  <textarea type="text" id="address" name="address" class="form-control" placeholder="{{address}}" rows="5"></textarea>
				</div>
				<div class="">
					<button type="submit" value="Submit" class="btn btn-primary">Post comment</button>
				</div>
			</div>

			<!-- End Article comment content !-->
		</div>
		<!-- End Article details content !-->

		<div class="col-lg-4 col-md-4">
		<!-- Start Post content !-->
			<div class="pdetail-title hidden-xs">
				<h1 class="title-underlined">Post Details</h1>
				<div class="postdate">
					<!-- <i class="fa fa-calendar"></i>--> <label class="">Posted: <span class="" >20th March 2017</span></label>
				</div>
				<div class="postby">
					<!--<i class="fa fa-user"></i>--> <label class="">Posted by: <span class="">Community Manager</span></label><a href="#" class="btn btn-primary follow">follow</a>
				</div>
				<div class="postcategory">
					<!--<i class="fa fa-tag"></i>--> <label class="">Category: <span class="">: Sub-Category Name</span></label><a href="#"class="btn btn-primary follow">follow</a>
				</div>
			</div>
			<!-- end Post content !-->
			<!-- ARTICLE ACTIONS -->
			<div class="article-actions visible-xs">
					<a href="#">Report to moderator<i>></i></a>
					<a href="#">Edit post<i>></i></a>
					<a href="#">Delete Post<i>></i></a>
			</div>
			<!-- Start Realted Post content !-->
			<div class="Related-Posts">
				<h1 class="title-underlined">Related Posts</h1>
				{{#each relatedPost}}
					<div class="relate-post-cont">
						<span class="related-post-thumb">
							<a href="#"><img class="" src="{{ ../imgDir }}/assets/{{this.src}}" alt="{{this.alt}}" /></a>
						</span>
						<a href="#">
						<ul class="list-inline">
							<li class=""><p class="txtdot"> {{this.postDesc}}</p> </li>
							<li class="related-post-like-comment"><span><i class="fa fa-star"></i>{{this.star}}</span><span><i class="fa fa-comment"></i>{{this.comments}}</span></li>
						</ul>
					</a>
					</div>
				{{/each}}
			</div>
			<!-- End Related Post content !-->
			<!-- ARTICLE ACTIONS -->
			<div class="article-actions hidden-xs">
					<a href="#">Report to moderator<i>></i></a>
					<a href="#">Edit post<i>></i></a>
					<a href="#">Delete Post<i>></i></a>
			</div>
		</div>
	</div>
</div>
<!-- end article details !-->
</div>
