﻿@using Sitecore.Globalization
@using Sitecore.Mvc
@using System.Web.Mvc.Html
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc.Configuration
@using System.Web.Mvc.Html
@using Loreal.Feature.FollowandComments

@if (Model != null)
{
    int i = 1;
    <div class="panel-group survey-detail" id="accordion" role="tablist" aria-multiselectable="true" data-validate-answer="Please check atleast one answer" data-postQuizUrl="@Request.Url.GetLeftPart(UriPartial.Authority)/saapi/Servey/Update">
        <!-- QUESTION-1 -->
        @foreach (var item in Model.Questionnaire)
        {
            <div class="panel panel-default noborder QuestionnaireSection">
                <div class="panel-heading noborder">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#question-@i" aria-expanded="true" aria-controls="question-@i">
                        @string.Concat(Model.TabHeading, " ", i.ToString())
                    </a>
                </div>
                <div id="question-@i" data-articleid="@item.ArticleId" data-quizid="@item.QuizId" data-correct="@item.Correct" class="panel-collapse collapse @(item.Active?"in":"")" role="tabpanel" aria-labelledby="question-@i-heading">
                    <div class="panel-body noborder survey-question">
                        <div class="error-message chkbox-errmsg"></div>
                        <p class="question">@item.Question</p>
                        <ul class="survey-answers list-no-style">
                            @if (!string.IsNullOrEmpty(item.AnswerAText))
                            {
                                <li>
                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="checkbox" id="chkOptionA" name="ChkOptionA" autocomplete="off">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                    <span class="answer-option">@Model.AnswerACaption</span>
                                    <span class="answer-text">@item.AnswerAText</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(item.AnswerBText))
                            {
                                <li>
                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="checkbox" id="chkOptionB" name="ChkOptionB" autocomplete="off">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                    <span class="answer-option">@Model.AnswerBCaption</span>
                                    <span class="answer-text">@item.AnswerBText</span>
                                </li>
                            }@if (!string.IsNullOrEmpty(item.AnswerCText))
                            {
                                <li>
                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="checkbox" id="chkOptionC" name="ChkOptionC" autocomplete="off">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                    <span class="answer-option">@Model.AnswerCCaption</span>
                                    <span class="answer-text">@item.AnswerCText</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(item.AnswerDText))
                            {
                                <li>
                                    <div class="btn-group custom-checkbox" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="checkbox" id="chkOptionD" name="ChkOptionD" autocomplete="off">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                    <span class="answer-option">@Model.AnswerDCaption</span>
                                    <span class="answer-text">@item.AnswerDText</span>
                                </li>
                            }
                        </ul>
                        <div class="survey-submit">
                            <input type="submit" data-subPanelId="question-@i" class="btn btn-primary pull-right questionnaire-btn" value="@Model.SubmitButtonText">
                        </div>
                        @if (!string.IsNullOrEmpty(item.Response))
                        {
                            <div class="feedback">
                                <h5>@Translate.Text(Dictionary.Follow.Comment.ClinicalComment.CommentText)</h5>
                                <p>@item.Response</p>
                            </div>
                        }
                        @if (item.ResponseInPercentage)
                        {
                            <div class="results-chart">
                                @if (!string.IsNullOrEmpty(item.AnswerAText))
                                {
                                    <div class="options option-a">
                                        <p class="result-percent"></p>
                                        <div class="bar" style="height:0px;">
                                        </div>
                                        <p class="result-option"></p>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.AnswerBText))
                                {
                                    <div class="options option-b">
                                        <p class="result-percent"></p>
                                        <div class="bar" style="height:0px">
                                        </div>
                                        <p class="result-option"></p>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.AnswerCText))
                                {
                                    <div class="options option-c">
                                        <p class="result-percent"></p>
                                        <div class="bar" style="height:0px">
                                        </div>
                                        <p class="result-option"></p>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.AnswerDText))
                                {
                                    <div class="options option-d">
                                        <p class="result-percent"></p>
                                        <div class="bar" style="height:0px">
                                        </div>
                                        <p class="result-option"></p>
                                    </div>
                                }
                                <div class="chart-history">
                                    <div class="correct"><span class="chart-history-box green"></span><label>@Translate.Text(Dictionary.Follow.Comment.ClinicalComment.CorrectText)</label></div>
                                    <div class="wrong"><span class="chart-history-box red"></span><label>@Translate.Text(Dictionary.Follow.Comment.ClinicalComment.WrongText)</label></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            i = i + 1;
        }
    </div>
}
