<!-- Start create-post Content !-->
<div class="overlay" id="loader-overlay">
        <div class="loader-box">
            <img src="{{ ./imgDir }}/assets/loader.gif" alt="loader">
        </div>
</div>
<div class="create-post"  data-postUrl="http://www.mocky.io/v2/59689f33110000c60b614bae" data-mediaUrl="http://www.mocky.io/v2/5968a8bf110000f40b614bc9" data-webclipurl="/api/sitecore/WebClipper/SiteContent">
	 <form id="createPostForm" name="create-post" method="post">
	<div class="container">
		<div class="wrap bg-danger text-danger error-messages error-message">
					<ul class="js-errors"></ul>
		</div>
		<div class="row">
			<div class="col-lg-8 col-sm-8 col-md-8">
				<div id="mediaDiv" style="display:none">
					<div class="create-post-top">
						<div class="create-post-title input-group crp-input pull-left visible-xs">
							<input type="text" id="mcrptitle" name="mcrptitle" class="form-control" data-title="Please enter the post title" placeholder="{{crptitle}}">
						</div>
						<div class="post-thumbnail">
							<input type="file" id="input-file-now" class="dropify" data-show-remove="false" data-max-file-size="500K" data-default-file="" data-default-label="Select Thumbnail Image"/>
						</div>
						<div class="create-post-title input-group crp-input pull-left hidden-xs">
							<input type="text" id="crptitle" name="crptitle" class="form-control" data-title="Please enter the post title" placeholder="{{crptitle}}">
						</div>
					</div>
					<div class="addmedia" data-media-validate="Please enter the title and then upload">
						<div class="custom-file-upload-btn">
						  <input type="file" id="file_1" name="file_1" class="file_multi_video inputfile">
							<label for="file[]" class="btn btn-primary"><span class="fa fa-file-image-o" aria-hidden="true"></span> Add Media</label>
						</button>
						</div>
						<span class="form-hint">(images, videos, pdf, etc.)</span>
						<div id="mediaList" class="uploaded-files"></div>
					</div>
				<button type="button" id="uploadFiles" class="btn btn-primary">Upload</button>
				<div id="mediaValidation" class="error-message"></div>
				<div class="clearfix"></div>
				<div class="col-lg-12 nopadding text-editor mbot">
					<textarea id="postEditor" class="rich-txt-editor"></textarea>
				</div>
				</div>
				<div class="input-group crp-input">
					<input type="url" id="crpWebsiteUrl" name="crpurl" class="form-control" data-crpurl="" data-btnName="Access website" placeholder="{{crpurl}}">
				</div>

				<div class="panel panel-default noborder QuestionnaireSection">
					<div class="panel-heading noborder">Questionnaire</div>
					<div class="panel-body noborder">
						<div class="saved-questions">
							<ul class="saved-questions-list list-no-style"></ul>
						</div>
						<div class="error-message quest-errmsg"></div>
						<div class="error-message answer-errmsg"></div>
						<div class="error-message chkbox-errmsg"></div>
						<span id="questionnarieToggle" data-toggle="collapse" href="#add-question" aria-expanded="false" class="add-questionnaire-link"><i class="fa fa-plus addquestion"></i>Add Questionnaire</span>
						<div id="add-question" class="collapse add-question">
							<div class="add-question-input">
								<input type="text" id="question" name="question" class="form-control" placeholder="Enter Question" data-question="Please enter the question">
							</div>
							<div class="add-answers">
								<p class="add-answers-title pull-left">Answers:<span>(Enter two to four answers)</span></p>
								<span class="pull-right">Correct:</span>
								<ul class="list-no-style answers-input-list" data-answer="Please enter atleast two answers" data-checkbox="Please check atleast one answer">
									<li>
										<div class="add-answer-input">
											<strong class="answer-option">A:</strong>
											<input type="text" id="optionA" name="optionA" class="form-control options">
										</div>
										<div class="add-answer-correct">
											<div class="btn-group custom-checkbox" data-toggle="buttons">
												<label class="btn btn-default">
												<input type="checkbox" id="chkOptionA" name="chkOptionA" autocomplete="off">
												<span class="fa fa-check"></span>
											</label></div>
										</div>
									</li>
									<li>
										<div class="add-answer-input">
											<strong class="answer-option">B:</strong>
											<input type="text"  id="optionB" name="optionB" class="form-control options">
										</div>
										<div class="add-answer-correct">
											<div class="btn-group custom-checkbox" data-toggle="buttons">
												<label class="btn btn-default">
												<input type="checkbox"  id="chkOptionB" name="chkOptionB" autocomplete="off">
												<span class="fa fa-check"></span>
											</label></div>
										</div>
									</li>
									<li>
										<div class="add-answer-input">
											<strong class="answer-option">C:</strong>
											<input type="text" id="optionC" name="optionC" class="form-control options">
										</div>
										<div class="add-answer-correct">
											<div class="btn-group custom-checkbox" data-toggle="buttons">
												<label class="btn btn-default">
												<input type="checkbox"  id="chkOptionC" name="chkOptionC" autocomplete="off">
												<span class="fa fa-check"></span>
											</label></div>
										</div>
									</li>
									<li>
										<div class="add-answer-input">
											<strong class="answer-option">D:</strong>
											<input type="text" id="optionD" name="optionD" class="form-control options">
										</div>
										<div class="add-answer-correct">
											<div class="btn-group custom-checkbox" data-toggle="buttons">
												<label class="btn btn-default">
												<input type="checkbox"  id="chkOptionD" name="chkOptionD" autocomplete="off">
												<span class="fa fa-check"></span>
											</label></div>
										</div>
									</li>
								</ul>
							</div>
							<div class="user-response">
								<textarea class="form-control" id="response" name="response" data-watermark="Enter Response"></textarea>
							</div>
							<div class="question-footer">
								<div class="btn-group custom-checkbox pull-left" data-toggle="buttons">
									<label class="btn btn-default">
									<input type="checkbox" id="userResponse" name="userResponse"  autocomplete="off">
									<span class="fa fa-check"></span>
								</label><span class="check-label">Display user response percentages</span></div>
								<input type="hidden" id="checkEditQuestion" value="-1" />
								<button type="button" id="saveQuestion" class="btn btn-primary btn-small pull-right">Save</button>
							</div>
						</div>
					</div>
				</div>
				<div class="input-group crp-input hidden-xs">
					<input type="button" id="createPostPreview" data-IsUpdate="True" class="btn btn-primary" data-preview-url="http://localhost:3000/components/preview/create-post-preview" value="preview"></input>
					<input type="button" id="createPostPublish" data-IsUpdate="True" class="btn btn-primary pull-right" value="publish">
				</div>

			</div>
			<div class="col-lg-4 col-sm-4 col-md-4">
			<div class="crp-category">
				<h1 class="">category</h1>
				<div id="CreatePostCatelist" class="crp-cate-box categories-list" data-category="Please select atleast one category">
					<h4 data-categories="Dermocosmetics_Knowledge" class="post-main-category">Dermocosmetics Knowledge</h4>
					<div class="post-sub-category">
						<h5 data-subCategory="Aesthetics" data-toggle="collapse" aria-expanded="true" data-target="#sub-cat-1" class="post-sub-category-title">Aesthetics</h5>
						<ul id="sub-cat-1" class="post-sub-category-list list-unstyled collapse in" expanded="true">
							<li data-subCategoryId="Aging">
								<div class="btn-group custom-checkbox" data-toggle="buttons">
									<label class="btn btn-default">
									<input id="sub-cat-1_1" name="subcat[]" type="checkbox" autocomplete="off">
									<span class="fa fa-check"></span>
									</label>Aging</div>
							</li>
							<li data-subCategoryId="Devices">
								<div class="btn-group custom-checkbox" data-toggle="buttons">
									<label class="btn btn-default">
									<input id="sub-cat-1_2" name="subcat[]" type="checkbox" autocomplete="off">
									<span class="fa fa-check"></span>
									</label>Devices</div>
							</li>
							<li data-subCategoryId="Male_Aesthetics">
								<div class="btn-group custom-checkbox" data-toggle="buttons">
									<label class="btn btn-default">
									<input id="sub-cat-1_3" name="subcat[]" type="checkbox" autocomplete="off">
									<span class="fa fa-check"></span>
									</label>Male Aesthetics</div>
							</li>
						</ul>
					</div>
					<div class="post-sub-category">
						<h5 data-subCategory="Exposome" data-toggle="collapse" aria-expanded="true" data-target="#sub-cat-2" class="post-sub-category-title">Exposome</h5>
						<ul id="sub-cat-2" class="post-sub-category-list list-unstyled collapse in" expanded="true">
							<li  data-subCategoryId="Photopollution">
								<div class="btn-group custom-checkbox" data-toggle="buttons">
									<label class="btn btn-default">
									<input id="sub-cat-2_1" name="subcat[]" type="checkbox" autocomplete="off">
									<span class="fa fa-check"></span>
									</label>Photopollution</div>
							</li>
							<li data-subCategoryId="Photoprotection">
								<div class="btn-group custom-checkbox" data-toggle="buttons">
									<label class="btn btn-default">
									<input id="sub-cat-2_2" name="subcat[]" type="checkbox" autocomplete="off">
									<span class="fa fa-check"></span>
									</label>Photoprotection</div>
							</li>
							<li data-subCategoryId="Pollution">
								<div class="btn-group custom-checkbox" data-toggle="buttons">
									<label class="btn btn-default">
									<input id="sub-cat-2_3" name="subcat[]" type="checkbox" autocomplete="off">
									<span class="fa fa-check"></span>
									</label>Pollution</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="input-group crp-input preview-publish-mobile visible-xs">
				<input type="submit" id="mcreatePostPreview" data-IsUpdate="True" class="btn btn-primary" data-preview-url="http://localhost:3000/components/preview/create-post-preview" value="preview"></input>
				<input type="submit" id="mcreatePostPublish" data-IsUpdate="True" class="btn btn-primary pull-right" value="publish">
			</div>
		</div>
		</div>
	</div>
	</form>
	<div id="publishPostModal" tabindex="-1" role="dialog" class="modal fade">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center"><p>Your post successfully published</p><button id="publishOk" type="button" data-dismiss="modal" class="btn btn-primary">Ok</button></div>
			</div>
		</div>
	</div>
	<div id="iphonePrivateBrowser" tabindex="-1" role="dialog" class="modal fade">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center"><p>This feature is not applicable in private browser</p><button id="publishOk" type="button" data-dismiss="modal" class="btn btn-primary">Ok</button></div>
			</div>
		</div>
	</div>
	<div id="plagiarismModal" tabindex="-1" role="dialog" class="modal fade" data-backdrop="static">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center">
				  <p>Please confirm there is no plagiarism or There is no Copyright</p>
				  <button type="button" class="btn btn-primary" id="plagiarismOk">Ok</button>
		          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>		      	
			</div>
		</div>
	</div>
</div>
<!-- end create-post Content !-->
